<html>
<head>
    <title>{{ "Launching Application"|xlt }}</title>
</head>
<body>
<form method="POST" action="{{ endpoint }}">
    {# Do we want to show any kind of message...? For satellite or slow latency connections... we'd want to show something here. #}
</form>
<script>
    // grab the launch token and autosubmit it to the launch endpoint
    (function() {
        document.addEventListener("DOMContentLoaded", function(event) {
            var form = document.getElementsByTagName('form')[0];
            form.submit();
        });
    })();
</script>
</body>
</html>
