
/*
* edit rule
*/
.container-fluid {
    margin: 50px auto;
}

.heavy {
    font-weight: 600;
}
.field_err_marker {
    background-color: red;
}

.field_err_lbl_marker {
    color: red;
}

.intervals input[type='text'] {
    width:90px;
    margin-top:-1px;
}

input[type='text'].short {
    width: 80px;
}

.baseboard {
    border-bottom: 0.5pt lightskyblue dotted;
}
.underline {
    text-decoration: underline;
}

.icon_1 {
    position:absolute;
    top: 15px;
    right: 33px;
    z-index: 10;
}
.icon_2 {
    position:absolute;
    top: 15px;
    right: 69px;
    z-index: 10;
}

.icon_3 {
    position:absolute;
    top: 15px;
    right: 109px;
    z-index: 10;
}
.icon_A1 {
    position:absolute;
    top: 0px;
    right: 33px;
    z-index: 10;
}
.icon_A2 {
    position:absolute;
    top: 0px;
    right: 69px;
    z-index: 10;
}

.table {
    display: block;
    max-height: 500px;
    overflow-y: scroll;
}

.table > tbody > tr > td {
    vertical-align: middle !important
}
.title {
    width:75%;
    float: left;
    font-weight: bold;
    padding: 3px 10px;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #18133a;
    border-bottom: 1.5pt solid #455832;
    margin: 0 auto 25px;

}
.title2 {
    margin: 1.5rem;
    width:75%;
    float: left;
    font-weight: 500;
    padding: 3px 10px;
    text-transform: uppercase;
    line-height: 20px;
    color: #660000;
    border-bottom: 1pt solid #455832;
}
.title3 {
    font-weight: 500;
    padding: 10px 10px 3px;
    text-transform: uppercase;
    line-height: 20px;
    color: #660000;
    border-bottom: 1pt solid #455832;
    text-align: center;
}
.title4 {
    font-weight: 500;
    padding: 40px 10px 3px;
    line-height: 20px;
    text-align: center;
}

.rule_text {
    margin: 0px 20px 10px;
    text-align: justify-all;
}

.section {
    margin: 1rem !important;
    box-shadow: 5px 5px 9px #7b777760;
    border: 1.00pt solid #000000;
    background:#ffffff;
    padding: 6px;
    border-radius: 3px;
    padding-bottom:10px;
    min-height:275px;
}

.section2 {
    margin: 0 1rem !important;
    box-shadow: 5px 5px 9px #7b777760;
    border: 1.00pt solid #000000;
    background:#ffffff;
    padding: 6px;
    border-radius: 3px;
    padding-bottom:10px;
}

.modal
{
    overflow: hidden;
}
.modal-dialog{
    margin-right: 0;
    margin-left: 0;
}
.modal-header{      /* not necessary but imo important for user */
    cursor: move;
}
.in{
    Xopacity:0;
    Xbackground-color: unset;
}

input[type="text"] {
    width:80%;
}

.indent10 {
    padding-left:10px;
}

.red {
    color: red;
}
.bolder {
    font-weight: 500;
}

.tight {
    white-space: nowrap;
    vertical-align: middle;
}
.tight  input[type="text"] {
    max-width:30px;
}
.tight  select{
    max-width:100px;
    display:unset;
    height:unset;
}
.nowrap {
    white-space: nowrap;
    vertical-align: middle;
}
.table-100 {
    width:100%;
}
.btn-local {
    width:100px;
}
.dropdown-toggle:after { content: none !important; }

td > textarea {
    width:80%;
}
.button {
    color:unset !important;
}
.inline {
    display:inline;
}
.margin-auto {
    margin:auto !important;
    float:unset; //remove this when css_button stuff removed from themes
}

.menu_bottom