/* Bootstrap Code */

/* Default Colors */
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$black: #000;

/* Default Grays */
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

/* Equivalents to bg-light/dark as well as default for gray */
$light: $gray-100;
$dark: $gray-800;
$gray: $gray-600;

$body-bg: $white;
$body-color: $gray-900;

/* Array of theme colors that can be added to */
$theme-colors: (
  primary: $blue,
  secondary: $gray-100,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
  body-color: $body-color
);

/* Array of random colors that can be added to */
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
  "black": $black,
  "gray100": $gray-100,
  "gray200": $gray-200,
  "gray300": $gray-300,
  "gray400": $gray-400,
  "gray500": $gray-500,
  "gray600": $gray-600,
  "gray700": $gray-700,
  "gray800": $gray-800,
  "gray900": $gray-900
);

/* Above adds overrides to allow regular CSS coloring */

$font-family-sans-serif: "Lato", "Helvetica", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 0.875rem;
$rfs-base-value: 0.875rem;
$font-family-base: $font-family-sans-serif;

$close-color: $black;
$close-text-shadow: 0 1 0 $black;

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex, initial, inherit;

// Enables responsive text for Bootstrap
$enable-responsive-font-sizes: true;
// Import Bootstrap 4 SCSS Files before doing anything
// This gets replaced in gulp now -- do not touch
// bs4import

// Fix Font Awesome fonts path
$fa-font-path: "../assets/@fortawesome/fontawesome-free/webfonts";
// Font Awesome Import
@import "../../../public/assets/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../public/assets/@fortawesome/fontawesome-free/scss/brands";
@import "../../../public/assets/@fortawesome/fontawesome-free/scss/regular";
@import "../../../public/assets/@fortawesome/fontawesome-free/scss/solid";

@import "../core";

@import "../theme-defaults";

@import "../navigation-slide/future-bootstrap";

/* Overrides go here */

.btn-secondary {
  background-color: rgba($black, 0.05) !important;
  border-color: $gray-500 !important;
  color: rgba($black, 0.87) !important;
}

/* search any */
@import "../oe-bootstrap";
@import "../oe-common/all-common-import";
