/*
*
*   Dark Theme for OpenEMR
*   @author Tyler Wrenn
*
*   Colors that are declared below have been inverted to show the dark theme.
*
*/

/* Bootstrap Magic Code */
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #000;
$gray-100: #212529;
$gray-200: #343a40;
$gray-300: #495057;
$gray-400: #868e96;
$gray-500: #adb5bd;
$gray-600: #ced4da;
$gray-700: #dee2e6;
$gray-800: #e9ecef;
$gray-900: #f8f9fa;
$black: #fff;
$ovr-dark: $gray-100;
$ovr-light: $gray-800;
$light: $gray-100;
$dark: $gray-800;
$gray: $gray-600;

$body-bg: $white;
/* This is actually dark */
$body-color: $gray-900;
/* This is actually light */

$theme-colors: (
  primary: $blue,
  secondary: $gray-900,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
  ovr-dark: $ovr-dark,
  ovr-light: $ovr-light,
  body-color: $body-color
);
/* Above adds override class in case we HAVE to have a dark/light color */

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
  "black": $black,
  "gray100": $gray-100,
  "gray200": $gray-200,
  "gray300": $gray-300,
  "gray400": $gray-400,
  "gray500": $gray-500,
  "gray600": $gray-600,
  "gray700": $gray-700,
  "gray800": $gray-800,
  "gray900": $gray-900
);
/* Above adds overrides to allow regular CSS coloring */

$font-family-sans-serif: "Lato", "Helvetica", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 0.875rem;
$rfs-base-value: 0.875rem;
$font-family-base: $font-family-sans-serif;

$btn-link-disabled-color: $gray-400;
$close-color: $black;
$close-text-shadow: 0 1 0 $black;
$login-text-color: #000;

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex, initial, inherit;

// Enables responsive text for Bootstrap
$enable-responsive-font-sizes: true;
// Import Bootstrap 4 SCSS Files before doing anything
// This gets replaced in gulp now -- do not touch
// bs4import

// Fix Font Awesome fonts path
$fa-font-path: "../assets/@fortawesome/fontawesome-free/webfonts";
// Font Awesome Import
@import "../../../public/assets/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../public/assets/@fortawesome/fontawesome-free/scss/brands";
@import "../../../public/assets/@fortawesome/fontawesome-free/scss/regular";
@import "../../../public/assets/@fortawesome/fontawesome-free/scss/solid";

@import "../core";

/* Core defaults for themes */
@import "../theme-defaults";

@import "../navigation-slide/future-bootstrap";

/* Overrides go here */
.btn-secondary {
  color: $ovr-dark !important;
}

.menuLabel:hover {
  color: $ovr-dark !important;
}

.menuDisabled {
  color: $ovr-dark !important;
}

.menuEntries li .menuLabel:hover {
  color: $ovr-dark !important;
}

.documents_list a {
  color: $body-color !important;
}

/* Changes all SVG colors to white to match theme */
.about-review-image > #color {
  fill: $black !important;
}

#mainBox .logo .emr-menu-logo > #blue-color,
#mainBox_vertical .logo .emr-menu-logo > #blue-color {
  fill: $black !important;
}

/*search any*/
@import "../oe-bootstrap";
@import "../oe-common/all-common-import";
