/*
*
*   Slate Theme for OpenEMR
*   @author Tyler Wrenn
*   Powered and Colored by Bootswatch
*
*/

/* Bootstrap Code */

/* All variables are imported by bootswatch */
@import "../../../public/assets/bootswatch/dist/slate/variables";

/* Required for OpenEMR */
$gray: $gray-600;

/* Color fix */
$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $light,
    dark: $dark
);
$colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800
);

/* This needs to be the default Bootstrap value for OpenEMR so it doesn't break */
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 0.75rem;

$font-family-sans-serif: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;
$rfs-base-value: 0.875rem;

@import "../core";

/* Required bootswatch import */
@import "../../../public/assets/bootswatch/dist/slate/bootswatch";

@import "../theme-defaults";

@import "../navigation-slide/_future-bootstrap";

/* Overrides go here */
.calsearch_body {
    color: $black !important;
}

/* search any */
@import "../oe-bootstrap";
@import "../oe-common/all-common-import";