/*
*
*   Superhero Theme for OpenEMR
*   @author Tyler Wrenn
*   Powered and Colored by Bootswatch
*
*/

/* Bootstrap Code */

/* All variables are imported by bootswatch */
@import "../../../public/assets/bootswatch/dist/superhero/variables";

/* Required for OpenEMR */
$gray: $gray-600;

/* Color fix */
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $light,
  dark: $dark
);
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
  "black": $black,
  "gray100": $gray-100,
  "gray200": $gray-200,
  "gray300": $gray-300,
  "gray400": $gray-400,
  "gray500": $gray-500,
  "gray600": $gray-600,
  "gray700": $gray-700,
  "gray800": $gray-800,
  "gray900": $gray-900
);
/* Above adds overrides to allow regular CSS coloring */

/* This needs to be the default Bootstrap value for OpenEMR so it doesn't break */
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 0.75rem;

$font-family-sans-serif: "Lato", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 0.875rem;
$rfs-base-value: 0.875rem;
$font-family-base: $font-family-sans-serif;

// Login form bg change
$login-form-bg-color: $dark;
$login-color-2: $primary;
$login-color-3: darken($primary, 20%);
$login-button-primary: true;

// Enables responsive text for Bootstrap
$enable-responsive-font-sizes: true;
// Import Bootstrap 4 SCSS Files before doing anything
// This gets replaced in gulp now -- do not touch
// bs4import

// Fix Font Awesome fonts path
$fa-font-path: "../assets/@fortawesome/fontawesome-free/webfonts";
// Font Awesome Import
@import "../../../public/assets/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../public/assets/@fortawesome/fontawesome-free/scss/brands";
@import "../../../public/assets/@fortawesome/fontawesome-free/scss/regular";
@import "../../../public/assets/@fortawesome/fontawesome-free/scss/solid";

@import "../core";

/* Required bootswatch import */
@import "../../../public/assets/bootswatch/dist/superhero/bootswatch";

@import "../theme-defaults";

@import "../navigation-slide/future-bootstrap";

/* Overrides go here */
.calsearch_body {
  color: $black !important;
}

.bgcolor2 {
  background-color: $dark !important;
}

div.tab,
div.tab_long {
  background: $dark none repeat scroll 0 0 !important;
}

.oe-help-redirect {
  color: $white !important;
}

/* Add login design */
.login .container {
  background: $black !important;
  border: 10px solid $dark !important;
}

/* Makes tab font black */
.menuLabel {
  color: $dark !important;
}

/* Calendar Overrides */
#dateNAV,
#topToolbarRight #menu-toggle,
#providerPicker {
  color: $white !important;
}

#datePicker .tdMonthName-small {
  color: $black !important;
}


/* Tabs fixes */
.tabSpan,
.tabSpan .tabHidden,
.tabSpan .fa {
  color: $white !important;
}

.tabNotchosen,
.tabNotchosen .tabHidden,
.tabNotchosen .fa {
  color: $dark !important;
}

/* Changes all SVG colors to white to match theme */
.about-review-image > #color {
  fill: $white !important;
}

#mainBox .logo .emr-menu-logo > #blue-color,
#mainBox_vertical .logo .emr-menu-logo > #blue-color {
  fill: $primary !important;
}

/* search any */
@import "../oe-bootstrap";
@import "../oe-common/all-common-import";
