/* Bootstrap Code */

/* Default Colors */
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$black: #000;

/* Default Grays */
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

/* Manilla Theme-Specific Colors */
$manilla-gray: #c0c0c0;

/* Equivalents to bg-light/dark as well as default for gray */
$light: $gray-100;
$dark: $gray-800;
$gray: $gray-600;

/* Array of theme colors that can be added to */
$theme-colors: (
    primary: $blue,
    secondary: $gray-100,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $gray-100,
    dark: $gray-800
);

/* Array of random colors that can be added to */
$colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800
);

$body-bg: $white;
$body-color: $gray-900;
$font-family-sans-serif: "source_sans_pro", "FontAwesome", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1rem;
$font-family-base: $font-family-sans-serif;

$close-color: $black;
$close-text-shadow: 0 1 0 $black;

@import "../core";

@import "../theme-defaults";

/* All overrides */
.nav-menu-img {
    display: none !important;
}

body {
    margin: 0px 0px 0px 2px !important;
    content: "\f0c4" !important;
}

.menu,
.menu_selected,
.logout {
    font-style: italic !important;
    font-size: 0.95em !important;
}

.text {
    color: darken($danger, 40%) !important;
}

.alert-custom,
.link {
    text-decoration: none !important;
    font-size: 0.8em !important;
}

.more,
.back,
.link_selected,
.link_selected:visited,
#addressbook_list tr.search,
#addressbook_list tr.detail {
    font-size: 0.8em !important;
}

.link_submit {
    font-size: 0.85em !important;
}

.items {
    font-size: 0.6em !important;
}

.title {
    font-size: 1.2em !important;
}

.title_bar {
    font-size: 1.0em !important;
}

.title_bar_top {
    font-size: 1.1em !important;
}

.sidebar {
    background: #fffbeb !important;
    font-size: 95% !important;
}

.sidebar .submenu {
    font-size: 90% !important;
}

.navbar-custom {
    padding: 0 !important;
}

#addressbook_list td {
    font-family: "source_sans_pro", "FontAwesome", "Arial", "Helvetica", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

#addressbook_list tr.head {
    font-size: 0.9em !important;
}

#addressbook_list .inputtext {
    font-family: 'source_sans_pro', 'FontAwesome', monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 0.8em !important;
}

#reports_list td,
#reports_list a,
#documents_list td,
#documents_list a {
    font-family: "source_sans_pro", "FontAwesome", "Helvetica", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

/*=============================================================
 * Patient Stats
 * seen in the patient stats screens
 *============================================================*/
#patient_stats table {
    width: 100%;
    background-color: $white;
    padding: 1em;
    border: 1px solid $black;
    -moz-box-shadow: 2px 2px 2px $manilla-gray;
    -webkit-box-shadow: 2px 2px 2px $manilla-gray;
    box-shadow: 2px 2px 2px $manilla-gray;
    border-radius: 5px;
}

#patient_stats table:first {
    border: none;
}

#patient_stats .head,
#patient_stats .detail {
    font-size: 0.9em !important;
}

/*=============================================================
 * Patient Past Encounters and Documents
 * seen in the patient encounter screen
 *============================================================*/
#patient_pastenc #tooltipdiv {
    font-size: 0.85em !important;
}

tr.odd {
    background-color: $gray !important;
}

td.even {
    background-color: $white !important;
}

/*
 * TABS
*/

ul.tabNav {
    padding-top: 0 !important;
    background: inherit !important;
}

ul.tabNav li {
    float: left;
    margin: 0 3px 0 0;
    padding: 0.5px 0 0 !important;
    font-size: 0.8em;
    vertical-align: bottom;
    text-align: left;
    border-radius: 8px 8px 0 0;
    position: relative;
    z-index: 1;
    top: 2px;
    border-left: 1px solid $black;
    border-top: 1px solid $black;
    border-right: 1px solid $black;
}

ul.tabNav li.current {
    font-weight: bold;
    font-size: 0.8em;
    vertical-align: bottom;
    text-align: left;
    position: relative;
    z-index: 3;
    top: 0.0875em;
    border-left: 1px solid $black;
}

ul.tabNav a {
    background: #F8E6CB;
    color: $dark !important;
    padding: 8px !important;
    border-radius: 8px 8px 0 0;
    box-shadow: 2px -1px 1px $manilla-gray;
}

div.tabContainer {
    clear: both;
    float: left;
    width: 100%;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 0px 0px 10px #f0f0f0;
    border: 1px solid $manilla-gray;
    position: relative;
    z-index: 1;
    background-color: $white;
    margin-top: -0.1px;
    margin-bottom: 2em;
    padding: 10px;
}

div.tabContainer div.tab {
    border: none;
    color: $black;
    display: none;
    padding: 10px;
}

div.tabContainer div.current {
    box-shadow: 0;
    display: block;
}

div.tab {
    min-height: 180px;
    background: $white none repeat scroll 0 0;
    margin-bottom: 10px;
    width: 800px;
    border: 1px solid $black;
    border-radius: 5px;
}

div.tab_long {
    min-height: 180px;
    background: $white none repeat scroll 0 0;
    margin-bottom: 10px;
    width: 100%;
}

div.tab p:last-child {
    margin-bottom: 0;
}

table {
    border-collapse: separate;
}

td .div {
    border-left: 1px solid $black;
}

div.notab {
    background: $white none repeat scroll 0 0;
    margin-bottom: 10px;
    border: 1px solid $manilla-gray;
    background-color: $white;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 2px 4px $manilla-gray;
    padding-left: 10px;
    margin-bottom: 2em;
    width: initial;
}

div.notab-right {
    border: 1px solid $manilla-gray;
    background-color: $white;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 2px 4px $manilla-gray;
    padding-left: 10px;
    margin-bottom: 2em;
    width: initial;
}

.section-header {
    clear: both;
    border: 1px solid $black;
    background-color: #f8e8cb;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 0px 5px $manilla-gray;
    padding: 6px;
    margin: initial;
}

.section-header-dynamic {
    clear: both;
    border: 1px solid $black;
    background-color: #f8e8cb;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 0px 5px $manilla-gray;
    padding: 6px;
    margin: inherit;
}

.summary_item {
    margin: 0 auto 10px;
    background: $white none repeat scroll 0 0;
    margin-bottom: 10px;
    border: 1px solid $manilla-gray;
    background-color: $white;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 2px 4px $manilla-gray;
}

div.summary_item div {
    margin: 1em auto;
}

/**
* List-table formatting
**/

.showborder td,
.showborder_head th,
.shownoborder td,
.showborder_long tr td {
    font-size: 0.75rem !important;
}

/**
* Drug lookup
**/
.drug_lookup {
    font-family: 'source_sans_pro', 'FontAwesome', "Helvetica", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 0.6875rem !important;
}

/* Style for red font */
.redtext {
    font-size: 0.8125rem !important;
}

/* Style for red font */

@import "../navigation-slide/_manilla";

body dl {
    background-color: #C9DBF2;
    border-bottom: 0.1px solid $black;
    -moz-box-shadow: 0 0 10px $black;
    -webkit-box-shadow: 0 0 10px $black;
    box-shadow: 0 0 10px $black;
    min-height: 0.5px;
}


#sddm li {
    padding: 0;
    background: #C9DBF2;
    /* for non-css3 browsers */
    color: $black;
}

#sddm li a {
    padding: 4px 10px;
    color: $black;
    font-size: 0.8em !important;
}

#sddm li a:hover {
    background: #16558C;
    color: $white;
}

#sddm div {
    background-color: #C9DBF2;
    box-shadow: 0px 6px 12px rgba($black, 0.176);
    min-width: 175px;
    border: 0.5pt solid $gray;
    border-radius: 0px 5px 5px 5px;
    color: $black;
    margin-top: 0px;
    padding-top: 3px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 4px;
    z-index: 20;
}

#sddm div a {
    background: #C9DBF2;
    color: $black;
}

#sddm div a:hover {
    background: #16558C;
}

#sddm td {
    border-top: 0 !important;
}

.example_menu {
    font-size: 70% !important;
}

.example_menu ul a:Subjective {
    font-weight: normal;
}

.example_menu ul a:hover {
    background: $light;
    text-decoration: underline;
}

/* Form styles */
.formtable {
    font-size: 0.8125rem !important;
}

.error-message {
    font-size: 0.6875rem !important;
}

/* flow board filters*/
#flow_board_parameters {
    padding: 8px;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid $black;
    box-shadow: 2px 2px 2px rgb(192, 192, 192);
}

#flow_board_parameters table {
    border: none;
}

#theform table table {
    background: $white;
    color: $dark;
    display: block;
    padding: 0px;
    text-decoration: none;
    border-bottom: 0.1px solid $black;
    box-shadow: 0px 0px 2px $manilla-gray;
    margin: 3px;
}

#theform th ul li {
    top: .375em;
}

#pattrk {
    background: $white;
    color: $dark;
    display: block;
    padding: 8px;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid $black;
    box-shadow: 2px 2px 2px $manilla-gray;
    margin: 0px auto;
}

#refreshme,
#setting_cog {
    font-size: 0.7em !important;
}

.calendar {
    z-index: 2;
}

.chevron_color {
    color: #063f80;
}

/* main.php*/
.body_main {
    background-color: $light;
}

/*~~openemr5 tabs menu , user and logout icon~~*/
#menu_icon,
#logout_icon,
#user_icon {
    color: $gray !important;
}

/*~~openemr5 tabs menu , user and logout icon~~*/
/*openrmr5.0.2 edit_globals vertical menu*/
#oe-nav-ul.tabNav li {
    border: none;
    border-radius: 0;
}

#oe-nav-ul.tabNav li.current {
    color: #676666;
}

#oe-nav-ul.tabNav a {
    background: $light;
    border-left: 2px solid $gray;
    border-bottom: 1px solid $gray-400;
}

#oe-nav-ul.tabNav a:hover {
    background-color: $white !important;
    color: $gray;
}

#oe-nav-ul.tabNav {
    background: rgba($black, .05) !important;
}

#oe-nav-ul.tabNav .current a {
    border-color: $gray;
    background: $white;
    color: #676666;
}

#globals-div .tabContainer {
    border-color: $gray;
}

.oe-global-tab-heading {
    color: #676666;
    margin-top: -20px;
}

.tabSpan {
    border-top: 3pt solid $gray !important;
    border-left: 1px solid $gray !important;
    border-right: 1px solid $gray !important;
}

.tabNotchosen {
    border-bottom: 1px solid $gray !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

/*openrmr5.0.2 edit_globals vertical menu*/
/*bootstrap navbar */
.navbar-collapse.collapse.in {
    background-color: $light !important;
    color: $black !important;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: $dark;
    background-color: #eee;
}

/*search any*/
@import "../oe-bootstrap";
@import "../oe-common/all-common-import";