
{if $drag_drop == 0}
<form method=post enctype="multipart/form-data" action="{$FORM_ACTION}" onsubmit="return top.restoreSession()">
<input type="hidden" name="MAX_FILE_SIZE" value="64000000" />

{if (!($patient_id > 0)) }
  <div class="text" style="color:red;">
    {xl t="IMPORTANT: This upload tool is only for uploading documents on patients that are not yet entered into the system. To upload files for patients whom already have been entered into the system, please use the upload tool linked within the Patient Summary screen."}
    <br/>
    <br/>
  </div>
{/if}

<div class="text">
    {xl t="NOTE: Uploading files with duplicate names will cause the files to be automatically renamed (for example, file.jpg will become file.1.jpg). Filenames are considered unique per patient, not per category."}
    <br/>
    <br/>
</div>
<div class="text bold">
    {xl t="Upload Document"} {if $category_name} {xl t="to category"} '{$category_name}'{/if}
</div>
<div class="text">
    <p><span>{xl t="Source File Path"}:</span> <input type="file" name="file[]" id="source-name" multiple="true"/>&nbsp;(<font size="1">{xl t="Multiple files can be uploaded at one time by selecting them using CTRL+Click or SHIFT+Click."}</font>)</p>
    <p><span title="{xl t='Leave Blank To Keep Original Filename'}">{xl t="Optional Destination Name"}:</span> <input type="text" name="destination" title="{xl t='Leave Blank To Keep Original Filename'}" id="destination-name" /></p>
    {if !$hide_encryption}
	</br>
	<p><span title="{xl t='Check the box if this is an encrypted file'}">{xl t="Is The File Encrypted?"}:</span> <input type="checkbox" name="encrypted" title="{xl t='Check the box if this is an encrypted file'}" id="encrypted" /></p>
	<p><span title="{xl t='Pass phrase to decrypt document'}">{xl t="Pass Phrase"}:</span> <input type="text" name="passphrase" title="{xl t='Pass phrase to decrypt document'}" id="passphrase" /></p>
	<p><i>{xl t='Supports TripleDES encryption/decryption only.'}</i></p>
    {/if}
    <p><input type="submit" value="{xl t='Upload'}" /></p>
</div>

<input type="hidden" name="patient_id" value="{$patient_id}" />
<input type="hidden" name="category_id" value="{$category_id}" />
<input type="hidden" name="process" value="{$PROCESS}" />
</form>

<!-- Section for document template download -->
<form method='post' action='interface/patient_file/download_template.php' onsubmit='return top.restoreSession()'>
<input type='hidden' name='patient_id' value='{$patient_id}' />
<p class='text bold'>
 {xl t="Download document template for this patient and visit"}
</p>
<p class='text'>
 <select name='form_filename'>{$TEMPLATES_LIST}</select> &nbsp;
 <input type='submit' value='{xl t="Fetch"}' />
</p>
</form>
<!-- End document template download section -->

{if !empty($file)}
	<div class="text bold">
		<br/>
		{xl t='Upload Report'}
	</div>
	{foreach from=$file item=file}
		<div class="text">
			{if $error}<i>{$error}</i><br/>{/if}
			{xl t='ID'}: {$file->get_id()}<br>
			{xl t='Patient'}: {$file->get_foreign_id()}<br>
			{xl t='URL'}: {$file->get_url()}<br>
			{xl t='Size'}: {$file->get_size()}<br>
			{xl t='Date'}: {$file->get_date()}<br>
			{xl t='Hash'}: {$file->get_hash()}<br>
			{xl t='MimeType'}: {$file->get_mimetype()}<br>
			{xl t='Revision'}: {$file->revision}<br><br>
		</div>
	{/foreach}
{/if}

<input type="hidden" name="patient_id" value="{$patient_id}" />
<input type="hidden" name="category_id" value="{$category_id}" />
<input type="hidden" name="process" value="{$PROCESS}" />
</form>
{else}
<div class="text bold">
    {xl t="Upload Document"} {if $category_name} {xl t="to category"} '{$category_name}'{/if}
	<p>After upload select category to refresh screen to see newly uploaded doc</p>
	<p>Upload one file at a time</p>
		<img src="./images/drag-drop.png">
</div>
<!-- Bootstrap styles -->
<link rel="stylesheet" href="./library/js/jQuery-File-Upload-9.8.0/css/bootstrap.min.css">
<link rel="stylesheet" href="./library/js/jQuery-File-Upload-9.8.0/css/style.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="./library/js/jQuery-File-Upload-9.8.0/css/jquery.fileupload.css">
<h2>Drag and Drop File Here</h2>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
	   <div class="progress-bar progress-bar-success"></div>
    </div>
	<div id="dragdrop" class="dragdrop">
	<form id="drag_drop" enctype="multipart/form-data" onsubmit="return top.restoreSession()">
	  
      <input id="fileupload" type="file" name="files[]" data-url="./sites/default/uploader/dropdoc.php" >
      <input type="hidden" name="patient_id" value="{$patient_id}" >
	  <input type="hidden" name="category_id" value="{$category_id}" />
	  
	
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script src="./library/js/jQuery-File-Upload-9.8.0/js/vendor/jquery.ui.widget.js"></script>
			<script src="./library/js/jQuery-File-Upload-9.8.0/js/jquery.iframe-transport.js"></script>
			<script src="./library/js/jQuery-File-Upload-9.8.0/js/jquery.fileupload.js"></script>
			<link rel="stylesheet" href="./library/js/jQuery-File-Upload-9.8.0/css/style.css">
			<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
			<link rel="stylesheet" href="./library/js/jQuery-File-Upload-9.8.0/css/jquery.fileupload.css">
				{literal}
				<script>
					
				$(function () {

					$('#fileupload').fileupload({
						dataType: 'json',
						done: function (e, data) {
							$.each(data.result.files, function (index, file) {
								$('<p/>').text(file.name).appendTo(document.body);
							});
							setTimeout(function() {
							$('#progress .progress-bar').css('width',0);
							}, 1500);
						},
						progressall: function (e, data) {
							var progress = parseInt(data.loaded / data.total * 100, 10);
							$('#progress .progress-bar').css(
								'width',
								progress + '%'
							);
						}
					}).prop('disabled', !$.support.fileInput) 
					   .parent().addClass($.support.fileInput ? undefined : 'disabled');
                                         
				});

				</script>
				{/literal}
     </div>
    </form><br>
		<!-- Section for document template download -->
			<form method='post' action='interface/patient_file/download_template.php' onsubmit='return top.restoreSession()'>
			<input type='hidden' name='patient_id' value='{$patient_id}' />
			<p class='text bold'>
			 {xl t="Download document template for this patient and visit"}
			</p>
			<p class='text'>
			 <select name='form_filename'>{$TEMPLATES_LIST}</select> &nbsp;
			 <input type='submit' value='{xl t="Fetch"}' />
			</p>
			</form>
		<!-- End document template download section -->
{/if}