<html>
<head>
{php}html_header_show();{/php}

<link rel="stylesheet" href="{php}echo $GLOBALS['css_header']; {/php}" type="text/css">

{literal}
{/literal}

<script src="DocumentTreeMenu.js" language="JavaScript" type="text/javascript"></script>
</head>
<!--<body bgcolor="{$STYLE.BGCOLOR2}">-->
<body class="body_top">
<div class="title">{xl t='Documents'}</div>
<div id="documents_list">
<table>
	<tr>
		<td height="20" valign="top">{xl t='Categories'} &nbsp;
            (<a href="#" onclick="javascript:objTreeMenu_1.collapseAll();return false;">{xl t='Collapse all'}</a>)
		</td>
	</tr>
	<tr>
		<td valign="top">{$tree_html}</td>
	</tr>
</table>
</div>
<div id="documents_actions">
		{if $message}
			<div class='text' style="margin-bottom:-10px; margin-top:-8px"><i>{$message}</i></div><br>
		{/if}
		{if $messages}
            <div class='text' style="margin-bottom:-10px; margin-top:-8px"><i>{$messages}</i></div><br>
		{/if}
		{$activity}
</div>
</body>
</html>
