/*
 * CSS BUTTONS
*/

.message-table-header, #searchResultsHeader, #searchResultsHeader th, #addressbook_list tr.head, .signout-heading, #report_results table thead, .dehead, .showborder_head {
    background: $mid;
    /*styles the message table header*/
}
input[type="button"], input[type="submit"], button {
    background: $darker;
    color: $white !important;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 2px;
}
.head, #searchCriteria {
    background: $mid !important;
}
#searchCriteria {
    padding: 0px !important;
    margin-bottom: 5px;
}
input[type="button"]:focus, input[type="button"]:active:focus, input[type="button"].active:focus, input[type="submit"]:focus, input[type="submit"]:active:focus, button.active:focus, button:focus, button:active:focus, button.active:focus {
    /*transform: translateY(2px);*/
}
input[type="text"], input[type="entry"], input[type="password"], input[type="search"], textarea {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid $darker !important;
    padding: 2px 3px;
    margin: 3px !important;
}
select {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid $darker !important;
    margin: 3px;
}
input[type="text"]:focus, input[type="entry"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus, select:focus {
    background: $palepale;
    border-color: $darkest !important;
    box-shadow: 0 0 3px $midpale !important;
    outline: none;
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    transition: 0.2s linear all;
}
select[multiple] {
    height: auto !important;
}
.css_button_small, .css_button {
    display: inline-block;
    padding: 2px 3px;
    margin-bottom: 0;
    margin-#{$right}: 3px;
    float: $left;
    font-size: 10px;
    font-weight: 600;
    color: $white !important;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background: $darker;
    border: 1px solid transparent;
    border-radius: 2px;
    opacity: 1;
}
.css_button_small:focus, .css_button_small:active:focus, .css_button_small.active:focus, .css_button_small.focus, .css_button_small:active.focus, .css_button_small.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.css_button_small:hover, .css_button_small:focus, .css_button_small.focus, .css_button:hover, .css_button:focus, .css_button.focus {
    color: $white;
    text-decoration: none;
}
.css_button_small:active, .css_button_small.active, .css_button:active, .css_button.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    transform: translateY(2px);
}
.css_button_small.disabled, .css_button_small[disabled], fieldset[disabled] .css_button_small {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.css_button_icon {
    padding: 2px 12px;
}
a:visited .css_button_small, a.css_button_small, a:visited .css_button, a.css_button {
    color: $white;
}
.css_button_small span {}
.css_button {}
.css_button span {}
.btn {
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    padding: 5px 14px 6px;
    text-shadow: none;
    color: #333;
    font-size: 12px !important;
    line-height: 1 !important;
    border-bottom-color: #bbb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    transition: 0.1s linear all;
}
.btn.large {
    font-size: 16px;
    line-height: normal;
    padding: 9px 14px 9px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.btn.small {
    padding: 3px 3px 3px;
    font-size: 9px;
}
.btn-custom {
    background-color: #0084cc hsl(201, 100%, 40%) !important;
    background-repeat: repeat-x;
    filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#0084cc', endColorstr='#0084cc')");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#0084cc), to(#0084cc));
    background-image: -moz-linear-gradient(top, #0084cc, #0084cc);
    background-image: -ms-linear-gradient(top, #0084cc, #0084cc);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0084cc), color-stop(100%, #0084cc));
    background-image: -webkit-linear-gradient(top, #0084cc, #0084cc);
    background-image: -o-linear-gradient(top, #0084cc, #0084cc);
    background-image: linear-gradient(#0084cc, #0084cc);
    border-color: #0084cc #0084cc hsl(201, 100%, 40%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
    -webkit-font-smoothing: antialiased;
}