/*
 * CSS BUTTONS
 */

/*
*
*   TO BE REMOVED
*
*/

.css_button_small {
    background: $primary;
    color: $white !important;
    display: block;
    float: $left;
    font-weight: 400;
    margin-#{$right}: 3px;
    padding-right: 10px;
    /* sliding doors padding */
    text-decoration: none;
    padding: 5px 12px 5px;
    border: none;
    font-size: 0.7em;
}

.css_button_small span {
    display: block;
}

.css_button_small:hover {
    background: darken($primary, 15%);
    text-decoration: none;
}

.css_button,
input[type="button"],
input[type="submit"],
button {
    background: $primary;
    color: $white !important;
    display: block;
    font-weight: 400;
    float: $left;
    margin-#{$right}: 3px;
    padding-right: 10px;
    /* sliding doors padding */
    text-decoration: none;
    padding: 5px 12px 5px;
    border: none;

    .css_button_small {
        font-size: 0.7em;
    }
}

.css_button span,
input[type="button"] span,
button span {
    display: inline;
}

.css_button[href*="deleter"],
input[type="button"][href*="deleter"],
button[href*="deleter"] {
    background: $danger !important;
}

.css_button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
    background: #1050b6;
    text-decoration: none;
}

.css_btn {
    background: $primary;
    color: $white !important;
    display: block;
    float: left;
    font-weight: 400;
    margin-right: 3px;
    padding-right: 10px;
    /* sliding doors padding */
    text-decoration: none;
    padding: 5px 12px 5px;
    border: none;
}

.css_btn:hover {
    color: orangered;
}

.modal-footer > button {
    float: none !important;
}

.btn-link {
    color: #444 !important;
}

input[type="button"][style="background-color:#ffff55"] {
    background: $primary !important;
}

input[type="text"] {
    background: $white;
    border: 1px solid #444444;
    padding: 3px;
    margin: 3px;
}
