/*
 * CSS BUTTONS
 */

.css_button_small {
    background: #2672ec;
    color: #ffffff !important;
    display: block;
    float: $left;
    font-weight: 400;
    margin-#{$right}: 3px;
    padding-right: 10px;
    /* sliding doors padding */
    text-decoration: none;
    padding: 5px 12px 5px;
    border: none;
    font-size: 0.7em;
}
.css_button_small span {
    display: block;
}
.css_button_small:hover {
    background: #1050b6;
    text-decoration: none;
}
.css_button, input[type="button"], input[type="submit"], button {
    background: #2672ec;
    color: #ffffff !important;
    display: block;
    font-weight: 400;
    float: $left;
    margin-#{$right}: 3px;
    padding-right: 10px;
    /* sliding doors padding */
    text-decoration: none;
    padding: 5px 12px 5px;
    border: none;
    .css_button_small {
        font-size: 0.7em;
    }
}
.css_button span, input[type="button"] span, button span {
    display: inline;
}
.css_button[href*="deleter"], input[type="button"][href*="deleter"], button[href*="deleter"] {
    background: red !important;
}
.css_button:hover, input[type="button"]:hover, input[type="submit"]:hover, button:hover {
    background: #1050b6;
    text-decoration: none;
}
.css_btn {
    background: #2672ec;
    color: #ffffff !important;
    display: block;
    float: left;
    font-weight: 400;
    margin-right: 3px;
    padding-right: 10px;
    /* sliding doors padding */
    text-decoration: none;
    padding: 5px 12px 5px;
    border: none;
}
.css_btn:hover {
    color: orangered;
}
.modal-footer>button {
    float: none !important;
}
.btn-default {
    background: rgba(0, 0, 0, 0.05) !important;
    color: rgba(0, 0, 0, 0.87) !important;
}
.btn-link {
    color: #444 !important;
}
input[type="button"][style="background-color:#ffff55"] {
    background: #2672ec !important;
}
input[type="text"] {
    background: #ffffff;
    border: 1px solid #444444;
    padding: 3px;
    margin: 3px;
}