/*
 * CSS BUTTONS
*/

/* add ons testing */

.css_button_small {
    background: #063f80;
    color: #ffffff !important;
    display: inline-block;
    font-weight: 600;
    margin-#{$right}: 3px;
    /* sliding doors padding */
    text-decoration: none;
    padding: 2px 7px 2px;
    border: none;
    font-size: 0.7em;
    box-shadow: 2px 1px 4px #88888B;
    border-radius: 5px;
}
.css_button_small span {
    display: inline-block;
}
.css_button_small:hover {
    background: #1050b6;
    box-shadow: 0px 1px 3px #DDD;
    text-decoration: none;
}
#dateNAV {
    font-size: 1.1em !important;
}
.css_button, input[type="button"], input[type="submit"], button {
    background: #063f80;
    color: #ffffff !important;
    display: inline-block;
    font-weight: 600;
    margin: 4px;
    vertical-align: middle;
    /* sliding doors padding */
    text-decoration: none;
    padding: 4px 6px 4px;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    box-shadow: 2px 1px 2px #88888B !important;
}
.css_button span, input[type="button"] span, button span {
    display: inline-block;
}
.css_button[href*="deleter"], input[type="button"][href*="deleter"], button[href*="deleter"] {
    background: red !important;
}
.css_button:hover, input[type="button"]:hover, input[type="submit"]:hover, button:hover {
    background: #1050b6;
    box-shadow: 3px 4px 6px #DDD;
    text-decoration: none;
}
input[type="button"][style="background-color:#ffff55"] {
    background: #2672ec !important;
}
input[type="text"] {
    background: #fff;
    border: 1px solid #444;
    padding: 3px;
    margin: 3px;
    display: inline-block;
    border: 1px solid #CCC !important;
    box-shadow: 0px 1px 3px #DDD inset;
    border-radius: 4px;
    box-sizing: border-box;
    /*max-width: 90%; RP_2018-06-03 for login textbox*/
}
.btn-default {
    color: #444444 !important;
}
.btn-link {
    color: #444444 !important;
}