<html>
<head>
{literal}
 <style type="text/css" title="mystyles" media="all">
<!--
td {
	font-size:12pt;
	font-family:helvetica;
}
.small {
	font-size:9pt;
	font-family:helvetica;
	text-decoration: none;
}
.small:hover {
	text-decoration: underline;
}
li{
	font-size:11pt;
	font-family:helvetica;
	margin-left: 15px;
}
a {
	font-size:11pt;
	font-family:helvetica;
}
-->
</style>
{/literal}
</head>
<body bgcolor="{$STYLE.BGCOLOR2}">
<table>
	<tr>
		<td valign="top">
		Settings<br />
			<ul style="list-style: none;">
				<lh><a href="{$TOP_ACTION}pharmacy&action=list">Pharmacies</a></lh>
				<li><a href="{$TOP_ACTION}pharmacy&action=edit">Add a Pharmacy</a></li>
				<!--<lh><br /><a href="{$TOP_ACTION}pharmacist">Pharmacists</a></lh>-->
				<br>
				<lh><a href="{$TOP_ACTION}insurance_company&action=list">Insurance Companies</a></lh>
				<li><a href="{$TOP_ACTION}insurance_company&action=edit">Add a Company</a></li>
				<br>
				<lh><a href="{$TOP_ACTION}insurance_numbers&action=list">Insurance Numbers</a></lh>
				<li><a href="{$TOP_ACTION}x12_partner&action=list">X12 Partners</a></li>
				<br>
				<br>
				<lh><a href="{$TOP_ACTION}document&action=queue">Documents</a></lh>
				<li><a href="{$TOP_ACTION}document_category&action=list">Edit Categories</a></li>
				<br><br><br>
				<lh><a href="{$TOP_ACTION}hl7&action=default">HL7 Viewer</a></lh>
			</ul>
		</td><td width="50">&nbsp;</td>
		<td valign="top"><br /><br />{$display}</td>
	</tr>
</table>
</body>
</html>
