<!DOCTYPE html>
<html>
<head>
    <title>{xlt t='Practice Settings'}</title>

    {headerTemplate assets='common'}

    <script>
        {literal}
        $(function() {
            $('.sidebar-expand button').on('click', function () {
                $(this).toggleClass("flip-y");
                $('.nav-sidebar').toggleClass("active");
            });
        });
        {/literal}
    </script>
</head>
<body class="body_top body-topnav">
    <nav class="nav navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <div class="sidebar-expand d-md-none">
                <button type="button" class="text-dark">
                    <i class="fa fa-angle-right fa-inverted"></i>
                </button>
            </div>
            <a class="navbar-brand" href="#">{xlt t='Practice Settings'}</a>
            <div id="practice-setting-nav">
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div>
                <nav class="nav-sidebar bg-light">
                    <div class="sidebar-content d-none d-md-block">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item"><a class="nav-link" href="{$TOP_ACTION}pharmacy&action=list">{xlt t='Pharmacies'}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{$TOP_ACTION}insurance_company&action=list">{xlt t='Insurance Companies'}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{$TOP_ACTION}insurance_numbers&action=list">{xlt t='Insurance Numbers'}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{$TOP_ACTION}x12_partner&action=list">{xlt t='X12 Partners'}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{$TOP_ACTION}document&action=queue">{xlt t='Documents'}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{$TOP_ACTION}hl7&action=default">{xlt t='HL7 Viewer'}</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <main class="main-full">
                <div class="">
                    <div class="page-header section-header">
                        <h2>{$ACTION_NAME}</h2>
                    </div>
                    <div>
                        {$display}
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
