<!DOCTYPE html>
<html>
<head>

    <title>{xlt t='Practice Settings'}</title>

    {headerTemplate assets='bootstrap-sidebar|common'}

</head>
<body class="body_top" style="padding-top: 35px;">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle visible-xs" data-toggle="sidebar" data-target=".sidebar">
                <span class="sr-only">{xlt t='Toggle navigation'}</span>
                <i class="fa fa-bars fa-inverted"></i>
            </button>
            <a class="navbar-brand" href="#">{xlt t='Practice Settings'}</a>
        </div>

        <div class="collapse navbar-collapse" id="practice-setting-nav">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 sidebar sidebar-{$direction} sidebar-sm-show">
            <ul class="nav navbar-stacked">
                <li><a href="{$TOP_ACTION}pharmacy&action=list">{xlt t='Pharmacies'}</a></li>
                <li><a href="{$TOP_ACTION}insurance_company&action=list">{xlt t='Insurance Companies'}</a></li>
                <li><a href="{$TOP_ACTION}insurance_numbers&action=list">{xlt t='Insurance Numbers'}</a></li>
                <li><a href="{$TOP_ACTION}x12_partner&action=list">{xlt t='X12 Partners'}</a></li>
                <li><a href="{$TOP_ACTION}document&action=queue">{xlt t='Documents'}</a></li>
                <li><a href="{$TOP_ACTION}hl7&action=default">{xlt t='HL7 Viewer'}</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-2">
            <div class="page-header section-header">
                <h2>{$ACTION_NAME}</h2>
            </div>
            <div>
                {$display}
            </div>
        </div>
    </div>
</div>
</body>
</html>
