/* error message = new validation */
.error-message{
    color:red;
    display:block;
    white-space: nowrap;
    font-weight: normal;
    font-size: 11px;
}
.error-border{
    border: 1px solid red;
}

/* pump configuration */
#pump-conf-info{
    position: relative;
    left: 122px;
    top: 21px;
}

#save{
    margin-bottom: 25px;
}

/* bottle balance screen */
.data-row{
    padding-bottom: 15px;
}
.big-font{
    font-size: 1.2em;
}
.balance-close-alert{
    font-size: 1.2em;
    margin-top: 20px;
}

/*bottle exceptions screen */
#delete-message{
    display: none;
}

.delete-link{
    cursor: pointer;
}

.delete-message span{
    font-size: 1.3em;
    margin-right: 15px;
    transform:scale(0);
    transition: transform 1s;
}

#delete-yes:hover, #delete-no:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.row-deleted{
    background: rgba(224, 27, 27, 0.29) !important;
}

/* rtl language */
.rtl .dataTables_length{
    float: none !important;
}
.rtl .dataTables_filter{
    float: left !important;
}
.rtl .dataTables_info{
    float: none !important;
}
.rtl .dataTables_paginate{
    float: left !important;
}