<entry>
  <act classCode="ACT" moodCode="EVN">
    <!-- Conforms to C-CDA 2.1 Problem Concern Act (V3) -->
    <templateId root="2.16.840.1.113883.10.20.22.4.3" extension="2015-08-01" />
    <!-- Diagnosis Concern Act -->
    <templateId root="2.16.840.1.113883.10.20.24.3.137" extension="2019-12-01"/>
    <id root="1.3.6.1.4.1.115" extension="{{object_id}}"/>
    <code code="CONC" codeSystem="2.16.840.1.113883.5.6" displayName="Concern" />
    {{#prevalencePeriod}}
    {{#completed_prevalence_period}}
    <statusCode code="completed" />
    {{/completed_prevalence_period}}
    {{^completed_prevalence_period}}
    <statusCode code="active" />
    {{/completed_prevalence_period}}
    {{{prevalence_period}}}
    {{/prevalencePeriod}}
    <entryRelationship typeCode="SUBJ">
      <observation classCode="OBS" moodCode="EVN">
        <!-- Conforms to C-CDA R2.1 Problem Observation (V3) -->
        <templateId root="2.16.840.1.113883.10.20.22.4.4" extension="2015-08-01" />
        <!-- Diagnosis template -->
        <templateId root="2.16.840.1.113883.10.20.24.3.135" extension="2019-12-01" />
        <id root="1.3.6.1.4.1.115" extension="{{object_id}}"/>
        <code code="29308-4" codeSystem="2.16.840.1.113883.6.1">
          <translation code="282291009" codeSystem="2.16.840.1.113883.6.96"/>
        </code>
        <statusCode code="completed" />
        {{#prevalencePeriod}}
        {{{prevalence_period}}}
        {{/prevalencePeriod}}
        <!-- QDM Attribute: Code -->
        {{> qrda_templates/template_partials/_data_element_codes_as_values}}
        {{#anatomicalLocationSite}}
          <!-- QDM Attribute: Anatomical Location Site -->
          {{> qrda_templates/template_partials/_anatomical_location_site}}
        {{/anatomicalLocationSite}}
        {{#authorDatetime}}
          <!-- QDM Attribute: Author dateTime -->
          {{> qrda_templates/template_partials/_author}}
        {{/authorDatetime}}
        {{#recorder}}
          <!-- QDM Attribute: Recorder -->
          <participant typeCode="PRF">
            {{> qrda_templates/template_partials/_entity}}
          </participant>
        {{/recorder}}
        {{#severity}}
          <!-- QDM Attribute: Severity -->
          {{> qrda_templates/template_partials/_severity}}
        {{/severity}}
      </observation>
    </entryRelationship>
  </act>
</entry>
