<entry>
  <substanceAdministration classCode="SBADM" moodCode="RQO" {{{negation_ind}}}>
    <!-- Conforms to C-CDA R2.1 Planned Immunization Activity -->
    <templateId root="2.16.840.1.113883.10.20.22.4.120"/>
    <!-- Immunization Order (V2) -->
    <templateId root="2.16.840.1.113883.10.20.24.3.143" extension="2019-12-01"/>
    <id root="1.3.6.1.4.1.115" extension="{{object_id}}"/>
    <text>{{description}}</text>
    <statusCode code="active"/>
    {{#activeDatetime}}
      <!-- QDM Attribute: Active dateTime -->
      {{{active_date_time}}}
    {{/activeDatetime}}
    {{> qrda_templates/template_partials/_immunization_details}}
    <consumable>
      <manufacturedProduct classCode="MANU">
        <!-- ** Immunization medication information ** -->
        <templateId root="2.16.840.1.113883.10.20.22.4.54" extension="2014-06-09" />
        <id root="{{random_id}}"/>
        <manufacturedMaterial>
          <!--  QDM Attribute: Code -->
          {{> _codes}}
          <lotNumberText>1</lotNumberText>
        </manufacturedMaterial>
      </manufacturedProduct>
    </consumable>
    {{#authorDatetime}}
      <!-- QDM Attribute: Author dateTime -->
      {{> qrda_templates/template_partials/_author}}
    {{/authorDatetime}}
    {{#requester}}
      <!-- QDM Attribute: Requester -->
      <participant typeCode="PRF">
        {{> qrda_templates/template_partials/_entity}}
      </participant>
    {{/requester}}
    {{#reason}}
      <!-- QDM Attribute: Reason -->
      {{> qrda_templates/template_partials/_reason}}
    {{/reason}}
    {{#negationRationale}}
      <!-- QDM Attribute: Negation Rationale -->
      {{> qrda_templates/template_partials/_reason}}
    {{/negationRationale}}
    {{#supply}}
      <!-- QDM Attribute: Supply -->
      <entryRelationship typeCode="REFR">
          {{> qrda_templates/template_partials/_immunization_supply_request}}
      </entryRelationship>
    {{/supply}}
  </substanceAdministration>
</entry>