<entry>
  <substanceAdministration classCode="SBADM" moodCode="EVN">
    <!-- Medication Activity (consolidation) template -->
    <templateId root="2.16.840.1.113883.10.20.22.4.16" extension="2014-06-09"/>
    <!-- Medication, Active template -->
    <templateId root="2.16.840.1.113883.10.20.24.3.41" extension="2019-12-01"/>

    <id root="1.3.6.1.4.1.115" extension="{{object_id}}"/>
    <text>{{description}}</text>
    <statusCode code="active"/>
    {{#relevantDatetime}}
      <!-- QDM Attribute: Relevant dateTime -->
      {{{relevant_date_time_value}}}
    {{/relevantDatetime}}
    {{^relevantDatetime}}
      {{#relevantPeriod}}
        <!-- QDM Attribute: Relevant Period -->
        {{{medication_duration_effective_time}}}
      {{/relevantPeriod}}
    {{/relevantDatetime}}
    {{> qrda_templates/template_partials/_medication_details}}
    <consumable>
      <manufacturedProduct classCode="MANU">
        <!-- Medication Information (consolidation) template -->
        <templateId root="2.16.840.1.113883.10.20.22.4.23" extension="2014-06-09"/>
        <id root="{{random_id}}"/>
        <manufacturedMaterial>
          {{> _codes}}
        </manufacturedMaterial>
        <manufacturerOrganization>
          <name>Medication Factory Inc.</name>
        </manufacturerOrganization>
      </manufacturedProduct>
    </consumable>
    {{#recorder}}
      <!-- QDM Attribute: Recorder -->
      <participant typeCode="PRF">
        {{> qrda_templates/template_partials/_entity}}
      </participant>
    {{/recorder}}
  </substanceAdministration>
</entry>
