<entry>
  <observation classCode="OBS" moodCode="EVN">
    <!-- Program Participation (V2) -->
    <templateId root="2.16.840.1.113883.10.20.24.3.154" extension="2019-12-01"/>
    <id root="1.3.6.1.4.1.115" extension="{{object_id}}"/>
    <code code="ASSERTION" codeSystem="2.16.840.1.113883.5.4"/>
    <statusCode code="completed" />
    {{#participationPeriod}}
      <!-- QDM Attribute: Participation Period -->
      {{{participation_period}}}
    {{/participationPeriod}}
    <!-- QDM Attribute: Code -->
    {{> qrda_templates/template_partials/_data_element_codes_as_values}}
    {{#recorder}}
      <!-- QDM Attribute: Recorder -->
      <participant typeCode="PRF">
        {{> qrda_templates/template_partials/_entity}}
      </participant>
    {{/recorder}}
  </observation>
</entry>
