# Possible options are prod or dev. No spaces, no quotes.
OPENEMR__ENVIRONMENT=
# Possible options are true to prevent dated reminders and background apps.Else empty or false. No spaces, no quotes.
OPENEMR__NO_BACKGROUND_TASKS=
