node_modules
interface/forms/eye_mag/js
interface/forms/questionnaire_assessments/lforms
interface/main/calendar/modules/PostCalendar/pnincludes/*.js
interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist
interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/src/cvb.min.js
interface/modules/zend_modules/public/js/lib/**/*.js
interface/super/rules/www/js/cdr-multiselect
interface/super/rules/www/js/jQuery.autocomplete.js
interface/super/rules/www/js/jQuery.fn.sortElements.js
library/ESign/js/jquery.esign.js
library/js/vendors/validate/validate_modified.js
library/js/xl/**/*.js
library/js/u2f-api.js
library/js/SearchHighlight.js
library/js/DocumentTreeMenu.js
library/js/CategoryTreeMenu.js
portal/sign/assets/signature_pad.umd.js
portal/patient/scripts
public/assets
swagger
vendor
Documentation/EHI_Export/**/*.js
