# logs
/logs

# environment vars
.env

# vendor and assets
node_modules
/vendor/*
/public/assets/*
/public/themes/*
!/public/assets/manual-added-packages
!/public/assets/modified
/.docs/.out/*

# ccda service build
ccdaservice/node_modules

# dev editor configs
/.idea/*
/nbproject/*

sites/default/documents/smarty/main/%%1E/
        sites/default/documents/smarty/main/%%5B/
        sites/default/documents/smarty/main/%%61/
        sites/default/documents/smarty/main/%%71/
        sites/default/documents/smarty/main/%%DB/
