# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Exclusions:
#   - Lock files (generated): composer.lock, package-lock.json
#   - Minified files: *.min.js, *.min.css, *-min.js, *-min.css
#   - Source maps: *.js.map, *.css.map
#   - Vendored/generated third-party code (alphabetized):
#     - Documentation/EHI_Export/ (SchemaSpy + bower components)
#     - gacl/ (phpGACL library)
#     - interface/forms/eye_mag/js/shortcut.js-2-01-B/ (keyboard shortcut library)
#     - interface/forms/questionnaire_assessments/lforms/ (LHC-Forms library)
#     - interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/ (webpack build)
#     - interface/modules/zend_modules/public/js/lib/ (jQuery + plugins)
#     - interface/modules/zend_modules/public/xsd/ (HL7 CDA schemas)
#     - interface/modules/zend_modules/public/xsl/ (XSL transformations)
#     - interface/super/rules/www/js/cdr-multiselect/ (jQuery multiselect plugins)
#     - library/classes/fpdf/ (FPDF library)
#     - library/fonts/ (Adobe font metrics files)
#     - library/js/{Category,Document}TreeMenu.js, SearchHighlight.js (vendored plugins)
#     - library/smarty_legacy/ (Smarty template engine)
#     - public/assets/modified/ (modified third-party libs)
#     - swagger/ (Swagger UI distribution)
exclude: |
  (?x)^(
    # Lock files (generated)
    (.*/)?(composer\.lock|package-lock\.json)$|
    # Minified files and source maps
    .*[.\-]min\.(js|css)$|
    .*\.(js|css)\.map$|
    # Vendored/generated third-party code (alphabetized)
    Documentation/EHI_Export/|
    gacl/|
    interface/forms/eye_mag/js/shortcut\.js-2-01-B/|
    interface/forms/questionnaire_assessments/lforms/|
    interface/modules/custom_modules/oe-module-comlink-telehealth/public/assets/js/dist/|
    interface/modules/zend_modules/public/js/lib/|
    interface/modules/zend_modules/public/xsd/|
    interface/modules/zend_modules/public/xsl/|
    interface/super/rules/www/js/cdr-multiselect/|
    library/classes/fpdf/|
    library/fonts/|
    library/js/(CategoryTreeMenu|DocumentTreeMenu|SearchHighlight)\.js$|
    library/smarty_legacy/|
    public/assets/modified/|
    swagger/
  )
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-json
  - id: pretty-format-json
    args:
    - --autofix
    - --indent=2
    - --no-sort-keys
    exclude: ^composer\.json$
  - id: mixed-line-ending
    args:
    - --fix=lf

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    args:
    - --autofix
    - --indent=2

- repo: local
  hooks:
  - id: php-syntax-check
    name: PHP Syntax Check
    entry: php -l
    language: system
    types:
    - inc
    - php

  - id: composer-validate
    name: Validate composer.json
    entry: composer validate --strict
    language: system
    files: ^composer\.json$
    pass_filenames: false

  - id: composer-normalize
    name: Normalize composer.json
    entry: composer normalize
    language: system
    files: ^composer\.json$
    pass_filenames: false

  - id: phpcbf
    name: PHP Code Beautifier and Fixer
    entry: php -d memory_limit=1g ./vendor/bin/phpcbf --standard=ci/phpcs.xml
    language: system
    types:
    - inc
    - php

  - id: phpcs
    name: PHP_CodeSniffer
    entry: php -d memory_limit=1g ./vendor/bin/phpcs --standard=ci/phpcs.xml
    language: system
    types:
    - inc
    - php

  - id: phpstan
    name: PHPStan Static Analysis
    entry: php -d memory_limit=1g ./vendor/bin/phpstan analyze --configuration=phpstan.neon.dist
    language: system
    types:
    - inc
    - php

  - id: rector
    name: Rector
    entry: php -d memory_limit=1g ./vendor/bin/rector process
    language: system
    types:
    - inc
    - php

  - id: composer-require-checker
    name: Composer Require Checker
    entry: composer run-script require-checker
    language: system
    files: ^(composer\.json|.*\.(php|inc))$
    pass_filenames: false

  - id: conventional-commits
    name: Conventional Commits
    entry: composer conventional-commits:check --
    language: system
    stages:
    - commit-msg
