# Use admin/pass as user/password credentials to login to openemr (from OE_USER and OE_PASS below)
# MYSQL_HOST and MYSQL_ROOT_PASS are required for openemr
# FLEX_REPOSITORY and (FLEX_REPOSITORY_BRANCH or FLEX_REPOSITORY_TAG) are required for flex openemr
# MYSQL_USER, MYSQL_PASS, OE_USER, MYSQL_PASS are optional for openemr and
#   if not provided, then default to openemr, openemr, admin, and pass respectively.
version: '3.1'
services:
  mysql:
    restart: always
    image: mariadb:10.2
    command: ['mysqld','--character-set-server=utf8']
    volumes:
    - databasevolume:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
  openemr:
    restart: always
    # use an image if you're not changing the build steps:
    # image: openemr/openemr:flex-edge
    # if messing with the Dockerfile, clone the devops repo and point to the path:
    build: ../openemr-devops/docker/openemr/flex-edge/
    ports:
    - 80:80
    - 443:443
    volumes:
    - .:/var/www/localhost/htdocs/openemr:rw
    - assetsvolume01:/var/www/localhost/htdocs/openemr/public:rw
    - cachevolume01:/var/www/localhost/htdocs/openemr/gacl/admin/templates_c:rw
    - cachevolume02:/var/www/localhost/htdocs/openemr/interface/main/calendar/modules/PostCalendar/pntemplates/compiled:rw
    - cachevolume03:/var/www/localhost/htdocs/openemr/interface/main/calendar/modules/PostCalendar/pntemplates/cache:rw
    - configvolume01:/var/www/localhost/htdocs/openemr/sites/default:rw
    - configvolume02:/var/www/localhost/htdocs/openemr/interface/modules/zend_modules/config:rw
    - logvolume01:/var/log
    - nodemodules:/var/www/localhost/htdocs/openemr/node_modules:rw
    - vendordir:/var/www/localhost/htdocs/openemr/vendor:rw
    environment:
      MYSQL_HOST: mysql
      MYSQL_ROOT_PASS: root
      MYSQL_USER: openemr
      MYSQL_PASS: openemr
      OE_USER: admin
      OE_PASS: pass
      FLEX_REPOSITORY: https://github.com/d3sandoval/openemr.git
      FLEX_REPOSITORY_BRANCH: new-build-docs
      NO_CHMOD: "yes"
    depends_on:
    - mysql
volumes:
  databasevolume: {}
  assetsvolume01: {}
  cachevolume01: {}
  cachevolume02: {}
  cachevolume03: {}
  configvolume01: {}
  configvolume02: {}
  logvolume01: {}
  nodemodules: {}
  vendordir: {}