<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2010 by Andrew Moore -->
<!-- Licensing information appears at the end of this file. -->

<phpunit backupGlobals="false">

  <testsuites>
    <testsuite name="openemr">
      <directory suffix="Test.php">Tests</directory>
    </testsuite>
  </testsuites>

</phpunit>

<!--
This file is free software: you can redistribute it and/or modify it under the
terms of the GNU General Public License as publish by the Free Software
Foundation.

This file is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.  See the GNU Gneral Public License for more details.

You should have received a copy of the GNU General Public Licence along with
this file.  If not see <http://www.gnu.org/licenses/>.
-->
