<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         cacheTokens="false"
         colors="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         verbose="false"
>
   <testsuites>
       <!--
       Fix all old test file, rename all folder (api -> Api, certification -> Certification)
       add new namespace inside test files (example: namespace OpenEMR\Tests\Unit;) 
       <testsuite name="openemr">
         <directory suffix="Test.php">tests/unit</directory>
       </testsuite>
      -->
       <testsuite name="openemr">
         <directory>tests/Unit</directory>
       </testsuite>

   </testsuites>
</phpunit> 
