<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% endblock %}
		<title>
			{% block pagetitle %}Index{% endblock %}
		</title>
	</head>
	<body>
		{% block header %}{% endblock %}
		<div class="container-fluid">
			{% block content %}{% endblock %}
			{% block footer %}{% endblock %}
			{% block scripts %}{% endblock %}
		</div>
		</body>
	</html>
