<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {{ setupHeader(['no_main-theme', 'portal-theme', 'datetime-picker', 'i18next']) }}
    {% endblock %}

    <title>{% block pagetitle %}{{ "Home"|xlt }}{% endblock %}</title>
</head>
<body>
    {% block header %}{% endblock %}
    <div class="container-fluid">
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block scripts %}{% endblock %}
    </div>
</body>
</html>
