<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
            {{ setupHeader(['no_main-theme', 'datetime-picker', 'patientportal-style', 'i18next']) }}
		{% endblock %}
		<title>
			{% block pagetitle %}Index{% endblock %}
		</title>
	</head>
	<body>
		<div class="container-lg">
            {% block header %}{% endblock %}
			{% block content %}{% endblock %}
			{% block footer %}{% endblock %}
			{% block scripts %}{% endblock %}
		</div>
		</body>
	</html>
