commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01-operating-system-updates.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        if [ -f /root/openemr_installed.lock ];
          then exit 0
        fi

        printf '\n\n01 Operating System Updates\n\n'
        yum update -y
