commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/08-apache-configuration.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        if [ -f /root/openemr_installed.lock ];
          then exit 0
        fi

        printf '\n\n08 Apache Configuration\n\n'
        # TODO: Was having issues with EOL, therefore using a less robust solution
        touch /etc/httpd/conf.d/openemr.conf
        echo "<Directory \"/var/app/current/openemr\">" >> /etc/httpd/conf.d/openemr.conf
        echo "  AllowOverride FileInfo" >> /etc/httpd/conf.d/openemr.conf
        echo "</Directory>" >> /etc/httpd/conf.d/openemr.conf
        echo "<Directory \"/var/app/current/openemr/sites\">" >> /etc/httpd/conf.d/openemr.conf
        echo "  AllowOverride None" >> /etc/httpd/conf.d/openemr.conf
        echo "</Directory>" >> /etc/httpd/conf.d/openemr.conf
        echo "<Directory \"/var/app/current/openemr/sites/*/documents\">" >> /etc/httpd/conf.d/openemr.conf
        echo "  order deny,allow" >> /etc/httpd/conf.d/openemr.conf
        echo "  Deny from all" >> /etc/httpd/conf.d/openemr.conf
        echo "</Directory>" >> /etc/httpd/conf.d/openemr.conf
        echo "<Directory \"/var/app/current/openemr/sites/*/edi\">" >> /etc/httpd/conf.d/openemr.conf
        echo "  order deny,allow" >> /etc/httpd/conf.d/openemr.conf
        echo "  Deny from all" >> /etc/httpd/conf.d/openemr.conf
        echo "</Directory>" >> /etc/httpd/conf.d/openemr.conf
        echo "<Directory \"/var/app/current/openemr/sites/*/era\">" >> /etc/httpd/conf.d/openemr.conf
        echo "  order deny,allow" >> /etc/httpd/conf.d/openemr.conf
        echo "  Deny from all" >> /etc/httpd/conf.d/openemr.conf
        echo "</Directory>" >> /etc/httpd/conf.d/openemr.conf

        service httpd restart

        touch /root/openemr_installed.lock
