<html>
<head>
{php}html_header_show();{/php}
{literal}
 <style type="text/css" title="mystyles" media="all">
<!--
ttd {
	font-size:12pt;
	font-family:helvetica;
}
li{
	font-size:11pt;
	font-family:helvetica;
	margin-left: 15px;
}
a {
	font-size:11pt;
	font-family:helvetica;
}
.main_title{
	font-family: sans-serif;
	font-size: 14pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
.section_title{
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.response_title {
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style: italic;
	color: #000000;
}

.response{
	font-family: sans-serif;
	font-size: 9pt;
	font-weight: lighter;
	text-decoration: none;
	color: #000000;
}

.responcetd{
border-width:1px;
border-style:solid;
border-color:black;
}
-->
</style>
{/literal}
</head>
<body bgcolor="{$STYLE.BGCOLOR2}">
<form name="ros" method="post" action="{$FORM_ACTION}/interface/forms/ros/save.php"
 onsubmit="return top.restoreSession()">
<table><tr><td colspan='10'>
<p><span class="main_title">{xl t="Review Of Systems"}</span></p>
</td></tr>

<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Constitutional"}</span><table>
		<tr>
			<td class="response">{xl t="Weight Change"}:</td>
			<td class="response">{html_radios name="weight_change" options=$form->get_options() selected=$form->get_weight_change() separator=""}</td>
			<td class="response">{xl t="Weakness"}:</td>
			<td class="response">{html_radios name="weakness" options=$form->get_options() selected=$form->get_weakness() separator=""}</td>
			<td class="response">{xl t="Fatigue"}:</td>
			<td class="response">{html_radios name="fatigue" options=$form->get_options() selected=$form->get_fatigue() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Anorexia"}:</td>
			<td class="response">{html_radios name="anorexia" options=$form->get_options() selected=$form->get_anorexia() separator=""}</td>
			<td class="response">{xl t="Fever"}:</td>
			<td class="response">{html_radios name="fever" options=$form->get_options() selected=$form->get_fever() separator=""}</td>
			<td class="response">{xl t="Chills"}:</td>
			<td class="response">{html_radios name="chills" options=$form->get_options() selected=$form->get_chills() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Night Sweats"}:</td>
			<td class="response">{html_radios name="night_sweats" options=$form->get_options() selected=$form->get_night_sweats() separator=""}</td>
			<td class="response">{xl t="Insomnia"}:</td>
			<td class="response">{html_radios name="insomnia" options=$form->get_options() selected=$form->get_insomnia() separator=""}</td>
			<td class="response">{xl t="Irritability"}:</td>
			<td class="response">{html_radios name="irritability" options=$form->get_options() selected=$form->get_irritability() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Heat or Cold"}:</td>
			<td class="response">{html_radios name="heat_or_cold" options=$form->get_options() selected=$form->get_heat_or_cold() separator=""}</td>
			<td class="response">{xl t="Intolerance"}:</td>
			<td class="response">{html_radios name="intolerance" options=$form->get_options() selected=$form->get_intolerance() separator=""}</td>
		</tr>
</tr><td>
	
		
	</td>
</tr>

	</table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Eyes"}</span><table>
		<tr>
			<td class="response">{xl t="Change in Vision"}:</td>
			<td class="response">{html_radios name="change_in_vision" options=$form->get_options() selected=$form->get_weight_change() separator=""}</td>
			<td class="response">{xl t="Family History of Glaucoma"}:</td>
			<td class="response">{html_radios name="glaucoma_history" options=$form->get_options() selected=$form->get_glaucoma_history() separator=""}</td>
			<td class="response">{xl t="Eye Pain"}:</td>
			<td class="response">{html_radios name="eye_pain" options=$form->get_options() selected=$form->get_eye_pain() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Irritation"}:</td>
			<td class="response">{html_radios name="irritation" options=$form->get_options() selected=$form->get_irritation() separator=""}</td>
			<td class="response">{xl t="Redness"}:</td>
			<td class="response">{html_radios name="redness" options=$form->get_options() selected=$form->get_redness() separator=""}</td>
			<td class="response">{xl t="Excessive Tearing"}:</td>
			<td class="response">{html_radios name="excessive_tearing" options=$form->get_options() selected=$form->get_excessive_tearing() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Double Vision"}:</td>
			<td class="response">{html_radios name="double_vision" options=$form->get_options() selected=$form->get_double_vision() separator=""}</td>
			<td class="response">{xl t="Blind Spots"}:</td>
			<td class="response">{html_radios name="blind_spots" options=$form->get_options() selected=$form->get_blind_spots() separator=""}</td>
			<td class="response">{xl t="Photophobia"}:</td>
			<td class="response">{html_radios name="photophobia" options=$form->get_options() selected=$form->get_photophobia() separator=""}</td>
		</tr>
</tr><td>
	
		
	</td>
</tr>

	</table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Ears"}, {xl t="Nose"}, {xl t="Mouth"}, {xl t="Throat"}</span><table>
		<tr>
			<td class="response">{xl t="Hearing Loss"}:</td>
			<td class="response">{html_radios name="hearing_loss" options=$form->get_options() selected=$form->get_hearing_loss() separator=""}</td>
			<td class="response">{xl t="Discharge"}:</td>
			<td class="response">{html_radios name="discharge" options=$form->get_options() selected=$form->get_discharge() separator=""}</td>
			<td class="response">{xl t="Pain"}:</td>
			<td class="response">{html_radios name="pain" options=$form->get_options() selected=$form->get_pain() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Vertigo"}:</td>
			<td class="response">{html_radios name="vertigo" options=$form->get_options() selected=$form->get_vertigo() separator=""}</td>
			<td class="response">{xl t="Tinnitus"}:</td>
			<td class="response">{html_radios name="tinnitus" options=$form->get_options() selected=$form->get_tinnitus() separator=""}</td>
			<td class="response">{xl t="Frequent Colds"}:</td>
			<td class="response">{html_radios name="frequent_colds" options=$form->get_options() selected=$form->get_frequent_colds() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Sore Throat"}:</td>
			<td class="response">{html_radios name="sore_throat" options=$form->get_options() selected=$form->get_sore_throat() separator=""}</td>
			<td class="response">{xl t="Sinus Problems"}:</td>
			<td class="response">{html_radios name="sinus_problems" options=$form->get_options() selected=$form->get_sinus_problems() separator=""}</td>
			<td class="response">{xl t="Post Nasal Drip"}:</td>
			<td class="response">{html_radios name="post_nasal_drip" options=$form->get_options() selected=$form->get_post_nasal_drip() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Nosebleed"}:</td>
			<td class="response">{html_radios name="nosebleed" options=$form->get_options() selected=$form->get_nosebleed() separator=""}</td>
			<td class="response">{xl t="Snoring"}:</td>
			<td class="response">{html_radios name="snoring" options=$form->get_options() selected=$form->get_snoring() separator=""}</td>
			<td class="response">{xl t="Apnea"}:</td>
			<td class="response">{html_radios name="apnea" options=$form->get_options() selected=$form->get_apnea() separator=""}</td>
		</tr>
</tr><td>
	
		
	</td>
</tr>

	</table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Breast"}</span><table>
		<tr>
			<td class="response">{xl t="Breast Mass"}:</td>
			<td class="response">{html_radios name="breast_mass" options=$form->get_options() selected=$form->get_breast_mass() separator=""}</td>
			<td class="response">{xl t="Discharge"}:</td>
			<td class="response">{html_radios name="breast_discharge" options=$form->get_options() selected=$form->get_breast_discharge() separator=""}</td>
			<td class="response">{xl t="Biopsy"}:</td>
			<td class="response">{html_radios name="biopsy" options=$form->get_options() selected=$form->get_biopsy() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Abnormal Mammogram"}:</td>
			<td class="response">{html_radios name="abnormal_mammogram" options=$form->get_options() selected=$form->get_abnormal_mammogram() separator=""}</td>
		</tr>
</tr><td>
	
		
	</td>
</tr>

	</table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Respiratory"}</span><table>
		<tr>
			<td class="response">{xl t="Cough"}:</td>
			<td class="response">{html_radios name="cough" options=$form->get_options() selected=$form->get_cough() separator=""}</td>
			<td class="response">{xl t="Sputum"}:</td>
			<td class="response">{html_radios name="sputum" options=$form->get_options() selected=$form->get_sputum() separator=""}</td>
			<td class="response">{xl t="Shortness of Breath"}:</td>
			<td class="response">{html_radios name="shortness_of_breath" options=$form->get_options() selected=$form->get_shortness_of_breath() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Wheezing"}:</td>
			<td class="response">{html_radios name="wheezing" options=$form->get_options() selected=$form->get_wheezing() separator=""}</td>
			<td class="response">{xl t="Hemoptysis"}:</td>
			<td class="response">{html_radios name="hemoptsyis" options=$form->get_options() selected=$form->get_hemoptsyis() separator=""}</td>
			<td class="response">{xl t="Asthma"}:</td>
			<td class="response">{html_radios name="asthma" options=$form->get_options() selected=$form->get_asthma() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="COPD"}:</td>
			<td class="response">{html_radios name="copd" options=$form->get_options() selected=$form->get_copd() separator=""}</td>
		</tr>
</tr><td>
	
		
	</td>
</tr>

	</table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Cardiovascular"}</span><table>
		<tr>
			<td class="response">{xl t="Chest Pain"}:</td>
			<td class="response">{html_radios name="chest_pain" options=$form->get_options() selected=$form->get_chest_pain() separator=""}</td>
			<td class="response">{xl t="Palpitation"}:</td>
			<td class="response">{html_radios name="palpitation" options=$form->get_options() selected=$form->get_palpitation() separator=""}</td>
			<td class="response">{xl t="Syncope"}:</td>
			<td class="response">{html_radios name="syncope" options=$form->get_options() selected=$form->get_syncope() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="PND"}:</td>
			<td class="response">{html_radios name="pnd" options=$form->get_options() selected=$form->get_pnd() separator=""}</td>
			<td class="response">{xl t="DOE"}:</td>
			<td class="response">{html_radios name="doe" options=$form->get_options() selected=$form->get_doe() separator=""}</td>
			<td class="response">{xl t="Orthopnea"}:</td>
			<td class="response">{html_radios name="orthopnea" options=$form->get_options() selected=$form->get_orthopnea() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Peripheral"}:</td>
			<td class="response">{html_radios name="peripheal" options=$form->get_options() selected=$form->get_peripheal() separator=""}</td>
			<td class="response">{xl t="Edema"}:</td>
			<td class="response">{html_radios name="edema" options=$form->get_options() selected=$form->get_edema() separator=""}</td>
			<td class="response">{xl t="Leg Pain/Cramping"}:</td>
			<td class="response">{html_radios name="legpain_cramping" options=$form->get_options() selected=$form->get_legpain_cramping() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="History of Heart Murmur"}:</td>
			<td class="response">{html_radios name="history_murmur" options=$form->get_options() selected=$form->get_history_murmur() separator=""}</td>
			<td class="response">{xl t="Arrythmia"}:</td>
			<td class="response">{html_radios name="arrythmia" options=$form->get_options() selected=$form->get_arrythmia() separator=""}</td>
			<td class="response">{xl t="Heart Problem"}:</td>
			<td class="response">{html_radios name="heart_problem" options=$form->get_options() selected=$form->get_heart_problem() separator=""}</td>
		</tr>
</tr><td>
	
		
	</td>
</tr>

	</table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Gastrointestinal"}</span><table>
		<tr>
			<td class="response">{xl t="Dysphagia"}:</td>
			<td class="response">{html_radios name="dysphagia" options=$form->get_options() selected=$form->get_dysphagia() separator=""}</td>
			<td class="response">{xl t="Heartburn"}:</td>
			<td class="response">{html_radios name="heartburn" options=$form->get_options() selected=$form->get_heartburn() separator=""}</td>
			<td class="response">{xl t="Bloating"}:</td>
			<td class="response">{html_radios name="bloating" options=$form->get_options() selected=$form->get_bloating() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Belching"}:</td>
			<td class="response">{html_radios name="belching" options=$form->get_options() selected=$form->get_belching() separator=""}</td>
			<td class="response">{xl t="Flatulence"}:</td>
			<td class="response">{html_radios name="flatulence" options=$form->get_options() selected=$form->get_flatulence() separator=""}</td>
			<td class="response">{xl t="Nausea"}:</td>
			<td class="response">{html_radios name="nausea" options=$form->get_options() selected=$form->get_nausea() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Vomiting"}:</td>
			<td class="response">{html_radios name="vomiting" options=$form->get_options() selected=$form->get_vomiting() separator=""}</td>
			<td class="response">{xl t="Hematemesis"}:</td>
			<td class="response">{html_radios name="hematemesis" options=$form->get_options() selected=$form->get_hematemesis() separator=""}</td>
			<td class="response">{xl t="Pain"}:</td>
			<td class="response">{html_radios name="gastro_pain" options=$form->get_options() selected=$form->get_gastro_pain() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Food Intolerance"}:</td>
			<td class="response">{html_radios name="food_intolerance" options=$form->get_options() selected=$form->get_food_intolerance() separator=""}</td>
			<td class="response">{xl t="H/O Hepatitis"}:</td>
			<td class="response">{html_radios name="hepatitis" options=$form->get_options() selected=$form->get_hepatitis() separator=""}</td>
			<td class="response">{xl t="Jaundice"}:</td>
			<td class="response">{html_radios name="jaundice" options=$form->get_options() selected=$form->get_jaundice() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Hematochezia"}:</td>
			<td class="response">{html_radios name="hematochezia" options=$form->get_options() selected=$form->get_hematochezia() separator=""}</td>
			<td class="response">{xl t="Changed Bowel"}:</td>
			<td class="response">{html_radios name="changed_bowel" options=$form->get_options() selected=$form->get_changed_bowel() separator=""}</td>
			<td class="response">{xl t="Diarrhea"}:</td>
			<td class="response">{html_radios name="diarrhea" options=$form->get_options() selected=$form->get_diarrhea() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Constipation"}:</td>
			<td class="response">{html_radios name="constipation" options=$form->get_options() selected=$form->get_constipation() separator=""}</td>
		</tr>
</tr><td>
	
		
	</td>
</tr>

	</table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Genitourinary"} {xl t="General"}</span><table>
		<tr>
			<td class="response">{xl t="Polyuria"}:</td>
			<td class="response">{html_radios name="polyuria" options=$form->get_options() selected=$form->get_polyuria() separator=""}</td>
			<td class="response">{xl t="Polydypsia"}:</td>
			<td class="response">{html_radios name="polydypsia" options=$form->get_options() selected=$form->get_polydypsia() separator=""}</td>
			<td class="response">{xl t="Dysuria"}:</td>
			<td class="response">{html_radios name="dysuria" options=$form->get_options() selected=$form->get_dysuria() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Hematuria"}:</td>
			<td class="response">{html_radios name="hematuria" options=$form->get_options() selected=$form->get_hematuria() separator=""}</td>
			<td class="response">{xl t="Frequency"}:</td>
			<td class="response">{html_radios name="frequency" options=$form->get_options() selected=$form->get_frequency() separator=""}</td>
			<td class="response">{xl t="Urgency"}:</td>
			<td class="response">{html_radios name="urgency" options=$form->get_options() selected=$form->get_urgency() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Incontinence"}:</td>
			<td class="response">{html_radios name="incontinence" options=$form->get_options() selected=$form->get_incontinence() separator=""}</td>
			<td class="response">{xl t="Renal Stones"}:</td>
			<td class="response">{html_radios name="renal_stones" options=$form->get_options() selected=$form->get_renal_stones() separator=""}</td>
			<td class="response">{xl t="UTIs"}:</td>
			<td class="response">{html_radios name="utis" options=$form->get_options() selected=$form->get_utis() separator=""}</td>
		</tr>
</tr><td>
	
		
	</td>
</tr>

	</table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Genitourinary"} {xl t="Male"}</span><table>
		<tr>
			<td class="response">{xl t="Hesitancy"}:</td>
			<td class="response">{html_radios name="hesitancy" options=$form->get_options() selected=$form->get_hesitancy() separator=""}</td>
			<td class="response">{xl t="Dribbling"}:</td>
			<td class="response">{html_radios name="dribbling" options=$form->get_options() selected=$form->get_dribbling() separator=""}</td>
			<td class="response">{xl t="Stream"}:</td>
			<td class="response">{html_radios name="stream" options=$form->get_options() selected=$form->get_stream() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Nocturia"}:</td>
			<td class="response">{html_radios name="nocturia" options=$form->get_options() selected=$form->get_nocturia() separator=""}</td>
			<td class="response">{xl t="Erections"}:</td>
			<td class="response">{html_radios name="erections" options=$form->get_options() selected=$form->get_erections() separator=""}</td>
			<td class="response">{xl t="Ejaculations"}:</td>
			<td class="response">{html_radios name="ejaculations" options=$form->get_options() selected=$form->get_ejaculations() separator=""}</td>
		</tr>
</tr><td>	
	</td>
</tr>

	</table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Genitourinary"} {xl t="Female"}</span><table>
		<tr>
			<td class="response">{xl t="Female G"}:</td>
			<td class="response">{html_radios name="g" options=$form->get_options() selected=$form->get_g() separator=""}</td>
			<td class="response">{xl t="Female P"}:</td>
			<td class="response">{html_radios name="p" options=$form->get_options() selected=$form->get_p() separator=""}</td>
			<td class="response">{xl t="Female AP"}:</td>
			<td class="response">{html_radios name="ap" options=$form->get_options() selected=$form->get_ap() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Female LC"}:</td>
			<td class="response">{html_radios name="lc" options=$form->get_options() selected=$form->get_lc() separator=""}</td>
			<td class="response">{xl t="Menarche"}:</td>
			<td class="response">{html_radios name="mearche" options=$form->get_options() selected=$form->get_mearche() separator=""}</td>
			<td class="response">{xl t="Menopause"}:</td>
			<td class="response">{html_radios name="menopause" options=$form->get_options() selected=$form->get_menopause() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="LMP"}:</td>
			<td class="response">{html_radios name="lmp" options=$form->get_options() selected=$form->get_lmp() separator=""}</td>
			<td class="response">{xl t="Frequency"}:</td>
			<td class="response">{html_radios name="f_frequency" options=$form->get_options() selected=$form->get_f_frequency() separator=""}</td>
			<td class="response">{xl t="Flow"}:</td>
			<td class="response">{html_radios name="f_flow" options=$form->get_options() selected=$form->get_f_flow() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Symptoms"}:</td>
			<td class="response">{html_radios name="f_symptoms" options=$form->get_options() selected=$form->get_f_symptoms() separator=""}</td>
			<td class="response">{xl t="Abnormal Hair Growth"}:</td>
			<td class="response">{html_radios name="abnormal_hair_growth" options=$form->get_options() selected=$form->get_abnormal_hair_growth() separator=""}</td>
			<td class="response">{xl t="F/H Female Hirsutism/Striae"}:</td>
			<td class="response">{html_radios name="f_hirsutism" options=$form->get_options() selected=$form->get_f_hirsutism() separator=""}</td>
		</tr>
</tr><td>
	</td>
</tr></table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Musculoskeletal"}</span><table>
		<tr>
			<td class="response">{xl t="Chronic Joint Pain"}:</td>
			<td class="response">{html_radios name="joint_pain" options=$form->get_options() selected=$form->get_joint_pain() separator=""}</td>
			<td class="response">{xl t="Swelling"}:</td>
			<td class="response">{html_radios name="swelling" options=$form->get_options() selected=$form->get_swelling() separator=""}</td>
			<td class="response">{xl t="Redness"}:</td>
			<td class="response">{html_radios name="m_redness" options=$form->get_options() selected=$form->get_m_redness() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Warm"}:</td>
			<td class="response">{html_radios name="m_warm" options=$form->get_options() selected=$form->get_m_warm() separator=""}</td>
			<td class="response">{xl t="Stiffness"}:</td>
			<td class="response">{html_radios name="m_stiffness" options=$form->get_options() selected=$form->get_m_stiffness() separator=""}</td>
			<td class="response">{xl t="Muscle"}:</td>
			<td class="response">{html_radios name="muscle" options=$form->get_options() selected=$form->get_muscle() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Aches"}:</td>
			<td class="response">{html_radios name="m_aches" options=$form->get_options() selected=$form->get_m_aches() separator=""}</td>
			<td class="response">{xl t="FMS"}:</td>
			<td class="response">{html_radios name="fms" options=$form->get_options() selected=$form->get_fms() separator=""}</td>
			<td class="response">{xl t="Arthritis"}:</td>
			<td class="response">{html_radios name="arthritis" options=$form->get_options() selected=$form->get_arthritis() separator=""}</td>
		</tr>
</tr><td>	
	</td>
</tr>

	</table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Neurologic"}</span><table>
		<tr>
			<td class="response">{xl t="LOC"}:</td>
			<td class="response">{html_radios name="loc" options=$form->get_options() selected=$form->get_loc() separator=""}</td>
			<td class="response">{xl t="Seizures"}:</td>
			<td class="response">{html_radios name="seizures" options=$form->get_options() selected=$form->get_seizures() separator=""}</td>
			<td class="response">{xl t="Stroke"}:</td>
			<td class="response">{html_radios name="stroke" options=$form->get_options() selected=$form->get_stroke() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="TIA"}:</td>
			<td class="response">{html_radios name="tia" options=$form->get_options() selected=$form->get_tia() separator=""}</td>
			<td class="response">{xl t="Numbness"}:</td>
			<td class="response">{html_radios name="n_numbness" options=$form->get_options() selected=$form->get_n_numbness() separator=""}</td>
			<td class="response">{xl t="Weakness"}:</td>
			<td class="response">{html_radios name="n_weakness" options=$form->get_options() selected=$form->get_n_weakness() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Paralysis"}:</td>
			<td class="response">{html_radios name="paralysis" options=$form->get_options() selected=$form->get_paralysis() separator=""}</td>
			<td class="response">{xl t="Intellectual Decline"}:</td>
			<td class="response">{html_radios name="intellectual_decline" options=$form->get_options() selected=$form->get_intellectual_decline() separator=""}</td>
			<td class="response">{xl t="Memory Problems"}:</td>
			<td class="response">{html_radios name="memory_problems" options=$form->get_options() selected=$form->get_memory_problems() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Dementia"}:</td>
			<td class="response">{html_radios name="dementia" options=$form->get_options() selected=$form->get_dementia() separator=""}</td>
			<td class="response">{xl t="Headache"}:</td>
			<td class="response">{html_radios name="n_headache" options=$form->get_options() selected=$form->get_n_headache() separator=""}</td>
		</tr>
</tr><td>	
	</td>
</tr>

	</table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Skin"}</span><table>
		<tr>
			<td class="response">{xl t="Cancer"}:</td>
			<td class="response">{html_radios name="s_cancer" options=$form->get_options() selected=$form->get_s_cancer() separator=""}</td>
			<td class="response">{xl t="Psoriasis"}:</td>
			<td class="response">{html_radios name="psoriasis" options=$form->get_options() selected=$form->get_psoriasis() separator=""}</td>
			<td class="response">{xl t="Acne"}:</td>
			<td class="response">{html_radios name="s_acne" options=$form->get_options() selected=$form->get_s_acne() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Other"}:</td>
			<td class="response">{html_radios name="s_other" options=$form->get_options() selected=$form->get_s_other() separator=""}</td>
			<td class="response">{xl t="Disease"}:</td>
			<td class="response">{html_radios name="s_disease" options=$form->get_options() selected=$form->get_s_disease() separator=""}</td>
		</tr>
</tr><td>	
	</td>
</tr>

	</table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Psychiatric"}</span><table>
		<tr>
			<td class="response">{xl t="Psychiatric Diagnosis"}:</td>
			<td class="response">{html_radios name="p_diagnosis" options=$form->get_options() selected=$form->get_p_diagnosis() separator=""}</td>
			<td class="response">{xl t="Psychiatric Medication"}:</td>
			<td class="response">{html_radios name="p_medication" options=$form->get_options() selected=$form->get_p_medication() separator=""}</td>
			<td class="response">{xl t="Depression"}:</td>
			<td class="response">{html_radios name="depression" options=$form->get_options() selected=$form->get_depression() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Anxiety"}:</td>
			<td class="response">{html_radios name="anxiety" options=$form->get_options() selected=$form->get_anxiety() separator=""}</td>
			<td class="response">{xl t="Social Difficulties"}:</td>
			<td class="response">{html_radios name="social_difficulties" options=$form->get_options() selected=$form->get_social_difficulties() separator=""}</td>
		</tr>
</tr><td>	
	</td>
</tr>

	</table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Endocrine"}</span><table>
		<tr>
			<td class="response">{xl t="Thyroid Problems"}:</td>
			<td class="response">{html_radios name="thyroid_problems" options=$form->get_options() selected=$form->get_thyroid_problems() separator=""}</td>
			<td class="response">{xl t="Diabetes"}:</td>
			<td class="response">{html_radios name="diabetes" options=$form->get_options() selected=$form->get_diabetes() separator=""}</td>
			<td class="response">{xl t="Abnormal Blood Test"}:</td>
			<td class="response">{html_radios name="abnormal_blood" options=$form->get_options() selected=$form->get_abnormal_blood() separator=""}</td>
		</tr>
</tr><td>	
	</td>
</tr>

	</table></td>
</tr>
<tr>
	<td><table><td class ="responcetd"><span class="section_title">{xl t="Hematologic"}/{xl t="Allergic"}/{xl t="Immunologic"}</span><table>
		<tr>
			<td class="response">{xl t="Anemia"}:</td>
			<td class="response">{html_radios name="anemia" options=$form->get_options() selected=$form->get_anemia() separator=""}</td>
			<td class="response">{xl t="F/H Blood Problems"}:</td>
			<td class="response">{html_radios name="fh_blood_problems" options=$form->get_options() selected=$form->get_fh_blood_problems() separator=""}</td>
			<td class="response">{xl t="Bleeding Problems"}:</td>
			<td class="response">{html_radios name="bleeding_problems" options=$form->get_options() selected=$form->get_bleeding_problems() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="Allergies"}:</td>
			<td class="response">{html_radios name="allergies" options=$form->get_options() selected=$form->get_allergies() separator=""}</td>
			<td class="response">{xl t="Frequent Illness"}:</td>
			<td class="response">{html_radios name="frequent_illness" options=$form->get_options() selected=$form->get_frequent_illness() separator=""}</td>
			<td class="response">{xl t="HIV"}:</td>
			<td class="response">{html_radios name="hiv" options=$form->get_options() selected=$form->get_hiv() separator=""}</td>
		</tr>
		<tr>
			<td class="response">{xl t="HAI Status"}:</td>
			<td class="response">{html_radios name="hai_status" options=$form->get_options() selected=$form->get_hai_status() separator=""}</td>
		</tr>
</tr><td>	
	</td>
</tr>

	</table></td>
</tr>

<tr><td>
<input type="hidden" name="id" value="{$form->get_id()}" />
<input type="hidden" name="pid" value="{$form->get_pid()}" />
<input type="hidden" name="process" value="true" />
<input type="submit" value="{xl t='Submit'}" />
</td></tr></table>
</form>
</body>
</html>
