/* OpenEMR batch payments, EOB Override */

.oe-payment-select {
    width: 80px !important;
    text-align: right;
    @include font-size("12px !important");
}

.oe-ckbox-label {
    padding-left: 30px;
    font-weight: 500;
}

.oe-file-div {
    padding: 10px 15px;
}

.oe-modal-dialog {
    width: 65% !important;
}
