/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~openemr5 batch payments, EOB *~~~~~~~~~~~~~~~~~~~~~~~~~*/

.oe-payment-select {
    width: 80px !important;
    text-align: right;
    font-size: 12px;
}
.oe-ckbox-label {
    padding-left: 30px;
    font-weight: 500;
}
.oe-file-div {
    padding: 10px 15px;
}
.oe-modal-dialog {
    width: 65% !important;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~openemr5 batch payments, EOB *~~~~~~~~~~~~~~~~~~~~~~~~~*/