/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~openemr5 codes~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.code_fieldset {
    border: 1px solid $darkest !important;
    background-color: $palepale !important;
}
.code_edit {
    background-color: $mid !important;
}
.code_legend {
    background-color: $mid !important;
    margin-bottom: 0px !important;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~openemr5 codes~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/