/*vertical menu styling for edit globals - colors*/
/*openrmr5.0.2 edit_globals vertical menu*/
#oe-nav-ul.tabNav li.current {
	color: #333;
}
#oe-nav-ul.tabNav a {
	background: $palepale;
    border: solid 5px $paler;
	border-left: none;
	border-bottom: none;
}
#oe-nav-ul.tabNav a:hover {
	background-color: $pale !important;
	color: #333;
}
#oe-nav-ul.tabNav {
	background: rgba(0, 0, 0, .05)!important;
}
#oe-nav-ul.tabNav .current a {
	border-color: $dark;
    border-left: none;
	border-bottom: none;
	background: $pale;
	color: #333;
}
#globals-div .tabContainer {
	border-color: $dark;
}
.oe-global-tab-heading {
	color: #000;
}
#srch_desc.form-control{
    height: 26px!important;
}
/*openrmr5.0.2 edit_globals vertical menu*/