/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~openemr5fee-sheet*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.feesheet-title {
    font-weight: 900;
    background: $dark !important;
    margin: 0px 0px 10px 0px;
    padding: 3px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~openemr5fee-sheet*~~~~~~~~~~~~~~~~~~~~~~~~~~~*/