/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~openemr5 help files *~~~~~~~~~~~~~~~~~~~~~~~~~*/

.oe-help-redirect {
    color: $darker !important;
}
.oe-help-heading {
    background-color: $palepale !important;
    border-color: $midpale !important;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~openemr5 help files *~~~~~~~~~~~~~~~~~~~~~~~~~*/