/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~openemr5login*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.login div.container {
    margin-top: 5%;
    max-width: 500px;
    background: $paler !important;
    border-top: solid $dark 40px;
    border-left: solid $palepale 1px;
    border-right: solid $palepale 1px;
    border-bottom: solid $palepale 1px;
}
body.login {
    background: #fcfcfc !important;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~openemr5login*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/