/* OpenEMR Login CSS Override */

.login div.container {
  background: $paler !important;
  border-bottom: solid $palepale 1px;
  border-left: solid $palepale 1px;
  border-right: solid $palepale 1px;
  border-top: solid $dark 40px;
  border-radius: 10px;
  box-shadow: 0 30px 60px 0 rgba($black,0.3);
  margin-top: 5%;
  max-width: 500px;
}

body.login {
  background: $light !important;
}
