/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~openemr5 ros~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.responsetd {
    border-color: $darkest !important;
    background-color: $palepale;
    border-spacing: 5px !important;
    border-collapse: separate;
    margin: 0px 0px 5px 10px;
}
.response {
    background-color: $paler;
    border-color: $darkest !important;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~openemr5 ros~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/