{% extends "interface/smart/admin-client/base.html.twig" %}
{% block title %}404 {{ "Page not found"|xlt }}{% endblock %}
{% block contents %}
<h1>404 {{ "Page not found"|xlt }}</h1>
{% endblock %}
{% block footer %}
    {# we hide the footer on 404 page #}
{% endblock %}
