{% extends "interface/smart/admin-client/base.html.twig" %}
{% block title %}{{ "External CDR"|xlt }}{% endblock %}
{% block contents %}
    <h1>{{ "External Clinical Decision Support Registered Services"|xlt }}</h1>
    {% block cdrContents %}
    {% endblock %}
{% endblock %}
{% block footer %}
    {# we hide the footer on 404 page #}
{% endblock %}
