/*=============================================================
 * This section relates to the custom layouts that can be made
 * using the OEMR tool in the Admin section. For example, the
 * Patient Demographics are a custom layout.
 *============================================================*/

@if $compact-theme == false {
  #DEM {
    .groupname {
      @include font-size("0.8rem");
      color: $success;
      font-weight: bold;
      padding-right: 5px;
      vertical-align: top;
    }

    .label_custom {
      @include font-size("0.8rem");
      font-weight: bold;
      text-align: $left;
      vertical-align: top;
    }

    .data {
      @include font-size("0.8rem");
      padding-right: 6px;
      text-align: $left;
      vertical-align: top;
    }

    .form-control {
      display: inline;
      height: auto;
      width: auto;
    }
  }
}


#DEM table {
  width: 100%;
}

#DEM .label_custom {
  text-align: right;
}

#DEM .data {
  padding-right: 15px;
  padding-left: 8px;
}


/* Demographics - Previous Addresses - address_list_display.php */

#DEM .table_text_addresses {
  margin-top: 1em;
  border-bottom: 2px solid #e9ecef;
}

#DEM .text_addresses.header {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 2px;

  background:#e9ecef;
  border-top: 2px solid #e9ecef;
  border-bottom: none;
  text-align: left;
}

#DEM .text_addresses_row {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;

  border-top: 2px solid #e9ecef;
  border-bottom: none;
}

#DEM .text_addresses_row div:nth-child(n) {
  padding-left: 0px;
}

#DEM #text_additional_addresses {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#DEM #text_additional_addresses .row {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 2px;
  padding-right: 0px;
}

#DEM #text_additional_addresses .text.data {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}



/* Demographics - Previous Addresses - address_list_form.php */

#DEM .display_addresses.header {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 2px;

  background:#e9ecef;
  border-top: 2px solid #e9ecef;
  border-bottom: none;
  text-align: left;
}

#DEM .display_addresses.row {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;

  border-top: 2px solid #e9ecef;
  border-bottom: none;
}

#DEM .display_addresses.row > .col-12 {
  padding-left: 0px;
}

#DEM .table_edit_addresses {
  border-bottom: 2px solid #e9ecef;
}

#DEM .table_edit_addresses .label_custom {
  vertical-align: +0.15em;
}

#DEM .form_addresses .label_custom {
  text-align: left !important;
}

#DEM .display_addresses.row > div {
  padding-left: 2px;
  padding-right: 0px;
  vertical-align: +0.15em;
}

#DEM .display_addresses_use_column {
    flex: 0 0 12%;
}



