/*=============================================================
 * This section relates to the custom layouts that can be made
 * using the OEMR tool in the Admin section. For example, the
 * Patient Demographics are a custom layout.
 *============================================================*/

#DEM .groupname {
    font-weight: bold;
    color: $success;
    @include font-size("0.8rem !important");
    padding-right: 5px;
    vertical-align: top;
}

#DEM .label_custom {
    font-weight: bold;
    @include font-size("0.8rem !important");
    vertical-align: top;
    text-align: $right;
}

#DEM .data {
    @include font-size("0.8rem !important");
    vertical-align: top;
    text-align: $left;
    padding-right: 6px;
}
