/* Patient History */

#HIS .groupname {
    font-weight: bold;
    color: #080;
    font-size: 9pt;
    padding-right: 1px;
    vertical-align: top;
    height: 2em;
}
#HIS .label_custom {
    font-weight: bold;
    font-size: 9pt;
    vertical-align: top;
}
#HIS .data {
    font-size: 9pt;
    vertical-align: top;
    text-align: $left;
    padding-right: 10px;
}