/*=============================================================
 * Patient Notes
 * seen in the patient summary and notes screens
 *============================================================*/

#pnotes .billing {
    background-color: #dfd;
}
#pnotes .highlight {
    background-color: #fff;
}
#pnotes table {
    border-collapse: collapse;
}
#pnotes .noterow td {
    border-bottom: 1px dashed black;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
}
#pnotes_ps_expand div.tab table td {
    padding-right: 10px;
}

#pnotes #pnotes_title{
    float:$left;
    margin-right: 5px
}

#pnotes #namecontainer_pnotes {
    float:$left;
    margin-right:10px
}