/*=============================================================
 * Patient Stats Summary
 * seen in the patient summary screen
 *============================================================*/

#patient_stats_summary table {
    border-collapse: collapse;
}
#patient_stats_summary .noend_noreturn {
    color: #ee0000;
}
#patient_stats_summary .noend {
    color: #dd5500;
}
#patient_stats_summary .noreturn {
    color: #0000ff;
}
#patient_stats_summary .title {
    font-size: 1.1em;
}
#patient_stats_issues {
    width: 100%;
}
#patient_stats_spreadsheets {
    width: 100%;
}
#patient_stats_imm {
    width: 100%;
}
#patient_stats_prescriptions {
    width: 100%;
}