{literal}
 <style>
<!--
.treeMenuDefault {
	font-style: italic;
}

.treeMenuBold {
	font-style: italic;
	font-weight: bold;
}

-->
</style>
{/literal}
<script>
var deleteLabel={xlj t="Delete"};
var editLabel={xlj t="Edit"};
</script>
<script src="{$GLOBALS.webroot}/library/js/CategoryTreeMenu.js?v={$V_JS_INCLUDES}"></script>
<table>
	<tr>
		<td height="20" valign="top">{xlt t="Document Categories"}</td>
	</tr>
	<tr>
		<td valign="top">{$tree_html}</td>
		{if isset($message)}
		<td valign="top">{$message}</td>
		{/if}
		{if (isset($add_node) and $add_node eq true) or (isset($edit_node) and $edit_node eq true)}
		<td width="25"></td>
		<td valign="top">
    {if isset($add_node) and $add_node eq true}
		{xlt t="This new category will be a sub-category of "} {$parent_name|text}<br />
		{/if}
		<form method="post" action="{$FORM_ACTION}" onsubmit="return top.restoreSession()">

    <table>
      <tr>
        <td>{xlt t="Category Name"}&nbsp;</td>
        <td><input type="text" name="name" value="{if isset($NAME)}{$NAME|attr}{/if}" onKeyDown="PreventIt(event)" /></td>
      </tr>
      <tr>
        <td>{xlt t="Value"}&nbsp;</td>
		    <td><input type="text" name="value" value="{$VALUE|attr}" onKeyDown="PreventIt(event)" ></td>
      </tr>
      <tr>
        <td>{xlt t="Access Control"}&nbsp;</td>
		    <td><select name="aco_spec">{$ACO_OPTIONS}</select></td>
      </tr>
    </table>
    &nbsp;<br />

		<button type="submit" name="Add Category" class="btn btn-secondary btn-save">{xlt t='Save Category'}</button>
		<input type="hidden" name="parent_is" value="{$parent_is|attr}">
		<input type="hidden" name="process" value="{$PROCESS|attr}" />
		</form>
		</td>
		{/if}
	</tr>

</table>
