<html>
<head>

{literal}
 <style>
<!--
td {
	font-size:8pt;
	font-family:helvetica;
}
a {
	font-size:8pt;
	font-family:helvetica;
}

-->
</style>
{/literal}
</head>
<body bgcolor="{$STYLE.BGCOLOR2}">
<form method=post enctype="multipart/form-data" action="{$FORM_ACTION}" onsubmit="return top.restoreSession()">
<input type="hidden" name="MAX_FILE_SIZE" value="64000000" />
<table>
	<tr>
		<td>{xlt t="Upload Document"}</td>
	</tr>
	<tr>
		<td><input type="file" name="file"></td>
	</tr>
	<tr>
		<td><input type="submit" value="{xla t='Upload'}"></td>
	</tr>
	{if !empty($file)}
	<tr>
		<td><br /><br /></td>
	</tr>
	<tr>
		<td>{xlt t='Upload Report'}</td>
	</tr>
	<tr>
		<td>{$error|text}</td>
	</tr>
	<tr>
		<td><pre>{$file|text}</pre></td>
	</tr>
	{/if}
</table>
<input type="hidden" name="process" value="{$PROCESS|attr}" />
</form>
</body>
</html>
