<div class="w-100 d-none participant-container{% if template %} participant-list-template-node{% endif %}">
    <video class="remote-video w-100" autoplay="true" muted="muted"
           playsinline="true" preload="none" class="w-100"
    ></video>
    <button class="video-control video-control-pin btn btn-default bg-dark text-light">
        <i class="fa fa-map-pin"></i>
    </button>
    <button class="video-control video-control-more btn btn-default bg-dark text-light">
        <i class="fa fa-ellipsis"></i>
    </button>
</div>