<div class="telehealth-button-bar">
    <button type="button" class="btn btn-default telehealth-btn telehealth-btn-notes d-none" aria-label="Toggle Notes" >
        <i class="fa fa-notes-medical fa-lg text-primary"></i>
    </button>
    <button type="button" class="btn btn-default telehealth-btn telehealth-btn-expand d-none" aria-label="Expand Window" >
        <i class="fa fa-expand fa-lg text-primary"></i>
    </button>
    <button type="button" class="btn btn-default telehealth-btn telehealth-btn-video d-none" aria-label="Toggle Video">
        <i class="fa fa-video fa-lg text-primary" data-enabled="true"></i>
    </button>
    <button type="button" class="btn btn-default telehealth-btn telehealth-btn-microphone d-none" aria-label="Toggle Microphone">
        <i class="fa fa-microphone text-primary" data-enabled="true"></i>
    </button>
    <button type="button" class="btn btn-default telehealth-btn telehealth-btn-hangup d-none" aria-label="Hangup Call" >
        <i class="fa fa-phone fa-lg fa-rotate-90 text-danger"></i>
    </button>
</div>