parameters:
  ignoreErrors:
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/eRxXMLBuilder.php
    - message: '#^Raw curl_\* function curl_error\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/eRxXMLBuilder.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/eRxXMLBuilder.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/eRxXMLBuilder.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 11
      path: ../interface/eRxXMLBuilder.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/eRx_xml.php
    - message: '#^Raw curl_\* function curl_error\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/eRx_xml.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/eRx_xml.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/eRx_xml.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 11
      path: ../interface/eRx_xml.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 9
      path: ../interface/modules/custom_modules/oe-module-claimrev-connect/src/ClaimRevApi.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 9
      path: ../interface/modules/custom_modules/oe-module-claimrev-connect/src/ClaimRevApi.php
    - message: '#^Raw curl_\* function curl_getinfo\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 8
      path: ../interface/modules/custom_modules/oe-module-claimrev-connect/src/ClaimRevApi.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 9
      path: ../interface/modules/custom_modules/oe-module-claimrev-connect/src/ClaimRevApi.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 37
      path: ../interface/modules/custom_modules/oe-module-claimrev-connect/src/ClaimRevApi.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 4
      path: ../interface/modules/custom_modules/oe-module-dorn/src/ConnectorApi.php
    - message: '#^Raw curl_\* function curl_error\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 5
      path: ../interface/modules/custom_modules/oe-module-dorn/src/ConnectorApi.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 4
      path: ../interface/modules/custom_modules/oe-module-dorn/src/ConnectorApi.php
    - message: '#^Raw curl_\* function curl_getinfo\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 3
      path: ../interface/modules/custom_modules/oe-module-dorn/src/ConnectorApi.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 4
      path: ../interface/modules/custom_modules/oe-module-dorn/src/ConnectorApi.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 18
      path: ../interface/modules/custom_modules/oe-module-dorn/src/ConnectorApi.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-prior-authorizations/src/Controller/AuthorizationService.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-prior-authorizations/src/Controller/AuthorizationService.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-prior-authorizations/src/Controller/AuthorizationService.php
    - message: '#^Raw curl_\* function curl_setopt_array\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-prior-authorizations/src/Controller/AuthorizationService.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-weno/scripts/file_download.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-weno/scripts/file_download.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-weno/scripts/file_download.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 4
      path: ../interface/modules/custom_modules/oe-module-weno/scripts/file_download.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-weno/src/Services/DownloadWenoPharmacies.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-weno/src/Services/DownloadWenoPharmacies.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-weno/src/Services/DownloadWenoPharmacies.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 4
      path: ../interface/modules/custom_modules/oe-module-weno/src/Services/DownloadWenoPharmacies.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-weno/src/Services/LogProperties.php
    - message: '#^Raw curl_\* function curl_errno\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-weno/src/Services/LogProperties.php
    - message: '#^Raw curl_\* function curl_error\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-weno/src/Services/LogProperties.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-weno/src/Services/LogProperties.php
    - message: '#^Raw curl_\* function curl_getinfo\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-weno/src/Services/LogProperties.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../interface/modules/custom_modules/oe-module-weno/src/Services/LogProperties.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 2
      path: ../interface/modules/custom_modules/oe-module-weno/src/Services/LogProperties.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../library/MedEx/API.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../library/MedEx/API.php
    - message: '#^Raw curl_\* function curl_getinfo\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../library/MedEx/API.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../library/MedEx/API.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 7
      path: ../library/MedEx/API.php
    - message: '#^Raw curl_\* function curl_error\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../library/maviq_phone_api.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../library/maviq_phone_api.php
    - message: '#^Raw curl_\* function curl_getinfo\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../library/maviq_phone_api.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../library/maviq_phone_api.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 12
      path: ../library/maviq_phone_api.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../modules/sms_email_reminder/sms_clickatell.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../modules/sms_email_reminder/sms_clickatell.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../modules/sms_email_reminder/sms_clickatell.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 5
      path: ../modules/sms_email_reminder/sms_clickatell.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../modules/sms_email_reminder/sms_tmb4.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../modules/sms_email_reminder/sms_tmb4.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../modules/sms_email_reminder/sms_tmb4.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 5
      path: ../modules/sms_email_reminder/sms_tmb4.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 2
      path: ../portal/patient/fwk/libs/verysimple/HTTP/HttpRequest.php
    - message: '#^Raw curl_\* function curl_error\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 2
      path: ../portal/patient/fwk/libs/verysimple/HTTP/HttpRequest.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 2
      path: ../portal/patient/fwk/libs/verysimple/HTTP/HttpRequest.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 7
      path: ../portal/patient/fwk/libs/verysimple/HTTP/HttpRequest.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 28
      path: ../portal/patient/fwk/libs/verysimple/HTTP/HttpRequest.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 2
      path: ../src/Services/Cda/CdaValidateDocuments.php
    - message: '#^Raw curl_\* function curl_error\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/Services/Cda/CdaValidateDocuments.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 2
      path: ../src/Services/Cda/CdaValidateDocuments.php
    - message: '#^Raw curl_\* function curl_getinfo\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 2
      path: ../src/Services/Cda/CdaValidateDocuments.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 2
      path: ../src/Services/Cda/CdaValidateDocuments.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 19
      path: ../src/Services/Cda/CdaValidateDocuments.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/Services/ProductRegistrationService.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/Services/ProductRegistrationService.php
    - message: '#^Raw curl_\* function curl_getinfo\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/Services/ProductRegistrationService.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/Services/ProductRegistrationService.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 5
      path: ../src/Services/ProductRegistrationService.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/Telemetry/TelemetryService.php
    - message: '#^Raw curl_\* function curl_errno\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/Telemetry/TelemetryService.php
    - message: '#^Raw curl_\* function curl_error\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/Telemetry/TelemetryService.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/Telemetry/TelemetryService.php
    - message: '#^Raw curl_\* function curl_getinfo\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/Telemetry/TelemetryService.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/Telemetry/TelemetryService.php
    - message: '#^Raw curl_\* function curl_setopt\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 6
      path: ../src/Telemetry/TelemetryService.php
    - message: '#^Raw curl_\* function curl_close\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/USPS/USPSBase.php
    - message: '#^Raw curl_\* function curl_errno\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/USPS/USPSBase.php
    - message: '#^Raw curl_\* function curl_error\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/USPS/USPSBase.php
    - message: '#^Raw curl_\* function curl_exec\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/USPS/USPSBase.php
    - message: '#^Raw curl_\* function curl_getinfo\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/USPS/USPSBase.php
    - message: '#^Raw curl_\* function curl_init\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/USPS/USPSBase.php
    - message: '#^Raw curl_\* function curl_setopt_array\(\) is forbidden\. Use GuzzleHttp\\Client or OpenEMR\\Common\\Http\\oeHttp instead\.$#'
      identifier: openemr.forbiddenCurlFunction
      count: 1
      path: ../src/USPS/USPSBase.php
