includes:
  - extension.neon
  - baseline/loader.php
parameters:
  reportUnmatchedIgnoredErrors: true
  scanFiles:
    - ../vendor/phpunit/phpunit/src/Framework/TestCase.php
  excludePaths:
    - ../sites/default/documents/smarty
