<?xml version="1.0" encoding="utf-8"?>
<ClinicalDocument xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:hl7-org:v3" xmlns:voc="urn:hl7-org:v3/voc">

{{> _header}}
  <component>
    <structuredBody>
      {{> _measure_section}}
    </structuredBody>
  </component>    	
</ClinicalDocument>