<html>
<head>
{php}html_header_show();{/php}
{literal}

 <style type="text/css" title="mystyles" media="all">
<!--
td {
	font-size:12pt;
	font-family:helvetica;
}
li{
	font-size:11pt;
	font-family:helvetica;
	margin-left: 15px;
}
a {
	font-size:11pt;
	font-family:helvetica;
}
.title {
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.form_text{
	font-family: sans-serif;
	font-size: 9pt;
	text-decoration: none;
	color: #000000;
}

-->
</style>
{/literal}
</head>
<body bgcolor="{$STYLE.BGCOLOR2}">
<p><span class="title">History of Chief Complaint(s)</span></p>
<form name="soap" method="post" action="{$FORM_ACTION}/interface/forms/complaint_history/save.php"
 onsubmit="return top.restoreSession()">
<table>
	<tr>
		<td width="100%">
			<textarea name="complaint_history" cols="60" rows="8">{$data->get_complaint_history()}</textarea>
		</td>
	</tr>
</table>
<table>
	<tr>
		<td>
			<input type="submit" name="Submit" value="Save Form">
		</td>
		<td>
			<a href="{$DONT_SAVE_LINK}" class="link">[Don't Save]</a>
		</td>
	</tr>
</table>

<input type="hidden" name="id" value="{$data->get_id()}" />
<input type="hidden" name="pid" value="{$data->get_pid()}">
<input type="hidden" name="process" value="true">
</form>
</body>
</html>
