/* ====================================
 * the style sheet for the ajax_template calendar 
 * ====================================*/

a {
 text-decoration:none;
}
td {
 font-family: Arial, Helvetica, sans-serif;
}
div.tiny { width:1px; height:1px; font-size:1px; }
.currentview {
    border: 2px solid blue;
    cursor: default;
}
#printview, #dayview, #weekview, #monthview {
    cursor: pointer; cursor: hand;
}
#functions {
    width: 20%; /* can't make this 25% for some reason */
    float: left;
    padding: 0px 5px 0px 5px;
    margin-right: 5%; /* added because of the width issue above */
}
#topToolbarRight {
    float: right;
    width: 70%;
}
#dateNAV {
    float: left;
}
#dateDisplay {
    float: left;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#viewPicker {
    float: right;
    margin-right: 10px;
}
#bigCalHeader {
    width:70%;
    float: right;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}
#providerPicker {
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    float: left;
    position: absolute;
    display: inline;
    top: 200px;
    left: 0px;
    padding: 5px;
    text-align:center;
}
#providerPicker #pc_facility {
    width: 150px;
}
#providerPicker #pc_username {
    width: 150px;
}
#bigCal {
    width:70%;
    height: 80%;
    overflow: auto;
    float: right;
    background-color: #FFF3D1;
    position: relative;
}
#bigCal table {
    border-collapse: collapse;
    border: none;
    vertical-align:middle
    width: 100%;
}
#bigCal td {
    padding: 1px;
    margin: 0px;
}

/* these are for the small datepicker DIV */
#datePicker {
    width: 25%;
    float: left;
    position: absolute;
    display: inline;
    top: 50px;
    left: 0px;
    padding: 5px;
    text-align: center;
}
#datePicker table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
#datePicker td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    /* font-size: 9pt;  */
}
#datePicker .tdMonthName-small {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    background-color: #FFF2E8;
}
#datePicker .tdDOW-small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    vertical-align: top; 
    text-align: center;
    border: none;
    padding: 2px 3px 2px 3px;
    background-color: #FFF2E8;
}
#datePicker .tdDatePicker {
    cursor: pointer; cursor: hand;
}
#datePicker .tdWeekend-small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    vertical-align: top;
    border: none;
    padding: 2px 3px 2px 3px;
    background-color: #dddddd;
    color: #999999;
}
#datePicker .tdOtherMonthDay-small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    vertical-align: top;
    border: none;
    padding: 2px 3px 2px 3px;
    background-color: #ffffff;
    color: #999999;
}
#datePicker .tdMonthDay-small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    vertical-align: top;
    border: none;
    padding: 2px 3px 2px 3px;
    background-color: #ffffff;
}
#datePicker .currentWeek {
    background-color: #DBD5FF;
}
#datePicker .currentDate {
    background-color: #A79BE7;
    color: #E8FAFF;
}
#datePicker .tdDatePickerHighlight {
    background-color: #A79BE7;
    color: #E8FAFF;
}

/* the DIV of times */
#times {
    border-right: 1px solid #999;
    width: 2em;
    background-color: #FFF3D1;
    padding: 0px;
}
#times table {
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #E7D294;
    background-color: #FFF3D1;
}
#times table td {
    border-bottom: 1px solid #999;
    margin: 0px;
    padding: 0px;
    font-size: 0.8em;
}
.timeslot {
    /* height value is tied to two PHP variables in the ajax_*.html files 
     * if you change this value then be sure to change the matching value 
     * in those files */
    height: 20px;
    margin: 0px; 
    padding: 0px;
}
.schedule {
    background-color: #FFF3D1;
    background-color: #FFF;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
    border: 1px solid #999999;
}

/* for the header row with provider names */
.providerheader {
    text-align: center;
    background-color: #EDEAFF;
    width: 100%; 
    overflow:hidden; 
    border-bottom: 1px solid lightgrey;
    white-space: nowrap;
}

/* for the DIV inside each TD, this DIV contains any events for a single day */
.calendar_day {
    position: relative; 
    height: 100%; 
    width: 100%;
}

/* classes specific to the WEEK view */
.week_dateheader {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    font-size: 0.7em;
    font-weight: bold;
}
.week_currday {
    background-color: #DBD5FF;
}

/* classes specific to the MONTH view */
.month_daylink {
    width:95%; 
    font-size: 0.8em; 
    text-align:right; 
    background-color: #FFF;
    padding:1px 2px 1px 2px;
}
.month_dateheader {
    font-size: 0.7em;
    width:13%;
}
.month_event {
    font-size: 0.8em;
    width: 100%;
}

/* types of events */
.event {
    position: absolute;
    font-size: 0.8em;
    width: 100%;
}
.event img {
    vertical-align:middle;
}
.event_in {
    background-color: white;
    z-index:1;
}
.event_out {
    background-color: lightgray;
    z-index:1;
}
.event_appointment {
    background-color: white;
    z-index:2;
    overflow: hidden;
    border: 1px solid #ccc;
}
.event_noshow {
    background-color: pink;
    z-index:2;
    overflow: hidden;
    border: 1px solid #fcc;
}
.event_reserved {
    background-color: pink;
    z-index:2;
    overflow: hidden;
    border: 1px solid #cfc;
}
.event_highlight { font-weight: bold; }

