/* ====================================
 * the style sheet for the ajax_template calendar
 * ====================================*/

@import "../../public/assets/bootstrap/scss/functions";
@import "../../public/assets/bootstrap/scss/variables";
@import "../../public/assets/bootstrap/scss/mixins";

div.tiny {

  @include font-size("0.0625rem !important");
  height: 0.0625rem;
  width: 0.0625rem;
}

.currentview {
  border: 2px solid $primary;
  cursor: default;
}

#printview,
#dayview,
#weekview,
#monthview {
  cursor: hand;
}

.calsearch_body {
  padding: 0 !important;
}

.sidebar-wrapper {
  margin-left: -30rem;
  transition: margin 0.25s ease-out;
}

#wrapper {
  &.toggled {
    .sidebar-wrapper {
      margin-left: 0;
      top: 68px;
    }

    .page-content-wrapper {
      margin-left: 8.75rem;
    }
  }
}

#functions {
  float: left;
  margin-right: 0%;
  min-width: 20%;
  padding: 0 0.3125rem;

  /* added because of the width issue above */
}

#topToolbarRight {
  border-bottom: 1px solid $black;
  float: right;
  padding: 0.3125rem 0 0.1875rem;
  position: fixed;
  width: 100%;
  z-index: 3;
}

#dateNAV {

  @include font-size("1.1875rem !important");
  float: left;
  font-family: "Arial", "Helvetica", sans-serif;
}

.rtl #functions,
.rtl #dateNAV,
.rtl #dateDisplay,
.rtl #topToolbarRight {
  float: right;
}

#dateDisplay {
  float: left;
  font-family: "Arial", "Helvetica", sans-serif;
  padding-left: 0.625rem;
}

#viewPicker {
  float: right;
  margin-right: 0.625rem;
}

.rtl #viewPicker,
.rtl #bigCalHeader {
  float: left;
}

#bigCalHeader {

  @include font-size("1.1875rem !important");
  float: right;
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;
  width: 70%;
}

#providerPicker {
  font-family: "Arial", "Helvetica", sans-serif;
  width: 100%;

  #pc_facility,
  #pc_username {
    width: 100%;
  }
}

#facilityColor {
  float: left;
  font-family: "Arial", "Helvetica", sans-serif;
  width: 100%;

  table {
    border-collapse: collapse;
    width: 100%;
  }
}

#bottom {
  float: left;
  position: relative;
  width: 100%;
}

#bigCal {
  background-color: $light;
  border-left: 1px solid $black;
  overflow: hidden;

  table {
    border: 0;
    border-collapse: collapse;
    margin-top: 45px;
    vertical-align: middle;
    width: 100%;
  }

  td {
    margin: 0;
    padding: 0.0625rem;
  }
}

#bottomLeft {
  clear: left;
  float: left;
  min-width: 130px;
  position: fixed;
  top: 45px;
  width: 15%;
}

/* these are for the small datepicker DIV */
#datePicker {
  width: 100%;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td {

    @include font-size("0.7rem !important");
    font-family: "Arial", "Helvetica", sans-serif;

    text-align: center;
    width: 1.21875rem;
  }

  .tdMonthName-small {

    @include font-size("0.75rem !important");
    background-color: lighten($light, 20%);
    color: $body-color;
    cursor: pointer;
    font-family: "Arial", "Helvetica", sans-serif;

    font-style: normal;
    text-align: center;
  }

  .tdDOW-small {
    @include font-size("0.625rem !important");
    background-color: lighten($light, 20%);
    border: 0;
    font-family: "Arial", "Helvetica", sans-serif;
    padding: 0.125rem 0.1875rem;
    text-align: center;

    vertical-align: top;
  }

  .tdDatePicker {
    cursor: pointer;
    cursor: hand;
  }

  .tdWeekend-small {

    @include font-size("0.625rem !important");
    background-color: $white;
    border: 0;
    color: $gray-600;
    font-family: "Arial", "Helvetica", sans-serif;
    padding: 0.125rem 0.1875rem;

    vertical-align: top;
  }

  .tdHoliday-small {

    @include font-size("0.625rem !important");
    background-color: $white;
    border: 0;
    color: $danger;
    font-family: "Arial", "Helvetica", sans-serif;
    padding: 0.125rem 0.1875rem;

    vertical-align: top;
  }

  .tdOtherMonthDay-small {

    @include font-size("0.625rem !important");
    background-color: $white;
    border: 0;
    color: $gray-600;
    font-family: "Arial", "Helvetica", sans-serif;
    padding: 0.125rem 0.1875rem;

    vertical-align: top;
  }

  .tdMonthDay-small {

    @include font-size("0.625rem !important");
    background-color: $white;
    border: 0;
    font-family: "Arial", "Helvetica", sans-serif;
    padding: 0.125rem 0.1875rem;

    vertical-align: top;
  }

  .currentWeek {
    background-color: lighten($dark, 50%);
  }

  .currentDate {
    background-color: lighten($dark, 20%);
    color: $light;
  }

  .tdDatePickerHighlight {
    background-color: lighten($dark, 30%);
    color: $light;
  }
}

/* the DIV of times */
#times {
  background-color: lighten($yellow, 40%);
  border-right: 1px solid $gray-600;
  padding: 0;
  width: 1%;

  table {
    background-color: lighten($yellow, 40%);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;

    td {

      @include font-size("0.8rem !important");
      border-bottom: 1px solid $gray-600;
      margin: 0;
      padding: 0;
    }
  }
}

.timeslot {
  /* height value is tied to two PHP variables in the ajax_*.html files
   * if you change this value then be sure to change the matching value
   * in those files */
  height: 1.25rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.schedule {
  background-color: $white;
  border: 1px solid $gray-600;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 25rem;
}

/* for the header row with provider names */
.providerheader {
  background-color: $primary;
  border-bottom: 1px solid $gray-300;
  color: $white;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

/* for the DIV inside each TD, this DIV contains any events for a single day */
.calendar_day {
  height: 100%;
  position: relative;
  width: 100%;
}

/* classes specific to the WEEK view */
.week_dateheader {

  @include font-size("0.7rem !important");
  border-left: 1px solid $gray-600;
  border-right: 1px solid $gray-600;

  font-weight: bold;

  a,
  a:link,
  a:visited,
  a:active {
    color: $body-color;
  }

  a:hover {
    color: $dark;
  }
}

.week_currday {
  background-color: $primary;

  a,
  a:link,
  a:visited,
  a:active {
    color: $white;
  }

  a:hover {
    color: $light;
  }
}

/* classes specific to the MONTH view */
.month_daylink {

  @include font-size("0.8rem !important");
  background-color: $white;
  padding: 0.0625rem 0.125rem;

  text-align: right;
  width: 95%;
}

.month_dateheader {
  @include font-size("0.7rem !important");

  width: 13%;
}

.month_event {
  @include font-size("0.8rem !important");

  width: 100%;
}

/* types of events */
.event {
  position: absolute;
  width: 100%;

  img {
    vertical-align: middle;
  }
}

.event_in {
  background-color: $white;
  border: 1px solid $black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
}

.event_appointment {
  background-color: $white;
  border: 1px solid $gray-400;
  border: 1px solid $black;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  z-index: 2;
}

.event_noshow {
  background-color: $pink;
  border: 1px solid lighten($pink, 20%);
  overflow: hidden;
  z-index: 2;
}

.event_reserved {
  background-color: $pink;
  border: 1px solid lighten($green, 30%);
  overflow: hidden;
  z-index: 2;
}

.event_holiday {
  background-color: lighten($dark, 20%);
  border: 1px solid lighten($green, 30%);
  overflow: hidden;
  z-index: 2;
}

.event_highlight {
  background-color: $black;
  border: 1px solid $black;
  border-bottom: 2px solid $gray-700;
  border-left: 1px solid $gray-600;
  border-right: 2px solid $gray-700;
  border-top: 1px solid $gray-600;
  font-weight: bold;
  margin: -0.1875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event_time {
  cursor: pointer;

  &:hover {
    color: $danger;
  }
}

.show-appointment {
  bottom: 0.125rem;
  font-family: 'FontAwesome', sans-serif;
  position: absolute;
  right: 0.25rem;

  &.unshown::before {
    content: "\f06e";
    cursor: pointer;
  }

  &.shown::before {
    content: "\f070";
    cursor: pointer;
  }
}

.in_start {
  background: transparent;
  z-index: 2;
}

.event_out.event_highlight,
.in_start.event_highlight {
  background-color: $yellow;
  border-bottom: 2px solid $gray-700;
  border-left: 1px solid $gray-600;
  border-right: 2px solid $gray-700;
  border-top: 1px solid $gray-600;
  cursor: pointer;
  font-weight: bold;
  margin: 0;
  opacity: 1;
  z-index: 2;
}

.event_out {
  background-color: $orange;
  z-index: 3;
}

.event_holiday {
  width: 100% !important;
}

.pop-up img {
  margin: 0.625rem;
  width: 9.375rem;
}

@use "sass:meta";

@if variable-exists("ovr-dark") {
  .providerXbtn i {
    color: $ovr-dark !important;
  }

  .providerheader {
    color: $ovr-dark !important;
  }
}

@media (max-width: var(--breakpoint-md)) {
  #prevday,
  #nextday,
  #prevweek,
  #nextweek,
  #prevmonth,
  #nextmonth {
    @include font-size("1.3rem !important");
  }

  .page-content-wrapper {
    margin-left: 0%;
    width: 100%;
  }

  #wrapper.toggled .page-content-wrapper {
    margin-left: 130px;
    width: calc(100% - 150px);
  }
}

@media (max-width: 665px) {
  #bigCal > table {
    margin-top: 68px;
  }
}

@media (min-width: 860px) {
  .sidebar-wrapper {
    margin-left: 0;
  }

  .page-content-wrapper {
    margin-left: 15%;
    min-width: 0;
    width: 85%;
  }

  #wrapper {
    &.toggled {
      .sidebar-wrapper {
        margin-left: -30rem;
      }

      .page-content-wrapper {
        margin-left: 0%;
        width: 100%;
      }
    }
  }
}
