/* 
    Document   : ajax_calendar_ie
    Created on : Oct 1, 2011, 2:12:17 PM
    Author     : yehster
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#bigCal
{
    width: 99%;
}