/**
* Login page stylesheet.
*
* LICENSE: This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public License
* as published by the Free Software Foundation; either version 2
* of the License, or (at your option) any later version.
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://opensource.org/licenses/gpl-license.php>;.
*
* @package OpenEMR
* @author  Robert Down <robertdown@live.com>
* @link    http://www.open-emr.org
*/

$login-color-1: #fff !default;
$login-color-2: #00d4ff !default;
$login-color-3: #2c9cd4 !default;
$login-text-color: #fff !default;
$login-form-bg-color: $white !default;
$login-button-primary: false !default;

body.login {
  align-items: center;
  background: $light;
  display: flex;
  justify-content: center;
  resize: both;
  height: 100%;
}

.login-failure {
  background-color: $danger;
  color: $white;
  font-weight: bold;
}

.login .login-row {
  background: $login-form-bg-color;
  border-radius: 0.625rem;
  box-shadow: 0 30px 60px 0 rgba($black, 0.3);
  resize: both;
}

.login-area {
  background: $login-form-bg-color;
}

.login-bg {
  background: linear-gradient(140deg, $login-color-1 0%, $login-color-2 35%, $login-color-3 100%);
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .login-area {
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
  }

  .login-bg {
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .login-area {
    border-bottom-left-radius: 0.625rem;
    border-top-left-radius: 0.625rem;
  }

  .login-bg {
    border-bottom-right-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
  }

  // Makes size bigger to accommodate color bug
  // Requires important tag to avoid collision with BS4
  .py-md-login {
    padding-bottom: 6.25rem !important;
    padding-top: 6.25rem !important;
  }
}

.btn-login {
  @if ($login-button-primary) {
    @extend .btn-primary;
  } @else {
    @extend .btn-secondary;
  }
}

// Needed for logo
.w-40 {
  width: 40%;
}

// Needed for logo
.w-15 {
  width: 15%;
}

.login-bg-text-color {
  color: $login-text-color !important;
}

.logo-left {
  float: left;
}

.login-title-label {
  font-size: 130%;
  font-weight: bold;
}

.login-logo-wrapper {
  max-width: 400px;
}

.tinylogopng {
  height: 43px;
  width: 86px;
}

#ui-id-1 > .message {
  color: $danger;
  font-weight: bold;
}
