/**
* Login page stylesheet.
*
* LICENSE: This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public License
* as published by the Free Software Foundation; either version 2
* of the License, or (at your option) any later version.
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
* You should have received a copy of the GNU General Public License
* along with this program. If not, see <http://opensource.org/licenses/gpl-license.php>;.
*
* @package OpenEMR
* @author  Robert Down <robertdown@live.com>
* @link    http://www.open-emr.org
*/

:root {
  // Tread lightly with light and dark colors, this may be the start of inversion themes
  --light: #fff;
  --dark: #333;

  --masthead_bg: #212D79;
  --masthead_color: #ffffff;
  --login-color: var(--dark);
  --login-bg: var(--light);

  --radius: 0.625rem;
}

$login-form-bg-color: var(--login-bg);

$login-button-primary: true !default;

@if $compact-theme == false {
  .login {
    background: var(--login-bg);
    display: flex;
    height: 100%;
    justify-content: center;
    resize: both;
  }

  @media (min-width: map-get($grid-breakpoints, "sm")) {
    .login {
      align-items: center;
    }
  }

  .login-failure {
    background-color: $danger;
    color: $white;
    font-weight: bold;
  }

  .login .login-row {
    background: var(--login-bg);
    border-radius: 0.3em;
    box-shadow: 0 15px 30px 0 rgba($black, 0.3);
    resize: both;
  }

  .login-row-center {
    @extend .m-5;
  }

  .login-bg-left,
  .login-bg-right,
  .login-bg-center {
    background: var(--masthead_bg);
    color: var(--masthead_color);
  }

  @media (max-width: map-get($grid-breakpoints, "md")) {
    .login-area-left,
    .Login-area-right,
    .Login-area-center,
    .login-bg-left,
    .login-bg-right
    .login-bg-center {
      border-bottom-left-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }

    .login-row-center {
      max-width: inherit;
    }
  }

  @media (min-width: map-get($grid-breakpoints, "md")) {
    .login-area-left,
    .Login-area-right,
    .Login-area-center,
    .login-bg-left,
    .login-bg-right
    .login-bg-center {
      border-bottom-left-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }

    .login-row-center {
      margin-left: auto !important;
      margin-right: auto !important;
      max-width: 50%;
    }

    // Makes size bigger to accommodate color bug
    // Requires important tag to avoid collision with BS4
    .py-md-login {
      padding-bottom: 6.25rem !important;
      padding-top: 6.25rem !important;
    }
  }

  .btn-login {
    @if ($login-button-primary) {
      @extend .btn-primary;
    } @else {
      @extend .btn-secondary;
    }
  }

  // Needed for logo
  .w-40 {
    width: 40%;
  }

  // Needed for logo
  .w-15 {
    width: 15%;
  }

  .login-bg-text-color {
    color: var(--login-color) !important;
  }

  .login-title-label {
    font-size: 130%;
    font-weight: bold;
  }

  #ui-id-1 > .message {
    color: $danger;
    font-weight: bold;
  }
}
