
#report_custom {
    direction: ltr;
}

.menu,
.menu_selected,
.logout ,
.text,
.required ,
.bold,
.alert ,
.small ,
.link ,
.more,
.back,
.link_selected,
.link_selected:visited ,
.link_submit,
.items,
.title_bar,
.title_bar_top,
#addressbook_list td,
#addressbook_list .button,
#reports_list td,
#reports_list a,
#documents_list td,
#documents_list a,
.redtext,
.drug_lookup,
.font_rtl
{
    font-family: Arial;

}

#addressbook_list .inputtext {
    font-family: monospace;
}


/* For PDF output of lab results. Need very small font size. */
.labres tr.head   { font-size:7pt; background-color:#cccccc; text-align:center; }
.labres tr.detail { font-size:7pt; }
.labres a, .labres a:visited, .labres a:hover { color:#0000cc; }
.labres table {
    border-style: solid;
    border-width: 1px 0px 0px 1px;
    border-color: black;
}
.labres td, .labres th {
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: black;
}

#DEM .label, #report_parameters table table td.label {
    text-align: right;
}
