//    RTL adjustments for style*.css files
//    Author: Amiel Elboim, Matrix

// Warning: Do not put Bootstrap variables in here as the file will break
/* General RTL classes */
@mixin rtl_style {
  body {
    direction: rtl;
  }

  tr,
  td,
  th {
    text-align: right !important;
  }

  #navigation-slide,
  #navigation-slide * {
    margin-right: 0;
    padding-right: 0;
  }

  #navigation-slide a {
    padding: 5px 2px 5px 10px;
  }

  /* Calander */
  #bottomLeft {
    float: right !important;
  }

  /*miscellaneous*/
  .misc-internet-search {
    float: right !important;
  }

  /* record_disclosure.php */
  #record-disclosure,
  #record-disclosure > div {
    float: none !important;

  }

  /* /patient_file/encounter/forms.php  */
  #encounter_forms {
    .encounter-summary-column {
      float: right !important;
    }

    .form_header_controls,
    .form_header {
      float: none !important;
    }
  }

  /* /interface/patient_file/summary/demographics.php */
  .demographics-box {
    position: relative;

    > div {
      float: none !important;
      position: absolute;

      &:first-child {
        width: 55% !important;
      }

      &:last-child {
        margin-right: 75%;
      }
    }
  }

  #tdallday3 > span {
    direction: ltr;
    display: inline-block;

    > input {
      text-align: right;
    }
  }

  /* /interface/clickmap/template/general_new.html */
  .graphic-pain-map {
    float: none !important;
    width: 600px;
  }

  .graphic-pain-map img {
    width: 100%;
  }

  /* ajax_template.html */

  #dateNAV {
    img {
      display: none;
    }

    > a:nth-child(2),
    > a:nth-child(3) {
      display: inline-block;
      height: 15.5px;
      width: 16px;
    }

    > a:nth-child(2) {
      background-image: url('../../public/images/rightbtn.gif');
      margin-right: 10px;
    }

    > a:nth-child(3) {
      background-image: url('../../public/images/leftbtn.gif');
    }
  }

  /* /main/messages/messages.php */
  td.amount-msg {
    direction: ltr;
    text-align: left !important;
  }

  /*  /interface/billing/edih_view.php  */
  #tabs ul.ui-tabs-nav li.ui-state-default {
    float: right;
  }

  /* /interface/code_systems/dataloads_ajax.php */

  #accordion .left_wrpr,
  #accordion .wrpr {
    float: right !important;
  }

  .ui-dialog .ui-dialog-title,
  .cancel-float {
    float: none !important;
  }

  /* /templates/documents/general_view.html */
  #documents_actions form[name^=document] > div > div,
  #documents_actions form[name=notes] > div > div {
    display: inline-block;
    float: none !important;
  }

  #documents_list img[src*=branch],
  #documents_list img[src*=line],
  #documents_list img[src*=plus],
  #documents_list img[src*=minus] {
    transform: rotate(180deg);
  }

  #documents_list img[src*=branchbottom] {
    transform: translate(2px, 0) rotate(-90deg);
  }

  .tabs-container ul.tabs {
    width: 100%;

    li {
      float: none !important;
    }
  }

  .container_body .viewport .overview {
    left: initial !important;
  }

  .top-menu-carecoordination li,
  .setup-carecoordination .top-menu-carecoordination li,
  .setup-carecoordination .ca-ca-in-1,
  .setup-carecoordination ul.virtualpage_system_based_forms {
    float: right !important;
  }

  .setup-carecoordination {
    .ca-ca-in-2 {
      float: right !important;
      padding-right: 2% !important;
    }

    #paginatediv_database_tables {
      a[rel=next] {
        float: left !important;
        transform: rotate(180deg);
      }

      a[rel=previous] {
        float: right !important;
        transform: rotate(180deg);
      }
    }
  }

  /* online - portal */

  /* patients/summary_pat_portal.php */
  div#portal-buttons-bottom {
    padding: 5px 15px;
  }

  #DEM .label_custom,
  #report_parameters table table td.label_custom {
    text-align: left !important;
  }

  /* flow board */
  form#pattrk {
    h2 > span {
      float: right !important;
    }

    #inanewwindow > span {
      float: left !important;
    }
  }

  /* cdr Groups */
  .cdr-rules-class .ui-multiselect .ui-state-default {
    padding: 0 20px;
  }

  .rule_detail {
    &.edit.summry .left_col {
      float: none;
      margin: 5px;
    }

    .left_col,
    .mid_col,
    .end_col {
      display: inline-block;
      float: none;
    }
  }

  #namecontainer_preminders,
  #namecontainer_creminders {
    float: right !important;
  }

  .xdsoft_datepicker .xdsoft_mounthpicker {
    button,
    > div {
      float: right;
    }

    button.xdsoft_prev,
    button.xdsoft_next {
      transform: rotate(180deg);
    }
  }

  div.formname {
    float: right !important;
    padding-left: 10px !important;
  }

  .select2-search,
  .select2-results {
    direction: rtl !important;
  }

  [name="userlist"] .checkbox input[type=checkbox] {
    margin-left: 0 !important;
  }

  #create_patient_btn {
    float: left;
  }
}


@mixin portal_style {
  // None needed at the moment
}

/*expandable search rtl in main.php*/

.oe-expandable-search {
  button {
    &.btn-search1 {
      padding: 4px 6px 4px 0 !important;
      right: 0;
    }

    &.btn-globals-legacy {
      right: 110px;
    }

    &.btn-globals-modern {
      right: 0;
    }
  }

  input:focus ~ button.btn-search1 {
    outline: 0;
    right: 245px;
  }
}

/*expandable search rtl in main.php*/
/*vertical main menu */

.appMenu_small .menuSection > .menuEntries {
  right: 40px !important;
}

/*vertical main menu */
