
.tbl_demo {
    font-size: 0.8em;
    font-family: sans-serif;
}

.error {
    background-color: yellow;
    display: block;
    color: red; 
    width: 80%;
    border: 1px solid red;
}

.vk_error {
    background-color: yellow;
    display: block;
    color: red; 
}

.vk_nline {
    background-color: #809BCA;
    display: block;
    color: #11141A;
    margin-top:3px; 
    padding:1px;
}

.vk_expl {
    background-color: #81BBCA;
    display: block;
    color: #1A2528; 
    border-left: 2px solid #809BCA;
    border-right: 2px solid #809BCA;
    border-bottom: 2px solid #809BCA;
}

.vk_link a:link, .vk_link a:visited{
    color: #3D6C5E; 
    text-decoration: none;
}
.vk_link a:active, .vk_link a:hover{
    color: #162823; 
    text-decoration: underline;
}

#tbl_resub th {
    background-color: #3D6C5E;
    color: #8FFFDD;
}

#tbl_future {
    background-color: #CAE5E7;
    color: #303637;
}

#tbl_future td {
    background-color: #B4CCCE;
    color: #303637;
}

.tbllist {
    background-color: #CAE5E7;
    color: #303637;
}

.tbllist th{
    background-color: #3D6C5E;
    color: #8FFFDD;
}

.tbllist td{
    background-color: #B4CCCE;
    color: #303637;
    padding: 3px;
}

.tblcontainer {
    margin-left:5%;
    float: left;
}
