
.menu {
	font-family: sans-serif;
	font-style: italic;
	font-size: 90%;
	color: #ffffff;
	text-decoration: none;
	text-align: left;
}


.menu_selected {
	font-family: sans-serif;
	font-style: italic;
	font-size: 90%;
	color: #000000;
	text-decoration: none;
	text-align: left;
}

.logout {
	font-family: sans-serif;
	font-style: italic;
	font-size: 80%;
	color: #000000;
	text-decoration: none;
	text-align: right;
}

.text {
	font-family: sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 12pt;
}


.required {
	font-family: sans-serif;
	text-decoration: none;
	font-size: 12pt;
	color: #770000;
	font-weight: bold;
}
.bold {
	font-family: sans-serif;
	text-decoration: none;
	font-size: 12pt;
	color: #000000;
	font-weight: bold;
}

.alert-custom {
	font-family: sans-serif;
	font-size: 70%;
	color: #FF0000;
	text-decoration: none;
}

.small {
	text-decoration: none;
	color: #000000;
	font-family: sans-serif;
	font-size: 60%;
}

.link {
	font-family: sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 70%;
}

.more {
	font-family: sans-serif;
	text-decoration: none;
	color: #aaaaaa;
	font-size: 70%;
}

.back {
	font-family: sans-serif;
	text-decoration: none;
	color: #aaaaaa;
	font-size: 70%;
}

.link_selected {
	font-family: sans-serif;
	text-decoration: none;
	color: #0000FF;
	font-size: 10pt;
}

.link_submit {
	font-family: sans-serif;
	text-decoration: none;
	color: #000066;
	font-size: 70%;
}

.items {
	font-family: sans-serif;
	font-size: 6pt;
}

.title {
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.title_bar {
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}

a {
	text-decoration: none;
}

/* style taken out of the addressbook code and put here instead */
#addressbook_list td {
font-family: Arial, Helvetica, sans-serif;
padding-left: 4px;
padding-right: 4px;
}
#addressbook_list a, #addressbook_list a:visited, #addressbook_list a:hover {
color:#0000cc;
}
#addressbook_list tr.search {
font-size:9pt;
font-weight:bold;
}
#addressbook_list tr.head {
font-size:10pt;
background-color:#cccccc;
font-weight:bold;
}
#addressbook_list tr.detail {
font-size:10pt;
}
#addressbook_list .inputtext {
font-family:monospace;
font-size:9pt;
font-weight:normal;
border-style:solid;
border-width:1px;
border-color: #000000;
background-color:transparent;
}
#addressbook_list .button {
font-family:sans-serif;
font-size:8pt;
font-weight:bold;
}
/* styles taken out of templates/report/general_default.html */
#reports_list td {
font-size:8pt;
font-family:helvetica;
}
#reports_list a {
font-size:8pt;
font-family:helvetica;
}

/* styles taken out of templates/documents/general_list.html */
#documents_list td {
font-size:8pt;
font-family:helvetica;
}
#documents_list a {
font-size:8pt;
font-family:helvetica;
}
#documents_list .treeMenuDefault {
font-style: italic;
}
#documents_list .treeMenuBold {
font-style: italic;
font-weight: bold;
}
#documents_list {
    width: 25%;
    height: 90%;
    overflow: auto;
    border: 2px inset;
    float: left;
}
#documents_actions {
    padding-top: 10px;
    width: 70%;
    height: 90%;
    float: right;
    overflow: auto;
}
#documents_actions iframe {
    display: inline;
    border:none;
    width:100%;
    height:600px;
    overflow: auto;
}
#documents_actions form {
    margin: 0px; padding: 0px;
}
#documents_actions table {
    width: 100%;
    height: 100%;
}

/*=============================================================
 * This section relates to the custom layouts that can be made
 * using the OEMR tool in the Admin section. For example, the
 * Patient Demographics are a custom layout.
 *============================================================*/
#DEM .groupname {
    font-weight: bold;
    color: #080;
    font-size: 0.8em;
    padding-right: 5px;
    vertical-align: bottom;
}
#DEM .label_custom {
    font-weight: bold;
    font-size: 0.8em;
    vertical-align: bottom;
    text-align: right;
}
#DEM .data {
    font-size: 0.8em;
    vertical-align: bottom;
    text-align: left;
}

.tinylogocontainer
{
	display: inline-block;
	border: none;
}

.tinylogopng
{
	display: inline-block;
	width: 44px;
	height: 22px;
}
