/* This file is only used as a style sheet for */
/*   lone scripts such as setup.php */
A:{visited: #000000;}

.menu {
	font-family: sans-serif;
	font-style: italic;
	font-size: 90%;
	color: #000000;
	text-decoration: none;
	text-align: left;
}


.menu_selected {
	font-family: sans-serif;
	font-style: italic;
	font-size: 90%;
	color: #000000;
	text-decoration: none;
	text-align: left;
}

.logout {
	font-family: sans-serif;
	font-style: italic;
	font-size: 100%;
	color: #000000;
	text-decoration: none;
	text-align: right;
}

.text {
	font-family: sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
}

.required {
	font-family: sans-serif;
	text-decoration: none;
	font-size: 12pt;
	color: #770000;
	font-weight: bold;
}

.bold {
	font-family: sans-serif;
	text-decoration: none;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
}

.alert {
	font-family: sans-serif;
	font-size: 70%;
	color: #FF0000;
	text-decoration: none;
}

.small {
	text-decoration: none;
	color: #000000;
	font-family: sans-serif;
	font-size: 60%;
}

.link {
	font-family: sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 70%;
}

.more {
	font-family: sans-serif;
	text-decoration: none;
	color: #aaaaaa;
	font-size: 70%;
}

.back {
	font-family: sans-serif;
	text-decoration: none;
	color: #aaaaaa;
	font-size: 70%;
}

.link_selected {
	font-family: sans-serif;
	text-decoration: none;
	color: #0000FF;
	font-size: 10pt;
}

.link_submit {
	font-family: sans-serif;
	text-decoration: none;
	color: #000066;
	font-size: 70%;
}

.items {
	font-family: sans-serif;
	font-size: 6pt;
}

.title {
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.title_bar {
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

a {
	text-decoration: none;
}

/* style taken out of the addressbook code and put here instead */
#addressbook_list td {
font-family: Arial, Helvetica, sans-serif;
padding-left: 4px;
padding-right: 4px;
}
#addressbook_list a, #addressbook_list a:visited, #addressbook_list a:hover {
color:#0000cc;
}
#addressbook_list tr.search {
font-size:9pt;
font-weight:bold;
}
#addressbook_list tr.head {
font-size:10pt;
background-color:#cccccc;
font-weight:bold;
}
#addressbook_list tr.detail {
font-size:10pt;
}
#addressbook_list .inputtext {
font-family:monospace;
font-size:9pt;
font-weight:normal;
border-style:solid;
border-width:1px;
border-color: #000000;
background-color:transparent;
}
#addressbook_list .button {
font-family:sans-serif;
font-size:8pt;
font-weight:bold;
}

/* styles taken out of templates/report/general_default.html */
#reports_list td {
font-size:8pt;
font-family:helvetica;
}
#reports_list a {
font-size:8pt;
font-family:helvetica;
}

/* styles taken out of templates/documents/general_list.html */
#documents_list td {
font-size:8pt;
font-family:helvetica;
}
#documents_list a {
font-size:8pt;
font-family:helvetica;
}
#documents_list .treeMenuDefault {
font-style: italic;
}
#documents_list .treeMenuBold {
font-style: italic;
font-weight: bold;
}
#documents_list {
    width: 25%;
    height: 90%; 
    overflow: auto; 
    border: 2px inset;
    float: left;
}
#documents_actions {
    padding-top: 10px;
    width: 70%;
    height: 90%; 
    float: right;
    overflow: auto;
}
#documents_actions iframe {
    display: inline;
    border:none; 
    width:100%; 
    height:600px; 
    overflow: auto;
}
#documents_actions form {
    margin: 0px; padding: 0px;
}
#documents_actions table {
    width: 100%;
    height: 100%;
}
.text-area{
  background-color:#FFFFFF;
  border:1px solid black;
  width:100%;
  height:100px;
  overflow:auto;
  text-align:left;
}
.example_menu {
            font-size: 70%;
            list-style: none;
            margin: 0;
            padding: 0;
            vertical-align: top;
            width: 136px;
}
.expand_all,
.collapse_all {
	cursor: pointer;
}
.example_menu ul {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu1 li, #menu2 li, #menu3 li, #menu4 li, #menu5 li, .example_menu li {
	background-image: none;
	margin: 0;
	padding: 0;
	border-bottom:1px solid white;
}
.example_menu ul ul {
	display: block;
}
.example_menu a {
	color: #000;
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin-left: 0;
	padding: 2px 2px 2px 17px;
	width: 160px;
}
.example_menu a.expanded {
	background: #bbb url('collapse.gif') no-repeat 3px 50%;
}
.example_menu a.collapsed {
	background: #bbb url('expand.gif') no-repeat 3px 50%;
}
.example_menu a:hover {
	text-decoration: none;
}
.example_menu ul li span {
	 background: #d9d1a4;
	color: #000;
	display: block;
	font-weight: normal;
	width:100%;
}
.example_menu ul a:Subjective {
	font-weight: normal;
}
.example_menu ul a:hover {
	background : #f5f5f5;
	text-decoration: underline;
}
.example_menu li.active a {
	background: #fff;
}
.example_menu li.active li a {
	background: #e8e8e8;
}
#menu1 li.footer, #menu2 li.footer, #menu3 li.footer, #menu4 li.footer, #menu5 li.footer, .example_menu .footer {
	background: transparent url('footer.jpg') no-repeat 0 0;
	border-top: 2px solid #fff;
	height: 9px;
	line-height: 15px;
	margin: 0 0 10px 0;
	width: 131px;
}
.example_menu .footer span {
	display: none;
}
.cke_contents {
height: 300px !important;
}

/* Form styles */
.formtable {
        font-size:13px;
        line-height: 24px;
    }
.formtable tr td {
        line-height: 24px;
    }
.report_search_bar{
	background-color:#E1E4E9;
}


