/*=============================================================
 *
 * This stylesheet was built with this color scheme
 * http://www.wellstyled.com/tools/colorscheme2/index-en.html?tetrad;50;0;217;0.35930735930735924;0.9058823529411765;0.35930735930735924;0.6341176470588235;0.08982683982683981;1;0.17965367965367962;1;0.35930735930735924;0.9058823529411765;0.35930735930735924;0.6341176470588235;0.08982683982683981;1;0.17965367965367962;1;0.35930735930735924;0.9058823529411765;0.35930735930735924;0.6341176470588235;0.08982683982683981;1;0.17965367965367962;1;0.35930735930735924;0.9058823529411765;0.35930735930735924;0.6341176470588235;0.08982683982683981;1;0.17965367965367962;1;0
 *
 *============================================================*/
body {
    margin: 0px 0px 0px 2px;
    /* set the base font and size for all DOM children */
    font-family: sans-serif; 
    font-size: 1em;
    background-color: #94d6e7;
}

a {
  color: #250DA6;
  text-decoration: none;
}

a:visited { color: #0000cc; }
a:hover { color: #A28268; text-decoration: underline; }


/*=============================================================
 * The top-menu in the old style, non-concurrent, layout where
 * the menu runs across the top of the window
 *============================================================*/
#nav_topmenu {
    width: 100%;
    overflow: hidden;
    padding: 0px; margin: 0px;
}
#nav_topmenu form {
    padding: 0px; margin: 0px;
}
#nav_topmenu table {
    width: 100%;
    padding: 0px; margin: 0px;
    border-collapse: collapse;
}
#nav_topmenu tr {
    padding: 0px; margin: 0px;
}
#nav_topmenu td {
    padding: 0px; margin: 0px;
    text-align: center;
}
#nav_topmenu a {
    padding: 1px 2px 1px 2px;
    text-decoration: none;
    color: #004E63;
}
#nav_topmenu a:hover {
    background-color: #6895A2;
    color: #E8FAFF;
}
/* menu, menu_selected, and logout are older classes still used */
.menu {
    font-size: 0.8em;
    color: #6895A2;
    text-align: left;
}
.menu a:hover {
    background-color: #6895A2;
    color: #E8FAFF;
}
.menu_selected {
    font-style: italic;
    color: #000000;
    text-align: left;
}
.logout {
    font-style: italic;
    color: #000000;
    text-align: right;
}

.text {
    text-decoration: none;
    color: #000000;
    font-size: 10pt;
}

.required {
    text-decoration: none;
    font-size: 10pt;
    color: #880000;
    font-weight: bold;
}

.bold {
    text-decoration: none;
    font-size: 10pt;
    color: #000000;
    font-weight: bold;
}

.alert {
    font-size: 70%;
    color: #FF0000;
    text-decoration: none;
}

.small {
    text-decoration: none;
    color: #000000;
    font-size: 80%;
}

.link {
    text-decoration: none;
    color: #0000cc;
    font-size: 70%;
}

.more {
    text-decoration: none;
    font-size: 70%;
}

.back {
    text-decoration: none;
    font-size: 70%;
}

.center { text-align:center; }
.right { text-align:right; }

/* this class is used sporadically through the application as an 
 * alternative to the typical anchor
 */
.link_selected {
    text-decoration: none;
    color: #0000FF;
    font-size: 70%;
}
.link_selected:visited {
    text-decoration: none;
    color: #6895A2;
    font-size: 70%;
}

.link_submit {
    text-decoration: none;
    font-size: 0.8em;
    color: #250DA6;
}
.link_submit a:visited { color: #0000cc; }
.link_submit a:hover { color: #A28268; text-decoration:underline; }

.items {
    font-size: 6pt;
}

.title {
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
}

/* see .titlebar below */
.title_bar {
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}
/* the title bar showing the logged in user, date, etc */
.title_bar_top {
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    color: #004E63;
}


/*=============================================================
 * Here we have taken variables from globals.php and turned them into CSS classes 
 * these should be used in place of the GLOBAL variables -- JRM March 2008
 *=============================================================*/
.body_top { background-color: #94d6e7; }    /* $top_bg_line */
.bgcolor2 { background-color: #94d6e7; }    /* $GLOBALS['style']['BGCOLOR2'] */
.body_bottom { background: url('../pic/aquabg.gif') repeat; }  /* $bottom_bg_line */
.body_title { background-color: #D1F5FF; }  /* $title_bg_line */
.body_nav { background-color: #94D5E7; }    /* $nav_bg_line */
.body_filler { background-color: #f7f0d5; } /* $login_filler_line */
.body_login { background: url('../pic/aquabg.gif') repeat; } /* $login_body_line */
.table_bg { background-color: #ccc; }           /* $table_bg */
.bgcolor1 { background-color: #ccc; }       /* $GLOBALS['style']['BGCOLOR1'] */
.textcolor11 { background-color: #222; }    /* $GLOBALS['style']['TEXTCOLOR11'] */
.highlightcolor { background-color: #ddd; } /* $GLOBALS['style']['HIGHLIGHTCOLOR'] */
.bottom_line { background: url('../pic/aquabg.gif') repeat; }    /* $GLOBALS['style']['BOTTOM_BG_LINE'] */
.logobar { background-color: #24262c; height: 110px; }                 /* $GLOBALS['logoBarHeight']  262331 */
.navbar { height: 22px; }                   /* $GLOBALS['navBarHeight'] */
.titlebar { height: 20px; }                 /* $GLOBALS['titleBarHeight'] */


/*==========================================================
 * box with 'info' icon in the background
 * useful for small information boxes
 *=========================================================*/
.infobox {
    background: #FFF9E8 url('../../images/info.png') no-repeat center left;
    padding: 3px 3px 3px 19px;
}


/*==========================================================
 * Calendars
 *
 * All the calendar CSS files are held in the directory:
 *   interface/main/calendar/modules/PostCalendar/pntemplates/default/style
 * However, there may be some cross-over between this main
 * CSS file and that other one. 
 *
 * ONE EXCEPTION is the Outlook-style calendar 
 * it relies on a CSS file in this same folder 
 * named ajax_calendar.css
 *
 *=========================================================*/


/*=============================================================
 * For the reports list page
 *============================================================*/
#reports_list {
    font-family: sans-serif;
    margin-top: 5px;
}
#reports_list td {
    font-size: 1em;
}
#reports_list ul {
    list-style: none;
}
#reports_list li {
    padding: 2px 0px 0px 0px;
    font-size: 0.9em;
}

/*=============================================================
 * For the list of office notes page
 *============================================================*/
#officenotes_list {
    width: 100%;
}
#officenotes_list table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
#officenotes_list td {
    padding: 3px;
    border-bottom: 1px solid black;
    background-color: #FFF9E8;
}

/*=============================================================
 * For the editing office notes page
 *============================================================*/
#officenotes_edit table {
    border-collapse: collapse;
}
#officenotes_edit form {
    padding: 0px; margin: 0px;
}
#officenotes_edit .existingnotes table {
    /* for some unexplicable reason this particular style block is being ignored */
    border: 1px solid black;
    border-collapse: collapse;
}
#officenotes_edit .existingnotes td {
    padding: 3px;
    border-bottom: 1px solid black;
    background-color: #FFF9E8;
}


/*=============================================================
 * For the the address book list
 *============================================================*/
#addressbook_list table { border-collapse: collapse; }
#addressbook_list td { padding: 0px 4px 0px 4px; }
#addressbook_list a, #addressbook_list a:visited, #addressbook_list a:hover { color:#0000cc; }
#addressbook_list .search td {
    padding: 3px 0px 10px 0px;
}
#addressbook_list .head td {
    font-size: 0.8em;
    background-color:#cccccc;
    font-weight:bold;
}
#addressbook_list .detail td {
    font-size: 0.8em;
}
#addressbook_list .inputtext {
    font-weight:normal;
    border-style:solid;
    border-width:1px;
    border-color: #000000;
}
#addressbook_list .button {
}
#addressbook_list .evenrow { background-color: #E7D294; }
#addressbook_list .oddrow { background-color: #FFF3D1; }

/*=============================================================
 * For the patient documents list
 *============================================================*/
#documents_list form {
    margin: 0px; padding: 0px;
}
#documents_list table {
    width: 25%;
    overflow: hidden;
    margin: 10px;
}
#documents_list td {
    font-size: 0.8em;
    vertical-align: top;
}
#documents_list a {
}
#documents_list .treeMenuDefault {
}
#documents_list .treeMenuBold {
    font-weight: bold;
}
#documents_list {
    width: 25%;
    height: 90%; 
    overflow: auto; 
    border: 2px inset;
    float: left;
}
#documents_actions {
    padding-top: 10px;
    width: 70%;
    height: 90%; 
    float: right;
    overflow: auto;
}
#documents_actions iframe {
    display: inline;
    border:none; 
    width:100%; 
    height:600px; 
    overflow: auto;
}
#documents_actions form {
    margin: 0px; padding: 0px;
}
#documents_actions table {
    width: 100%;
}


/*=============================================================
 * For the prescription list page
 *============================================================*/
#prescription_list {
    padding: 0px;
    margin: 2px;
    width: 100%;
}
#prescription_list table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #999;
    background-color: white;
}
#prescription_list th {
    background-color: #999;
    font-size:0.8em;
}
#prescription_list td {
  font-size:0.7em;
  border-bottom: 1px solid #999;
}
#prescription_list a {
  font-size:0.8em;
  text-decoration:none;
}
#prescription_list .onescript {
    cursor: pointer;
}
#prescription_list .inactive {
  color:#777777;
}
#prescription_list .highlight {
    background-color: #336699;
    color: white;
}
#prescription_list #print_links {
    width: 100%;
    text-align: right;
}


/*=============================================================
 * Immunizations
 * seen in the patient immunization screen
 *============================================================*/
#immunization_list {
    width: 100%;
    text-align: center;
}

#immunization_list table {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: white;
    width: 99%;
}

#immunization_list table th {
    background-color: #ddd;
}

#immunization_list table td {
    border-top: 1px solid black;
}

#immunization_list .selected {
    background-color: #6699cc;
    color: white;
} 

#immunization_list .highlight {
    background-color: #336699;
    color: white;
    cursor: pointer;
}    

#immunization_list button {
    font-size: 0.8em;
}


/*=============================================================
 * Patient Stats
 * seen in the patient stats screens
 *============================================================*/
#patient_stats {
    width: 100%;
    padding: 10px;
}

#patient_stats table {
    width: 100%;
    border-collapse: collapse;
}
#patient_stats td {
    padding: 3px;
}
#patient_stats .statrow {
    cursor: pointer;
}

#patient_stats .head {
    font-size: 0.8em;
}

#patient_stats .detail {
    font-size: 0.8em;
    vertical-align: top;
}

#patient_stats .buttons {
    margin: 10px;
}

#patient_stats .btn {
}

#patient_stats .bg1 {
    background-color: #fff;
}
#patient_stats .bg2 {
    background-color: #ffd;
}

#patient_stats .nowrap {
    white-space: nowrap;
}
#patient_stats .typehead {
    border-top: 2px solid black;
    background-color: #ddd;
}

#patient_stats .highlight {
    background-color: #336699;
    color: white;
}    



/*=============================================================
 * Patient Stats Summary
 * seen in the patient summary screen
 *============================================================*/
#patient_stats_summary {
    width:100%;
}
#patient_stats_summary table {
    border-collapse: collapse;
    background-color: white;
}
#patient_stats_summary .noend_noreturn {
    color: #ee0000;
}
#patient_stats_summary .noend {
    color: #dd5500;
}
#patient_stats_summary .noreturn {
    color: #0000ff;
}
#patient_stats_summary .title {
    font-size: 1.1em;
}
#patient_stats_summary .more {
    font-size: 0.8em;
}
#patient_stats_summary .issuetitle {
    background-color: #ddd;
}
#patient_stats_issues {
    width: 100%;
}
#patient_stats_issues td {
    color: black;
}
#patient_stats_spreadsheets {
    width: 100%;
}
#patient_stats_imm {
    width: 100%;
}
#patient_stats_prescriptions {
    width: 100%;
}

/*=============================================================
 * Patient Notes
 * seen in the patient summary and notes screens
 *============================================================*/
#pnotes .billing {
    background-color: #dfd;  
}

#pnotes .highlight {
    background-color: #fff;
}

#pnotes table {
    border-collapse:collapse;
}

#pnotes .noterow {
    cursor: pointer; 
}

#pnotes .noterow td {
    border-top:1px solid black;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
}


/*=============================================================
 * Patient Past Encounters and Documents
 * seen in the patient encounter screen
 *============================================================*/
#patient_pastenc {
    width:100%;
}
    
#patient_pastenc .billing_note {
    width: 25%;
}
#patient_pastenc .billing_note_text {
    padding: 5px;
    border: 2px outset black;
    background-color: lightgrey;
}
#patient_pastenc .billing_note_text_highlight {
    background-color:#f7f5d1;
}
#patient_pastenc table {
    border-collapse: collapse;
    width:100%;
}
#patient_pastenc tr {
    cursor: pointer;
}
#patient_pastenc td {
    border-top: 1px solid black;
    vertical-align: top;
}
#patient_pastenc th {
    text-align: left;
}
#patient_pastenc #tooltipdiv {
    position:absolute;
    width:500px;
    border:1px solid black;
    padding:2px;
    background-color:#ffffaa;
    visibility:hidden;
    z-index:1000;
    font-size:9pt;
}
#patient_pastenc .highlight {
    background-color: #fff;
}
#patient_pastenc .tooltip {
    position:absolute;
    border:1px solid #333;
    background:#f7f5d1;
    padding:2px 5px;
    color:#333;
    display:none;
}

/*=============================================================
 * This section relates to the custom layouts that can be made
 * using the OEMR tool in the Admin section. For example, the
 * Patient Demographics are a custom layout.
 *============================================================*/

/* Patient Demographics */

#DEM .groupname {
    font-weight: bold;
    color: #080;
    font-size: 0.8em;
    padding-right: 5px;
    vertical-align: bottom;
    height: 2em;
}
#DEM .label {
    font-weight: bold;
    font-size: 0.8em;
    vertical-align: bottom;
}
#DEM .data {
    font-size: 0.8em;
    vertical-align: bottom;
    text-align: left;
    padding-right: 30px;
}

/* Patient History */

#HIS .groupname {
    font-weight: bold;
    color: #080;
    font-size: 0.8em;
    padding-right: 5px;
    vertical-align: bottom;
    height: 2em;
}
#HIS .label {
    font-weight: bold;
    font-size: 0.8em;
    vertical-align: bottom;
}
#HIS .data {
    font-size: 0.8em;
    vertical-align: bottom;
    text-align: left;
    padding-right: 30px;
}


/* the upcoming events section of the demographics page */
#appts {
    border: 1px solid black;
    background-color: #D1F5FF;
    padding: 3px;
}
#appts #apptstitle {
    font-weight: bold;
    background-color: white; 
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    color: #005B74;
}
#appts a {
    color: #004E63;
}
#appts a:hover {
    background-color: #6895A2;
    color: #E8FAFF;
    text-decoration: none;
}
