/*=============================================================
 *
 * This stylesheet was built with this color scheme
 * http://www.wellstyled.com/tools/colorscheme2/index-en.html?tetrad;50;0;217;0.35930735930735924;0.9058823529411765;0.35930735930735924;0.6341176470588235;0.08982683982683981;1;0.17965367965367962;1;0.35930735930735924;0.9058823529411765;0.35930735930735924;0.6341176470588235;0.08982683982683981;1;0.17965367965367962;1;0.35930735930735924;0.9058823529411765;0.35930735930735924;0.6341176470588235;0.08982683982683981;1;0.17965367965367962;1;0.35930735930735924;0.9058823529411765;0.35930735930735924;0.6341176470588235;0.08982683982683981;1;0.17965367965367962;1;0
 *
 *============================================================*/
body {
    margin: 0px 0px 0px 2px;
    /* set the base font and size for all DOM children */
    font-family: sans-serif; 
    font-size: 1em;
    background-color: #94d6e7;
}

a {
  color: #250DA6;
  text-decoration: none;
}

a:visited { color: #0000cc; }
a:hover { color: #A28268; text-decoration: underline; }


/*=============================================================
 * The top-menu in the old style, non-concurrent, layout where
 * the menu runs across the top of the window
 *============================================================*/
#nav_topmenu {
    width: 100%;
    overflow: hidden;
    padding: 0px; margin: 0px;
}
#nav_topmenu form {
    padding: 0px; margin: 0px;
}
#nav_topmenu table {
    width: 100%;
    padding: 0px; margin: 0px;
    border-collapse: collapse;
}
#nav_topmenu tr {
    padding: 0px; margin: 0px;
}
#nav_topmenu td {
    padding: 0px; margin: 0px;
    text-align: center;
}
#nav_topmenu a {
    padding: 1px 2px 1px 2px;
    text-decoration: none;
    color: #004E63;
}
#nav_topmenu a:hover {
    background-color: #6895A2;
    color: #E8FAFF;
}
/* menu, menu_selected, and logout are older classes still used */
.menu {
    font-size: 0.8em;
    color: #6895A2;
    text-align: left;
}
.menu a:hover {
    background-color: #6895A2;
    color: #E8FAFF;
}
.menu_selected {
    font-style: italic;
    color: #000000;
    text-align: left;
}
.logout {
    font-style: italic;
    color: #000000;
    text-align: right;
}

.text {
    text-decoration: none;
    color: #000000;
    font-size: 10pt;
}

.required {
    text-decoration: none;
    font-size: 10pt;
    color: #880000;
    font-weight: bold;
}

.bold {
    text-decoration: none;
    font-size: 10pt;
    color: #000000;
    font-weight: bold;
}

.alert {
    font-size: 70%;
    color: #FF0000;
    text-decoration: none;
}

.small {
    text-decoration: none;
    color: #000000;
    font-size: 80%;
}

.link {
    text-decoration: none;
    color: #0000cc;
    font-size: 70%;
}

.more {
    text-decoration: none;
    font-size: 70%;
}

.back {
    text-decoration: none;
    font-size: 70%;
}

.link_selected {
    text-decoration: none;
    color: #0000FF;
    font-size: 70%;
}

.link_selected:visited {
    text-decoration: none;
    color: #6895A2;
    font-size: 70%;
}

.link_submit {
    text-decoration: none;
    color: #000077;
    font-size: 10pt;
}

.link_submit:visited {
  color: #000077;
}

.link_submit:hover {
  color: #ff5555;
}

.items {
    font-size: 6pt;
}

.title {
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
}

/* see .titlebar below */
.title_bar {
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}
/* the title bar showing the logged in user, date, etc */
.title_bar_top {
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    color: #004E63;
}


/*=============================================================
 * Here we have taken variables from globals.php and turned them into CSS classes 
 * these should be used in place of the GLOBAL variables -- JRM March 2008
 *=============================================================*/
.body_top { background-color: #94d6e7; }    /* $top_bg_line */
.bgcolor2 { background-color: #94d6e7; }    /* $GLOBALS['style']['BGCOLOR2'] */
.body_bottom { background: url('../pic/aquabg.gif') repeat; }  /* $bottom_bg_line */
.body_title { background-color: #D1F5FF; }  /* $title_bg_line */
.body_nav { background-color: #94D5E7; }    /* $nav_bg_line */
.body_filler { background-color: #f7f0d5; } /* $login_filler_line */
.body_login { background: url('../pic/aquabg.gif') repeat; } /* $login_body_line */
.table_bg { background-color: #ccc; }           /* $table_bg */
.bgcolor1 { background-color: #ccc; }       /* $GLOBALS['style']['BGCOLOR1'] */
.textcolor11 { background-color: #222; }    /* $GLOBALS['style']['TEXTCOLOR11'] */
.highlightcolor { background-color: #ddd; } /* $GLOBALS['style']['HIGHLIGHTCOLOR'] */
.bottom_line { background: url('../pic/aquabg.gif') repeat; }    /* $GLOBALS['style']['BOTTOM_BG_LINE'] */
.logobar { background-color: #24262c; height: 110px; }                 /* $GLOBALS['logoBarHeight']  262331 */
.navbar { height: 22px; }                   /* $GLOBALS['navBarHeight'] */
.titlebar { height: 20px; }                 /* $GLOBALS['titleBarHeight'] */


/*==========================================================
 * box with 'info' icon in the background
 * useful for small information boxes
 *=========================================================*/
.infobox {
    background: #FFF9E8 url('../../images/info.png') no-repeat center left;
    padding: 3px 3px 3px 19px;
}


/*==========================================================
 * Calendars
 *
 * All the calendar CSS files are held in the directory:
 *   interface/main/calendar/modules/PostCalendar/pntemplates/default/style
 * However, there may be some cross-over between this main
 * CSS file and that other one. 
 *
 * ONE EXCEPTION is the Outlook-style calendar 
 * it relies on a CSS file in this same folder 
 * named ajax_calendar.css
 *
 *=========================================================*/


/*=============================================================
 * For the reports list page
 *============================================================*/
#reports_list {
    font-family: sans-serif;
    margin-top: 5px;
}
#reports_list a {
    font-size: 1em;
}
#reports_list td {
    font-size: 1em;
}
#reports_list ul {
    list-style: none;
}
#reports_list li {
    padding: 2px 0px 0px 0px;
}

