body {
	font-family: lato, Helvetica, Sans-Serif;
	font-size: 14px;
}

@import "core";

.menuBar{
	width:100%;
	height:auto;
	display:block;
	position:fixed;
	top:0;
	background-color:#FFFFFF !important;
	z-index:100;
}

.menuBar ~ .container{
	margin-top:95px;
}


.logout {
	color: #000000;
	text-decoration: none;
	text-align: $right;
}

.alert-custom {
	background-color: #FF0000 !important;
	color: #fff !important;
}

.small span.text, span.required, span.bold {
	font-size: 1em;
}

.link {
	font-size: 0.7em;
}

.more {
	font-size: 0.7em;
}

.back {
	font-size: 0.7em;
}

.link_selected {
	font-size: 0.7em;
}
.link_selected:visited {
	font-size: 0.7em;
}

.items {
	font-size: 0.7em;
}

.title {
	font-size: 1.5em;
}

.title_bar {
	font-size: 1.13em;
}

.body_top {
	background-color: #ffffff;
}
/* $top_bg_line */

.bgcolor2 {
	background-color: #ffffff;
}
/* $GLOBALS['style']['BGCOLOR2'] */

.body_title {
	background-color: #f4f4f4;
}
/* $title_bg_line */

.body_nav {
	background-color: #f0f0f0;
}
/* $nav_bg_line */

.body_filler {
	background-color: #f7f0d5;
}
/* $login_body_line */

#addressbook_list tr.search {
	font-size: 0.9em;
}
#addressbook_list .inputtext {
	font-size: 0.9em;
}

[href~="deleter"],
[onclick~="delete"] {
	background: #ff5d5a !important;
}

.section {
	background: #f0f0f0;
	border-color: #d7d7d7 !important;
}

/* styles taken out of templates/documents/general_list.html */
#documents_list {
	width: 100%;
	height: 95%;
	overflow: auto;
	float: left;
	border-right: dashed 1px;
}
#documents_list td {
	font-size: 0.8em;
}
#documents_list a {
	font-size: 0.8em;
}

.body_title table tr td {
	padding: 0px !important;
}

/* Patient History */
#HIS .groupname {
	font-size: 0.9em;
}
#HIS .label_custom {
	font-size: 0.9em;
}
#HIS .data {
	font-size: 0.9em;
}

/*=============================================================
 * Patient Past Encounters and Documents
 * seen in the patient encounter screen
 *============================================================*/
#patient_pastenc #tooltipdiv {
	font-size: 0.9em;
}

/*=============================================================
 * Report - Custom
 * seen as the patient report (custom_report.php)
 *============================================================*/
#report_custom h1 {
	font-size: 1.2em;
}
#report_custom .encounter h1 {
	font-size: 1.4em;
}

#addressbook_list tr.evenrow {
	background-color: #ddddff;
}

#addressbook_list tr.oddrow {
	background-color: #ffffff;
}

tr.odd, td.even {
	background-color: #ffffff !important;
}

@import "buttons/_light";

#logout_link span {
	display: none;
}

/*
 * TABS
*/
ul.tabNav {
	margin: 0;
	padding: 0;
	padding-top: 4px;
	background: #2672ec;
}
ul.tabNav li {
	padding: 0px 4px;
}
ul.tabNav li.current a {
	background: #ffffff;
	color: #2672ec;
}
ul.tabNav a {
	color: #ffffff;
	padding: 8px 17px;
}
ul.tabNav a:focus {
	outline: none;
}

/**
* List-table formatting
**/

.showborder td {
	font-size: 0.9em;
}

.showborder_head th {
	font-size: 0.9em;
}

.shownoborder td {
	font-size: 0.9em;
}

.showborder_long tr td {
	font-size: 0.9em;
}

/**
* Drug lookup
**/
.drug_lookup {
	font-size: 0.8em;
}

@import "navigation-slide/_light";

#sddm li {
	background: #f0f0f0;
}
#sddm li a {
	padding: 12px;
	color: #2672ec;
}
#sddm li a:hover {
	background: #d7d7d7;
}
#sddm div {
	display: none;
	margin: 0;
	padding: 0;
	background: #f0f0f0;
}
#sddm div a {
	color: #2875DE;
}
#sddm div a:hover {
	background: #2672ec;
}

#sddm li.encounter-form-category-li{
	position: relative;
	z-index: 1;
}

.text-area {
	background-color: #FFFFFF;
	border: 1px solid black;
	width: 100%;
	height: 100px;
	overflow: auto;
	text-align: left;
}

.example_menu {
	font-size: 0.7em;
}
.example_menu ul a:hover {
	background: #f5f5f5;
	text-decoration: underline;
}

.error-message{
	font-size: 0.8em;
}


.attach-input{
	text-align: right;
}
.full-width{
	width: 100%;
}
.radio-pos{
	margin-left: 10px;
}

.sidebar {
	background-color: #f8f8f8;
	font-size: 0.95em;
}

.sidebar .submenu {
	font-size:0.9em;
}

.alert-danger-custom {
	background-color: #FF0000 !important;
	color: #fff !important;
}
/* to align feesheet buttons*/
div.category-display {
	margin-left: 25px !important;
}
.chevron_color {
    color: #2672ec;
}

#create_patient_btn {
	float: right;
	margin-top: 25px;
}

/*~~openemr5 tabs menu , user and logout icon~~*/
#menu_icon, #logout_icon, #user_icon {
    color:#676666 !important;
}
/*~~openemr5 tabs menu , user and logout icon~~*/
/*openrmr5.0.2 edit_globals vertical menu*/
#theform input[type="text"] {
	border: 1px solid #ccc;
	margin: 0;
}
#oe-nav-ul.tabNav li.current {
	color: #2672ec;
}
#oe-nav-ul.tabNav a {
	background: #f4f4f4;
	border-left: 2px solid #1976d2;
	border-bottom: 1px solid #ccc;
}
#oe-nav-ul.tabNav a:hover {
	background-color: #fff !important;
	color: #2672ec;
}
#oe-nav-ul.tabNav {
	background: rgba(0, 0, 0, .05)!important;
}
#oe-nav-ul.tabNav .current a {
	border-color: #2672ec;
	background: #fff;
	color: #2672ec;
}
#globals-div .tabContainer {
	border-color: #2672ec;
}
.oe-global-tab-heading {
	color: #2672ec;
}
/*openrmr5.0.2 edit_globals vertical menu*/
/*main.php expandable search*/
#search_globals {
    background: #e8e8e8 !important;
}
/*main.php expandable search*/
/*bootstrap navbar */
.navbar-collapse.collapse.in {
    background-color: #F5F5F5!important;
    color: #000!important;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: #eee;
}
/*bootstrap navbar */
/*openemr 5 patient-finder*/
@media screen and (max-width: 750px) {
    #pt_table {
        font-size: 1.2rem;
    }
}
/*openemr 5 patient-finder*/
/*vertical main menu */

.appMenu_small .menuSection > .menuEntries {
    left:40px;
    box-shadow:3px 5px 8px #adadad;
}
/*vertical main menu */
/*search any*/
*.oe-expandable-search .any-search-legacy {
    background: #FFFFFD;
}
/*search any*/
@import "oe-bootstrap";
@import "oe-common/all-common-import";

@include if-rtl {
	@include rtl_style;
}