.nav-menu-img {
	display:none !important;
}

body {
	margin: 0px 0px 0px 2px;
	/* set the base font and size for all DOM children */
	font-family: 'source_sans_pro','FontAwesome';
	content: "\f0c4";
	font-size: 16px;  /* set the base font size for all DOM children */
}

@import "core";

.menu {
	font-style: italic;
	font-size: 0.95em;
}

.menu_selected {
	font-style: italic;
	font-size: 0.95em;
}

.logout {
	font-style: italic;
	font-size: 0.95em;
}

.text {
	color: #4C2222;
}

.alert-custom {
	font-size: 0.8em;
	color: #FF0000;
	text-decoration: none;
}

.link {
	text-decoration: none;
	color: #0000cc;
	font-size: 0.8em;
}

.more {
	font-size: 0.8em;
}

.back {
	font-size: 0.8em;
}

.link_selected {
	font-size: 0.8em;
}

.link_selected:visited {
	font-size: 0.8em;
}
.link_submit {
	font-size: 0.85em;
}

.items {
	font-size: 0.6em;
}

.title {
	font-size: 1.2em;
}

.title_bar {
	font-size: 1.0em;
}

.title_bar_top {
	font-size: 1.1em;
}

.sidebar {
	background: #fffbeb;
	font-size: 95%;
}

.sidebar .submenu {
	font-size:90%;
}

.navbar-custom {
	padding:0px;
}

#addressbook_list td {
	font-family: 'source_sans_pro','FontAwesome', Arial, Helvetica, sans-serif;
}
#addressbook_list tr.search {
	font-size:0.8em;
}
#addressbook_list tr.head {
	font-size:0.9em;
}
#addressbook_list tr.detail {
	font-size:0.8em;
}
#addressbook_list .inputtext {
	font-family: 'source_sans_pro','FontAwesome',monospace;
	font-size:0.8em;
}
#addressbook_list .button {
	font-family: 'source_sans_pro','FontAwesome',sans-serif;
}
#reports_list td {
	font-family: 'source_sans_pro','FontAwesome',helvetica;
}
#reports_list a {
	font-family: 'source_sans_pro','FontAwesome',helvetica;
}

/* styles taken out of templates/documents/general_list.html */
#documents_list {
	width: 100%;
	height: 95%;
	overflow: auto;
	float: left;
	border-right: dashed 1px;
}
#documents_list td {
	font-family: 'source_sans_pro','FontAwesome',helvetica;
}
#documents_list a {
	font-family: 'source_sans_pro','FontAwesome',helvetica;
}

/*=============================================================
 * Patient Stats
 * seen in the patient stats screens
 *============================================================*/
#patient_stats table {
	width: 100%;
	background-color: #fff;
	padding: 1em;
	border: 1pt solid black;
	-moz-box-shadow: 2px 2px 2px #c0c0c0;
	-webkit-box-shadow: 2px 2px 2px #c0c0c0;
	box-shadow: 2px 2px 2px #c0c0c0;
	border-radius: 5px;
}
#patient_stats table:first {
	border:none;
}
#patient_stats .head {
	font-size: 0.9em;
}
#patient_stats .detail {
	font-size: 0.9em;
}

/*=============================================================
 * Patient Past Encounters and Documents
 * seen in the patient encounter screen
 *============================================================*/
#patient_pastenc #tooltipdiv {
	font-size:0.85em;
}

tr.odd {
	background-color: grey;
}

td.even {
	background-color: #ffffff;
}

@import "buttons/_manilla";

#logout_link span {
	display: none;
}

/*
 * TABS
*/

ul.tabNav { margin: 0; }
ul.tabNav li { float: left; margin: 0 3px 0 0;
	padding: 0.5px 0 0;
	font-size: 0.8em;
	vertical-align: bottom;
	text-align: left;
	border-radius: 8px 8px 0 0;
	position: relative;
	z-index: 1;
	top: 2px;
	border-left: 1pt solid black;
	border-top: 1pt solid black;
	border-right: 1pt solid black;
}
ul.tabNav li.current {
	font-weight: bold;
	font-size: 0.8em;
	vertical-align: bottom;
	text-align: left;
	position: relative;
	z-index: 3;
	top: 0.0875em;
	border-left:1pt solid black;
}
ul.tabNav a {
	background: #F8E6CBE6;
	color: #333;
	padding: 8px;
	border-radius: 8px 8px 0 0;
	box-shadow: 2px -1px 1px #c0c0c0;
}
ul.tabNav li.current a { background:#FFFFFF; }

div.tabContainer {
	clear: both;
	float: left;
	width: 100%;
	border-radius: 0px 8px 8px 8px;
	box-shadow: 0px 0px 10px #f0f0f0;
	border: 1pt solid #c0c0c0;
	position:relative;
	z-index: 1;
	background-color: white;
	margin-top: -0.1px;
	margin-bottom: 2em;
	padding: 10px;
}
div.tabContainer div.tab { border: none; color: #000; display: none; padding: 10px; }
div.tabContainer div.current { box-shadow: 0pt; display: block; }

div.tab {
	min-height: 180px;
	background: #ffffff none repeat scroll 0 0;
	margin-bottom: 10px;
	width:800px;
	border: 1pt solid black;
	border-radius: 5px;
}
div.tab_long {  min-height: 180px; background: #ffffff none repeat scroll 0 0; margin-bottom: 10px;width:100%;}
div.tab p:last-child { margin-bottom: 0; }

table {
	border-collapse: separate;
}

td .div {
	border-left:1pt solid black;
}
div.notab {
	background: #FFFFFF none repeat scroll 0 0;
	margin-bottom: 10px;
	border: 1px solid #c0c0c0;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	box-shadow: 1px 2px 4px #c0c0c0;
	padding-left: 10px;
	margin-bottom: 2em;
	width: initial;
}
div.notab-right {
	border: 1px solid #c0c0c0;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	box-shadow: 1px 2px 4px #c0c0c0;
	padding-left: 10px;
	margin-bottom: 2em;
	width: initial;
}

.section-header {
	clear: both;
	border: 1px solid black;
	background-color: #f8e8cb;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 2px 0px 5px #c0c0c0;
	padding: 6px;
	margin: initial;
}
.section-header-dynamic {
	clear: both;
	border: 1px solid black;
	background-color: #f8e8cb;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 2px 0px 5px #c0c0c0;
	padding: 6px;
	margin: inherit;
}

.summary_item {
	margin: 0 auto 10px;
	background: #FFFFFF none repeat scroll 0 0;
	margin-bottom: 10px;
	border: 1px solid #c0c0;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	box-shadow: 1px 2px 4px #c0c0c0;
}
div.summary_item div {
	margin: 1em auto;
}

/**
* List-table formatting
**/

.showborder td {
	font-size:9pt;
}
.showborder_head  th {
	font-size:9pt;
}
.shownoborder td {
	font-size:9pt;
}
.showborder_long tr td{
	font-size:9pt;
}

/**
* Drug lookup
**/
.drug_lookup{
	font-family: 'source_sans_pro','FontAwesome', helvetica;
	font-size: 8pt;
}

/* Style for red font */
.redtext {
	font-family: 'source_sans_pro','FontAwesome', sans-serif;
	font-size: 10pt;
}
/* Style for red font */

@import "navigation-slide/_manilla";

body dl {
	background-color: #C9DBF2;
	border-bottom: 0.1pt solid black;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	min-height: 0.5px;
}


#sddm li {
	padding: 0;
	background: #C9DBF2; /* for non-css3 browsers */
	color:#000;
}

#sddm li a {
	padding: 4px 10px;
	color: #000;
	font-size: 0.8em;
}

#sddm li a:hover {
	background: #16558C;
	color:#ffffff;
}

#sddm div {
	background-color: #C9DBF2;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
	min-width: 175px;
	border: 0.5pt solid gray;
	border-radius: 0px 5px 5px 5px;
	color: black;
	margin-top: 0px;
	padding-top: 3px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
	z-index:20;
}

#sddm div a {
	background: #C9DBF2;
	color: #000;
}

#sddm div a:hover {
	background: #16558C;
}
#sddm td {
	border-top:0pt !important;
}

.example_menu {
	font-size: 70%;
}

.example_menu ul a:Subjective {
	font-weight: normal;
}
.example_menu ul a:hover {
	background : #f5f5f5;
	text-decoration: underline;
}

/* Form styles */
.formtable {
	font-size: 13px;
}

.error-message{
	font-size: 11px;
}

/* flow board filters*/
#flow_board_parameters{
	padding: 8px;
	text-decoration: none;
	border-radius: 8px;
	border: 1pt solid black;
	box-shadow: 2px 2px 2px rgb(192, 192, 192);
}
#flow_board_parameters table {
	border: none;
}
#theform table table {
	background: #FFF;
	color: #333;
	display: block;
	padding: 0px;
	text-decoration: none;
	border-bottom: 0.1pt solid black;
	box-shadow: 0px 0px 2px #c0c0c0;
	margin: 3px;
}
#theform th ul li {
	top: .375em;
}
#pattrk {
	background: #FFF;
	color: #333;
	display: block;
	padding: 8px;
	text-decoration: none;
	border-radius: 8px;
	border:1pt solid black;
	box-shadow: 2px 2px 2px #c0c0c0;
	margin: 0px auto;
}
#refreshme {
	font-size:0.7em;
}
#setting_cog {
	font-size:0.7em;
}

.calendar {
	z-index:2;
}

.chevron_color {
    color: #063f80;
}

/* main.php*/
.body_main{
  background-color:#F4F4F4;
}
/*~~openemr5 tabs menu , user and logout icon~~*/
#menu_icon, #logout_icon, #user_icon {
    color:#9c9c9c !important;
}
/*~~openemr5 tabs menu , user and logout icon~~*/
/*openrmr5.0.2 edit_globals vertical menu*/
#oe-nav-ul.tabNav li {
    border: none;
    border-radius:0;
}
#oe-nav-ul.tabNav li.current {
	color: #676666;
}
#oe-nav-ul.tabNav a {
	background: #f4f4f4;
	border-left: 2px solid #9c9c9c;
	border-bottom: 1px solid #ccc;
}
#oe-nav-ul.tabNav a:hover {
	background-color: #fff !important;
	color:  #9c9c9c;
}
#oe-nav-ul.tabNav {
	background: rgba(0, 0, 0, .05)!important;
}
#oe-nav-ul.tabNav .current a {
	border-color: #9c9c9c;
	background: #fff;
	color: #676666;
}
#globals-div .tabContainer {
	border-color: #9c9c9c;
}
.oe-global-tab-heading {
	color: #676666;
    margin-top: -20px;
}
.tabSpan {
    border-top: 3pt solid #9c9c9c !important;
    border-left: 1px solid #9c9c9c !important;
    border-right: 1px solid #9c9c9c !important;
}
.tabNotchosen {
    border-bottom: 1pt solid #9c9c9c !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
 }
/*openrmr5.0.2 edit_globals vertical menu*/
/*bootstrap navbar */
.navbar-collapse.collapse.in {
    background-color: #F5F5F5!important;
    color: #000!important;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: #eee;
}
/*bootstrap navbar */
/*openemr 5 patient-finder*/
@media screen and (max-width: 750px) {
    #pt_table {
        font-size: 1.2rem;
    }
}
/*openemr 5 patient-finder*/

/*vertical main menu */

.appMenu_small .menuSection > .menuEntries {
    left:40px;
    box-shadow:3px 5px 8px #adadad;
}
/*vertical main menu */
/*search any*/
*.oe-expandable-search .any-search-legacy {
    background: #FFFFE0;
}
/*search any*/
@import "oe-bootstrap";
@import "oe-common/all-common-import";

@include if-rtl {
	@include rtl_style;
}