
A:{visited: #000000;}

.menu {
	font-family: sans-serif;
	font-style: italic;
	font-size: 11pt;
	color: #000000;
	text-decoration: none;
	text-align: left;
}


.menu_selected {
	font-family: sans-serif;
	font-style: italic;
	font-size: 11pt;
	color: #000000;
	text-decoration: none;
	text-align: left;
}

.logout {
	font-family: sans-serif;
	font-style: italic;
	font-size: 11pt;
	color: #000000;
	text-decoration: none;
	text-align: right;
}

.text {
	font-family: sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 10pt;
}

.required {
	font-family: sans-serif;
	text-decoration: none;
	font-size: 10pt;
	color: #880000;
	font-weight: bold;
}

.bold {
	font-family: sans-serif;
	text-decoration: none;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
}

.alert {
	font-family: sans-serif;
	font-size: 70%;
	color: #FF0000;
	text-decoration: none;
}

.small {
	text-decoration: none;
	color: #000000;
	font-family: sans-serif;
	font-size: 80%;
}

.link {
	font-family: sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 70%;
}

.more {
	font-family: sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 70%;
}

.back {
	font-family: sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 70%;
}

.link_selected {
	font-family: sans-serif;
	text-decoration: none;
	color: #0000FF;
	font-size: 70%;
}

.link_submit {
	font-family: sans-serif;
	text-decoration: none;
	color: #000066;
	font-size: 10pt;
}

.items {
	font-family: sans-serif;
	font-size: 6pt;
}

.title {
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.title_bar {
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}


.title_bar_top {
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}


a {
        text-decoration: none;
}
