commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02-php-module-installs.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        if [ -f /root/openemr_installed.lock ];
          then exit 0
        fi

        printf '\n\n02 PHP Module Installs\n\n'
        yum install -y php70-pdo php70-soap php70-redis php70-xml php70-xsl php70-curl php70-mcrypt php70-json php70-soap php70-gettext php70-mbstring php70-zip php70-mysqlnd
