option_settings:
  aws:elasticbeanstalk:application:environment:
    MOUNT_DIRECTORY: '/var/app/current/openemr/sites/default'
    REGION: '`{"Ref": "AWS::Region"}`'

packages:
  yum:
    nfs-utils: []
    jq: []

commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/05-efs-mount-efs.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        printf '\n\n07 EFS Mount Install\n\n'
        EFS_REGION=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.REGION')
        EFS_MOUNT_DIR=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.MOUNT_DIRECTORY')
        EFS_HOSTNAME=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.NFS_HOSTNAME')

        echo "Mounting EFS filesystem ${EFS_DNS_NAME} to directory ${EFS_MOUNT_DIR} ..."
        echo "Region: ${REGION} ..."

        echo 'Stopping NFS ID Mapper...'
        service rpcidmapd status &> /dev/null
        if [ $? -ne 0 ] ; then
            echo 'rpc.idmapd is already stopped!'
        else
            service rpcidmapd stop
            if [ $? -ne 0 ] ; then
                echo 'ERROR: Failed to stop NFS ID Mapper!'
                exit 1
            fi
        fi

        echo 'Putting a backup of default adjacent to actual mount area in case the mount needs to be seeded...'
        mkdir /var/app/current/openemr/sites/default-backup
        cp -rf /var/app/current/openemr/sites/default/* /var/app/current/openemr/sites/default-backup

        echo "Mounting EFS filesystem ${EFS_DNS_NAME} to directory ${EFS_MOUNT_DIR} ..."
        mountpoint -q ${EFS_MOUNT_DIR}
        if [ $? -ne 0 ]; then
            echo "mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2 ${EFS_HOSTNAME}:/ ${EFS_MOUNT_DIR}"
            mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2 ${EFS_HOSTNAME}:/ ${EFS_MOUNT_DIR}
            if [ $? -ne 0 ] ; then
                echo 'ERROR: Mount command failed!'
                exit 1
            fi
        else
            echo "Directory ${EFS_MOUNT_DIR} is already a valid mountpoint!"
        fi

        echo "Checking if the mount needs to be seeded for the first time"
        if [ ! -f /var/app/current/openemr/sites/default/nfs_is_created.lock ]; then
            echo "Seeding the mount for the first time..."
            cp -rf /var/app/current/openemr/sites/default-backup/* /var/app/current/openemr/sites/default
            chmod -R 777 /var/app/current/openemr/sites/default
            touch /var/app/current/openemr/sites/default/nfs_is_created.lock
        fi

        echo "Deleting temp backup area"
        rm -rf /var/app/current/openemr/sites/default-backup

        echo 'EFS mount complete.'
