option_settings:
  aws:elasticbeanstalk:application:environment:
    MOUNT_DIRECTORY: '/var/app/current/openemr/sites/default'

commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/06-php-configuration.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        if [ -f /root/openemr_installed.lock ];
          then exit 0
        fi

        MOUNT_DIRECTORY=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.MOUNT_DIRECTORY')
        if [ -f ${MOUNT_DIRECTORY}/timezone.txt ]
          then
            echo Found cached timezone!
            TIMEZONE=$(< ${MOUNT_DIRECTORY}/timezone.txt)
          else
            TIMEZONE=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.TIMEZONE')
            echo $TIMEZONE > ${MOUNT_DIRECTORY}/timezone.txt
            echo Cached timezone!
        fi

        echo "TIMEZONE: ${TIMEZONE} ..."

        printf '\n\n05 PHP Configuration\n\n'
        sed -i 's/max_execution_time\ =\ 30/max_execution_time\ =\ 60/' /etc/php.ini
        sed -i 's/max_input_time\ =\ 60/max_input_time\ =\ -1/' /etc/php.ini
        sed -i 's/;\ max_input_vars\ =\ 1000/max_input_vars\ =\ 3000/' /etc/php.ini
        sed -i 's/memory_limit\ =\ 128M/memory_limit\ =\ 512M/' /etc/php.ini
        sed -i 's/post_max_size\ =\ 8M/post_max_size\ =\ 30M/' /etc/php.ini
        sed -i 's^date.timezone\ =\ UTC^date.timezone\ =\ '$TIMEZONE'^' /etc/php.ini
        sed -i 's/auto_globals_jit\ =\ On/auto_globals_jit\ =\ On\nregister_globals\ =\ On/' /etc/php.ini
        sed -i 's/short_open_tag\ =\ 1/short_open_tag\ =\ 0/' /etc/php.ini
