commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/07-redis-configuration.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        if [ -f /root/openemr_installed.lock ];
          then exit 0
        fi

        REDIS_IP=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.REDIS_IP')

        printf '\n\n06 Redis Configuration\n\n'
        sed -i 's/session.save_path\ =\ \"\/tmp\"/session.save_handler\ =\ redis\nsession.save_path\ =\ \"tcp:\/\/'$REDIS_IP':6379\"/' /etc/php.ini
