packages:
  yum:
    mod24_ssl : []

commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:

  "/etc/httpd/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/beanstalk.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/beanstalk.key"
        SSLCipherSuite        EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol           All -SSLv2 -SSLv3
        SSLHonorCipherOrder   On
        SSLSessionTickets     Off

        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options SAMEORIGIN
        Header always set X-Content-Type-Options nosniff

        ProxyPass / http://localhost:80/ retry=0
        ProxyPassReverse / http://localhost:80/
        ProxyPreserveHost on
        RequestHeader set X-Forwarded-Proto "https" early

      </VirtualHost>

  "/tmp/openemr.conf":
    mode: "000644"
    content : |
      TimeOut 3600

      <Directory "/var/app/current/openemr">
        AllowOverride FileInfo
      </Directory>
      <Directory "/var/app/current/openemr/sites">
        AllowOverride None
      </Directory>
      <Directory "/var/app/current/openemr/sites/*/documents">
        order deny,allow
        Deny from all
      </Directory>
      <Directory "/var/app/current/openemr/sites/*/edi">
        order deny,allow
        Deny from all
      </Directory>
      <Directory "/var/app/current/openemr/sites/*/era">
        order deny,allow
        Deny from all
      </Directory>

  "/opt/elasticbeanstalk/hooks/appdeploy/post/08-apache-configuration.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        if [ -f /root/openemr_installed.lock ];
          then exit 0
        fi

        S3BUCKET=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.S3BUCKET')
        KMSKEY=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.KMSKEY')

        yum install awscli -y
        aws configure set s3.signature_version s3v4
        aws s3 cp s3://$S3BUCKET/CA/certs/ca.crt /etc/pki/tls/certs/openemrca.crt
        aws s3 cp s3://$S3BUCKET/CA/certs/beanstalk.crt /etc/pki/tls/certs
        chmod 400 /etc/pki/tls/certs/openemrca.crt /etc/pki/tls/certs/beanstalk.crt
        aws s3 cp s3://$S3BUCKET/CA/keys/beanstalk.key /etc/pki/tls/certs --sse aws:kms --sse-kms-key-id $KMSKEY
        chmod 400 /etc/pki/tls/certs/beanstalk.key

        cp -n -u /tmp/openemr.conf /etc/httpd/conf.d/openemr.conf

        service httpd restart

        touch /root/openemr_installed.lock
