commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/09-couchdb-configuration.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        if [ "$(/opt/elasticbeanstalk/bin/get-config environment | jq -r .COUCHDBZONE)" == "null" ]
          then exit 0
        fi

        if [ -f "/tmp/couchdbzone.json" ]
          then exit 0
        fi

        CURRENTIP=`ip addr | grep 'state UP' -A2 | tail -n1 | awk '{print $2}' | cut -f1  -d'/'`
        CURRENT24=`echo $CURRENTIP |  sed -E 's/^([[:digit:]]*\.[[:digit:]]*\.[[:digit:]]*).*$/\1/'`
        COUCHDBHOSTNAME=`/opt/elasticbeanstalk/bin/get-config environment | jq -r .COUCHDBZONE | jq -r .segment24\[\"$CURRENT24\"\]`
        if [ "$COUCHDBHOSTNAME" != "null" ]
          then
            COUCHDBIP=`host $COUCHDBHOSTNAME | awk '/has address/ { print $4 ; exit }'`
            echo $COUCHDBIP couchdb.openemr.local >> /etc/hosts
        fi
