commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10-post-install-setup-file-deletion.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        if grep -q 'config = 0' /var/app/current/openemr/sites/default/sqlconf.php
        then
          exit 0
        fi

        printf '\n\n09 Post Install File Permission Updates\n\n'
        rm -f /var/app/current/openemr/acl_setup.php
        rm -f /var/app/current/openemr/setup.php
        rm -f /var/app/current/openemr/sql_upgrade.php
        rm -f /var/app/current/openemr/sql_patch.php
        rm -f /var/app/current/openemr/gacl/setup.php
        rm -f /var/app/current/openemr/ippf_upgrade.php
