<a href="{$CURRENT_ACTION}action=edit&id=default" onclick="top.restoreSession()" class="css_button">
    {xl t='Add New Partner'}
	
</a>
<br>
<br>
<table class="table table-responsive table-striped">
    <thead>
    <tr>
        <th>{xl t='Name'}</th>
        <th>{xl t='Sender ID'}</th>
        <th>{xl t='Receiver ID'}</th>
        <th>{xl t='Version'}</th>
    </tr>
    </thead>
    {foreach from=$partners item=partner}
    <tr>
        <td><a href="{$CURRENT_ACTION}action=edit&x12_partner_id={$partner->id}" onclick="top.restoreSession()">{$partner->get_name()}&nbsp;</a>
        </td>
        <td>{$partner->get_x12_sender_id()}&nbsp;</td>
        <td>{$partner->get_x12_receiver_id()}&nbsp;</td>
        <td>{$partner->get_x12_version()}&nbsp;</td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="4">{xl t='No Partners Found'}</td>
    </tr>
    {/foreach}
</table>
