/* Table of Content
==================================================
        #Reset & Basics
        #Basic Styles
        #Site Styles
        #Typography
        #Links
        #Lists
        #../images



/* #Reset & Basics (Inspired by E. Meyers)
================================================== */


blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.subheader {
    color: #777;
}

p.lead {
    font-size: 21px;
    line-height: 27px;
    color: #777;
}

/* #Lists
================================================== */

ol, ul.square, ul.circle, ul.disc {
    margin-left: 30px;
}

ul.square {
    list-style: square outside;
}

ul.circle {
    list-style: circle outside;
}

ul.disc {
    list-style: disc outside;
}

/* #../images
================================================== */

img.scale-with-grid {
    max-width: 100%;
    height: auto;
}

.se_in_1, .se_in_2, .se_in_14 {
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /*float: left;*/
    margin-left: 5px;
    cursor: pointer;
}

.clear {
    clear: both;
}

.se_in_8 {
    width: 98%;
    margin: 0 auto;
    margin-top: 1%;
}

.se_in_8 {
    font-size: 12px;
}

.se_in_9 {
    background: #F1F1F1;
    border: 1px solid #ccc;
}

.se_in_8 table tr {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.se_in_25 {
    background: #90CADE;
}

/*  select box styling   */
.selectParent {
    width: 100%;
    overflow: hidden;
}

.selectParent select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 2px 2px 20px;
    border: none;
    background: transparent url("../images/br_down.png") no-repeat left center;
    text-indent: 0.01px;
    text-overflow: "";
}

/* select box styling ends here  */
/*  send to hie   */
.send-to-hie, .se_in_15 {
    position: absolute;
    z-index: 10;
    background: var(--white);
    border: 1px solid #CCC;
    width: 30%;
    min-height: 150px;
    display: none;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .24);
    /*  padding: 10px;*/
}

.send-to-hie:after, .send-to-hie:before, .se_in_15:after, .se_in_15:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.send-to-hie:after, .se_in_15:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #F0F8FF;
    border-width: 15px;
    left: 10%;
    margin-left: -30px;
}

.send-to-hie:before, .se_in_15:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #CCC;
    border-width: 16px;
    left: 10%;
    margin-left: -31px;
}

/*   radio buttons   */
.se_in_10 {
    float: left;
    width: 24%;
}

.se_in_10 input {
    float: left;
}

.se_in_10 label {
    float: left;
    margin-right: 10px;
    font-size: 12px;
    margin-top: 4px;
}

.send-to_top_section {
    width: 100%;
    background: #FEF9DB;
    height: 30px;
    padding: 10px 0 0 0;
}

.test input {
    outline: none;
    font-size: 12px;
}

.selectRight {
    -moz-appearance: none;
    float: left;
    -webkit-appearance: none;
    background-image: url("../images/br_down.png");
    background-repeat: no-repeat;
    background-position: 97%;
    height: 36px;
    text-indent: 0.01px;
    text-overflow: "";
    border: 1px solid #c6c6c6;
    outline: none;
    width: 160px;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, .24);
    padding-top: 7px;
}

.check_all {
    float: left;
    margin-top: 10px;
    margin-left: 12px;
}

.se_in_11 {
    margin-bottom: 11px;
    float: left;
    width: 95%;
}

.se_in_11 label {
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 12px;
}

.se_in_12 {
    margin: 0 auto;
    width: 80%;
}

.se_in_13 {
    width: 100%;
    background: #F1F1F1;
    border-top: 1px solid #ccc;
    height: 38px;
    margin-top: 1px;
    padding-top: 1%;
}

.se_in_14 {
    float: right;
    margin-right: 5%;
}

.check_all_wrap {
    float: right;
}

.se_in_20 {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAYAAAB8OZQwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFRJREFUeNpivHHjRhIDA8M8BiTABMQNQNyJLvgdiMuAuBlZ8C+UXQOTYGFABSAJdiYGTPAXXbARiCtB2pmhAg1QQbBFHEDcDhOAWVQLxIuQzQAIMAAdXg5EdPCzjAAAAABJRU5ErkJggg==") no-repeat;
}

.se_in_21 {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFRJREFUeNpivHHjRhwDA0MzEP8A4r8MqIAZiDmBuIEFSCwCYg0grmTADrqAeB4TlFMF0oVFUQsQl4MYTEiCjVCMrKgWxmFBMwFkKjvUbbXIEgABBgAwkw1i7Bv53gAAAABJRU5ErkJggg==") no-repeat;
}

.se_in_22 {
    background: #F7F7F7;
}

.se_in_23 {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAPCAYAAAAoAdW+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFVJREFUeNpiYGBgCGbAAz4BcQIuyc9A/AeI/bFJvgXi/0D8BYhdcUmC8AcgtsYlCcIvgFgflyQIP4IpwCYJwntI1onTTpyuxepPvCGEN2xxxgpAgAEAyiwy11Ncya8AAAAASUVORK5CYII=") no-repeat;
    background-position: center;
}

.se_in_24 {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAHCAYAAADXhRcnAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF1JREFUeNpiZGBgCAbi+UDMCMS/GAgDNiD+D8SJMIEEIP4DFSSE/0DVowB/IP5CQOMXqDqswBWIP+DQ+AEqjxdYA/ELNI0voOJEAX0gfgTV+AjKJwmANOzBpxEgwAD96SlmJmJHngAAAABJRU5ErkJggg==") no-repeat;
    background-position: center;
}

/************************************* New Tab styles*************************************/

.main-all {
    display: none;
}

.child-all, .child-all-import {
    display: none;
}

.main-tab-1 {
    display: block;
}

.import-child-tab-1 {
    display: block;
}

/********************************************** child tab ****************************************/
.child-tab-head li {
    float: left;
}

.child-tab-1 {
    display: block;
}

.send-to-hie {
    z-index: 10;
    background: var(--white);
    border: 1px solid #CCC;
    display: none;
    width: 99%;
    display: block;
}

.ap-st-st-2 {
    width: 96%;
    height: 30px;
    background: #F1F1F1;
    padding: 1% 2%;
    border-bottom: 1px solid #CCC;
}

.ap-st-st-13 {
    padding: 10px;
    background: none repeat scroll 0 0 #F0F8FF;
}

/************ arow **************/
.under_construction {
    width: 100%;
    padding: 50px 0px;
}

.under_construction a {
    text-decoration: none;
}

.close {
    line-height: 15px !important;
    float: none;
}

#refresh {
    background: url('icons/reload_blue.png') no-repeat;
    background-size: 45px 45px;
    cursor: pointer;
    text-align: center;
    height: 45px;
    width: 45px;
    float: right;
    margin-right: 1%;
}

.narr_table {
    width: 100%;
}

.narr_tr {
    background-color: #ffffcc;
}

.narr_th {
    background-color: #ffd700;
}
