/*
*
*	Laminas Modules Custom CSS
*	TODO: Consolidate with core themes in GSoC
*
*/

div.installer_result {
    background-color: var(--white);
    padding: 4px;
    border: 1px solid var(--gray300);
    width: 606px;
}

.installerHead {
    font-size: 110%;
    font-weight: normal;
    text-align: center;
}

.center {
    text-align: center;
}

.groupRegUn {
    background: var(--gray300) !important;
    color: var(--danger);
}

.hide {
    display: none;
}

.limitContainer {
    width: 600px;
}

.err {
    color: var(--danger);
}

/* changing the default theme */
ul.tabNav li.current a {
    background: var(--primary) !important;
    padding: 8px;
}

ul.tabNav a {
    background: var(--gray500);
    border: 1px solid var(--gray600) !important;
    border-bottom: 0 !important;
    border-width: 1px 1px 0;
    color: var(--white) !important;
    display: block;
    padding: 4px 4px 5px 4px;
    text-decoration: none;
}

.activate {
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 57px;
    padding: 3px 0 2px;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    font-size: 0.75rem;
    font-weight: normal;
}

.deactivate {
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 57px;
    padding: 3px 0 2px;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    font-size: 0.75rem;
    font-weight: normal;
}
