	/**
   * encounter.css
   */
  
  ul,li {
		list-style-type: none;
	}
	.selection {
    -webkit-transition: text-shadow 0.2s linear;
    -moz-transition: text-shadow 0.2s linear;
    -ms-transition: text-shadow 0.2s linear;
    -o-transition: text-shadow 0.2s linear;
    transition: text-shadow 0.2s linear;
	}
	.selection:hover {
    color: #0E2D5F; 
    padding: 1px;
    text-shadow: 0 0 10px #079FB3;
	}
	
	#diloagMin {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: auto;
		/*background: #0068A4;*/
	}
	