@media print {
    #report_parameters_daterange {
        visibility: visible !important;
        display: inline !important;
        margin-bottom: 10px !important;
    }

    #print_table {
        display: none !important;
    }
}

@media screen {
    #report_parameters_daterange {
        visibility: hidden !important;
        display: none !important;
    }
}
