/*!
 * application style overrides and customizations
 */
.modal.left .modal-dialog, .modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 100%; //
	height: 75%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content, .modal.right .modal-content { //
	height: 75%;
	overflow-y: auto;
}

.modal.left .modal-body, .modal.right .modal-body { //
	padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
	left: -320px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
	left: 0;
}

.modal.right.fade .modal-dialog {
	right: -320px;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	-o-transition: opacity 0.3s linear, right 0.3s ease-out;
	transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #EEEEEE;
	background-color: #FAFAFA;
}

/* .close {
	background-color: #999999;
	color: #000000;
	line-height: 35px;
	position: absolute;
	left: -5px;
	text-align: center;
	top: -15px;
	width: 35px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
 */
.close:hover {
	background: #00d9ff;
}

.popover {
	max-width: 100%;
}

fieldset {
	background-color: #ffffff;
}

legend {
	background-color: #ddedff;
	font-style: italic;
}

fieldset.forms-border {
	border: 2px groove #9bcdff !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}

legend.forms-border {
	width: auto; /* Or auto */
	padding: 0 5px; /* To give a bit of padding on the left and right */
	border-bottom: none;
}

input[type=checkbox]:checked+label {
	background-color: #fdfdfd;
	border-color: #ff0080;
	color: #000;
}

.btn-default.active {
	background-color: #fdfdfd;
	border-color: #ff0080;
	color: #000;
}

.btn-default.checked {
	background-color: #fdfdfd;
	border-color: #ff0080;
	color: #000;
}

.form-inline .form-groups {
	margin-left: 0;
	margin-right: 0;
}

.form-group.inline {
	outline: 1px solid lightgrey;
	background-color: ghostwhite !important;
	padding: 5px;
	margin: 8px 8px 0px 0px;
	width: auto;
}

.control-label {
	background-color: white !important;
}

/* .col-xs-2 {
	min-width: 0;
	width: 12%;
	display: inline;
	padding: 2px 2px 2px 2px;
} */

.equal {
	display: flex;
	flex-wrap: wrap;
}

.equal>div[class*='col-'] {
	display: flex;
	flex-direction: column;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #f0f0f0;
}

.signature {
	width: auto !important;
	height: 70px;
	z-index: 5 !important; //
	padding-top: 20px;
}

img {
	color: red !important;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

h1 {
	margin-bottom: 8px;
}

hr {
	margin: 10px 0px 10px 0px;
}

p.buttonContainer {
	
}
table.collection thead {
	background: #e7ecfe;
}
table.collection tbody {
	background: white;
}
table.collection tr:hover {
	cursor: pointer;
}

table.collection th:hover {
	cursor: pointer;
	opacity: 0.5;
}

.date-picker input {
	width: 80px;
}

.date-picker i {
	color: #999;
	margin-top: 2px;
	margin-left: -1px;
}

.bootstrap-timepicker-component input {
	width: 70px;
}

.bootstrap-timepicker-component i {
	color: #999;
	margin-top: 3px;
	margin-left: 0px;
}

.searchContainer input, searchContainer button {
	margin-top: 8px;
}

.searchContainer input {
	margin-top: 8px;
}

/* search filter button */
.input-append button.add-on {
	height: inherit !important;
	color: #999999;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 8px;
}
#loader {
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* span.loader {
	margin: 0px;
	display: inline-block;
	width: 45%;
}

span.loader .progress-bar {
	display: inline-block;
	width: 100%;
	height: 30px;
} */
/* .popover{
    width: 600px;
} */
/* form controls */
span.help-inline {
	font-size: 1.1em;
	font-style: italic;
	padding: 5px 5px;
	color: red;
	cursor:pointer;
}

/* fixes spacing glitch with combo-box followed by an empty inline help */
span.help-inline:empty {
	display: none;
}