<option value="style_light">style_light</option>
<option value="style_manila">style_manila</option>
<option value="style_ash_blue">style_ash_blue</option>
<option value="style_burgundy">style_burgundy</option>
<option value="style_cadmium_yellow">style_cadmium_yellow</option>
<option value="style_chocolate">style_chocolate</option>
<option value="style_cobalt_blue">style_cobalt_blue</option>
<option value="style_coral">style_coral</option>
<option value="style_deep_purple">style_deep_purple</option>
<option value="style_dune">style_dune</option>
<option value="style_emerald">style_emerald</option>
<option value="style_forest_green">style_forest_green</option>
<option value="style_mauve">style_mauve</option>
<option value="style_mustard_green">style_mustard_green</option>
<option value="style_olive">style_olive</option>
<option value="style_pink">style_pink</option>
<option value="style_powder_blue">style_powder_blue</option>
<option value="style_red">style_red</option>
<option value="style_sienna">style_sienna</option>
<option value="style_tangerine">style_tangerine</option>
