<html>
    <head>
        <title>{{ pageTitle|text }}</title>
        {{ setupHeader() }}
    </head>
    <body>
        <div class="d-flex w-100 h-75 align-items-center justify-content-center">
            <h3>
                {{ pageTitle|text }} {{ "Not Authorized"|xlt }}
            </h3>
        </div>
    </body>
</html>
