@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SFUIDisplay";
  src: url("../public/fonts/SFUIDisplay-Regular.otf");
}
@font-face {
  font-family: "SFUIDisplayBlack";
  src: url("../public/fonts/SFUIDisplay-Heavy.otf");
}

.transition-width{
  transition: width 2s;
}
.text-maxlines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animate-fade-in {
  transition: opacity 3s;
  animation: fadeIn 3s;
}
.animate-fade-out {
  transition: opacity 3s;
  animation: fadeOut 3s;
}
.min-width-md{
  min-width: 200px;
}
@-webkit-keyframes autofill {
  0%,100% {
      color: #666;
      background: transparent;
  }
}
.required-field::after {
  content: "*";
  color: red;
  margin-left:2px
}
input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}