<html>
<head>
{php}html_header_show();{/php}
<link rel="stylesheet" href="{$CSS_HEADER}" type="text/css">
</head>
<body class="body_top">

<span class="title"><b>{xl t='Send'}</b></span>
<div style="margin-top:10px;">
    {if $process_result}
        {$process_result}
        <br/>
    {/if}

    <div style="float:left">
        <form name="genform1" method="post" action="{$TOP_ACTION}send&id={$prescription->id}" target="_new" onsubmit="return top.restoreSession()">
        <input type="submit" name="submit" value="{xl t='Print'} ({xl t='PDF'})" style="width:100;font-size:9pt;"/>
        <input type="hidden" name="process" value="{$PROCESS}" />
        </form>
    </div>

    <div style="float:left">
        <form name="send_prescription" method="post" action="{$TOP_ACTION}send&id={$prescription->id}" target="_new" onsubmit="return top.restoreSession()">
        <input type="submit" name="submit" value="{xl t='Print'} ({xl t='HTML'})" style="width:100;font-size:9pt;"/>
        <input type="hidden" name="process" value="{$PROCESS}" />
        </form>
    </div>

    <div style="float:none">
        <form name="send_prescription" method="post" action="{$TOP_ACTION}send&id={$prescription->id}&print_to_fax=true" target="_new" onsubmit="return top.restoreSession()">
        <input type="submit" name="submit" value="{xl t='Print To Fax'}" style="width:100;font-size:9pt;"/>
        <input type="hidden" name="process" value="{$PROCESS}" />
        </form>
    </div>

    <div>
        <form name="send_prescription" method="post" action="{$TOP_ACTION}send&id={$prescription->id}" onsubmit="return top.restoreSession()">
        <input type="submit" name="submit" value="{xl t='Email'}" style="width:100;font-size:9pt;" /><input type="text" name="email_to"  size="25" value="{$prescription->pharmacy->get_email()}">
        <br/>
        <input type="submit" name="submit" value="{xl t='Fax'}" style="width:100;font-size:9pt;"/><input type="text" name="fax_to"  size="25" value="{$prescription->pharmacy->get_fax()}" >
        <input type="hidden" name="process" value="{$PROCESS}" />
        </form>
        <form name="send_prescription" method="post" action="{$TOP_ACTION}send&id={$prescription->id}" target="_new" onsubmit="return top.restoreSession()">
        <input type="submit" name="submit" value="{xl t='Auto Send'}" style="width:100;font-size:9pt;" /> {html_options name="pharmacy_id" options=$prescription->pharmacy->utility_pharmacy_array() selected=$prescription->pharmacy->id}
        <input type="hidden" name="process" value="{$PROCESS}" />
        </form>
    </div>
</div>

</body>
</html>
