<html>
<head>
{php}html_header_show();{/php}
<link rel="stylesheet" href="{php}echo $GLOBALS['css_header']; {/php}" type="text/css">
<script type="text/javascript" src="{$WEBROOT}/library/js/jquery-1.2.2.min.js"></script>

{literal}
<style type="text/css" title="mystyles" media="all">
.inactive {
  color:#777777;
}
td, th {
  font-size:0.7em;
  border-bottom: 1px solid #999;
}
</style>

<script language="javascript">

function changeLinkHref(id,addValue,value) {
    var myRegExp = new RegExp(":" + value + ":");
    if (addValue){ //add value to href
        document.getElementById(id).href += ':' + value + ':';
    }
    else { //remove value from href
        document.getElementById(id).href = document.getElementById(id).href.replace(myRegExp,'');
    }
}

</script>

{/literal}
</head>
<body class="body_bottom">
<div id="prescription_list">
<div id="print_links">
<a id="multiprint" target="_new" href="{$CONTROLLER}prescription&multiprint&id={$printm}" onclick="top.restoreSession()">{xl t='Print Multiple'} ({xl t='PDF'})</a>
<br>
<a id="multiprintcss" target="_new" href="{$CONTROLLER}prescription&multiprintcss&id={$printm}" onclick="top.restoreSession()">{xl t='Print Multiple'} ({xl t='HTML'})</a>
<br>
<a id="multiprintToFax" target="_new" href="{$CONTROLLER}prescription&multiprintfax&id={$printm}" onclick="top.restoreSession()">{xl t='Print Multiple To Fax'}</a>
{if $CAMOS_FORM == true}
<br>
<a id="four_panel_rx" target="_new" href="{$WEBROOT}/interface/forms/CAMOS/rx_print.php?sigline=plain" onclick="top.restoreSession()">{xl t='Print Four Panel'}</a>
{/if}
</div>

<table>
    <tr>
        <th>{xl t='Drug'}</th>
        <th>{xl t='Created'}<br />{xl t='Changed'}</th>
        <th>{xl t='Dosage'}</th>
        <th>{xl t='Qty'}.</th>
        <th>{xl t='Unit'}</th>
        <th>{xl t='Provider'}</th>
        <th>{xl t='Select'}</th>
    </tr>

	{foreach from=$prescriptions item=prescription}
  <tr id="{$prescription->id}" class="onescript {if $prescription->active <= 0} inactive{/if}" title="{xl t='Click to view/edit'}">
    <td class="editscript" id="{$prescription->id}">
      {if $prescription->active > 0}<b>{/if}{$prescription->drug}{if $prescription->active > 0}</b>{/if}
    </td>
    <td class="editscript" id="{$prescription->id}">
      {$prescription->date_added}<br />
      {$prescription->date_modified}
    </td>
    <td class="editscript" id="{$prescription->id}">
      {$prescription->get_dosage_display()}
    </td>
    <td class="editscript" id="{$prescription->id}">
      {$prescription->quantity}
    </td>
    <td class="editscript" id="{$prescription->id}">
      {$prescription->get_unit_display()}
    </td>
    <td class="editscript" id="{$prescription->id}">
      {$prescription->provider->get_name_display()}
    </td>
    <td>
      <input type="checkbox" value="{$prescription->id}" onclick="changeLinkHref('multiprint',this.checked, this.value);changeLinkHref('multiprintcss',this.checked, this.value);changeLinkHref('multiprintToFax',this.checked, this.value)" title="{xl t='Select for printing'}">
    </td>
  </tr>
	{foreachelse}
	<tr>
		<td colspan="6">{xl t='No Prescriptions Found'}</td>
	</tr>
	{/foreach}
</table>
</div>
</body>
{literal}
<script language='JavaScript'>

$(document).ready(function(){
$(".editscript").click(function() { ShowScript(this); });
$(".onescript").mouseover(function() { $(this).children().toggleClass("highlight"); });
$(".onescript").mouseout(function() { $(this).children().toggleClass("highlight"); });
});

var ShowScript = function(eObj) {
    top.restoreSession();
    objID = eObj.id;
    document.location.href="controller.php?prescription&edit&id="+objID;
    return true;
};

</script>
{/literal}
</html>
