<html>
<head>
{php}html_header_show();{/php}
<link rel="stylesheet" href="{php}echo $GLOBALS['css_header']; {/php}" type="text/css">
<script language="Javascript">
{literal}
		function my_process () {
			// Pass the variable
{/literal}
			parent.iframetopardiv(document.lookup.drug.value);
			parent.opener.document.prescribe.drug.value = document.lookup.drug.value;
			// Close the window
			window.self.close();
{literal}
		}
{/literal}
</script>
{literal}
 <style type="text/css" title="mystyles" media="all">
<!--
td {
	font-size:8pt;
	font-family:helvetica;
}
input {
	font-size:8pt;
	font-family:helvetica;
}
select {
	font-size:8pt;
	font-family:helvetica;
}
a {
	font-size:8pt;
	font-family:helvetica;
}
textarea {
	font-size:8pt;
	font-family:helvetica;
}
-->
</style>
{/literal}
</head>
<body onload="javascript:document.lookup.drug.focus();">
<div style="" class="drug_lookup" id="newlistitem">
	<form NAME="lookup" ACTION="{$FORM_ACTION}" METHOD="POST" onsubmit="return top.restoreSession()" style="margin:0px">

	{if $drug_options}
        <div>
        {html_options name="drug" values=$drug_values options=$drug_options}<br/>
        </div>
        <div>
            <a href="javascript:;" onClick="my_process(); return true;">Select</a> |
            <a href="javascript:;" class="button" onClick="parent.cancelParlookup();">Cancel</a> |
            <a href="{$CONTROLLER_THIS}" onclick="top.restoreSession()">{xl t='New Search'}</a>
        </div>
	{else}
		{$NO_RESULTS}

		<input TYPE="HIDDEN" NAME="varname" VALUE=""/>
		<input TYPE="HIDDEN" NAME="formname" VALUE=""/>
		<input TYPE="HIDDEN" NAME="submitname" VALUE=""/>
		<input TYPE="HIDDEN" NAME="action" VALUE="{xl t='Search'}">
		<div ALIGN="CENTER" CLASS="infobox">
			<input TYPE="TEXT" NAME="drug" VALUE="{$drug}"/>
			<input TYPE="SUBMIT" NAME="action" VALUE="{xl t='Search'}" class="button"/>
			<input TYPE="BUTTON" VALUE="{xl t='Cancel'}" class="button" onClick="parent.cancelParlookup();"/>
		</div>
		<input type="hidden" name="process" value="{$PROCESS}" />

	{/if}</form>
	</div>
</body>
</html>
