<html>
<head>
{php}html_header_show();{/php}

{literal}
 <style type="text/css" title="mystyles" media="all">
<!--
td {
	font-size:8pt;
	font-family:helvetica;
}
a {
	font-size:8pt;
	font-family:helvetica;
}

-->
</style>

<script language="javascript">

function changeLinkHref(id,addValue,value) {
var myRegExp = new RegExp(":" + value + ":");
        if (addValue){ //add value to href
                document.getElementById(id).href += ':' + value + ':';
        }
        else { //remove value from href
                document.getElementById(id).href = document.getElementById(id).href.replace(myRegExp,'');
        }
}

</script>

{/literal}
</head>
<body {$STYLE.BOTTOM_BG_LINE}>
<table>
	<tr>
		<td colspan="12" align="right">
		<a id="multiprint" target="_new" href="{$CONTROLLER}prescriptiondutch&multiprint&id={$printm}" onclick="top.restoreSession()">Print Multiple</a>
		</td>
	</tr>

	<tr>
		<td>{xl t='Drug'}</td>
		<td rowspan="50">&nbsp;</td>
		<td>{xl t='Created'}<br />{xl t='Changed'}</td>
		<td rowspan="50">&nbsp;</td>
		<td>{xl t='Dosage'}</td>
		<td rowspan="50">&nbsp;</td>
		<td>{xl t='Unit'}</td>
		<td rowspan="50">&nbsp;</td>
		<td>{xl t='Qty'}.</td>
		<td rowspan="50">&nbsp;</td>
		<td>{xl t='Provider'}</td>
                <td>{xl t='Select'}</td>

	</tr>
	{foreach from=$prescriptions item=prescription}
	<tr>
		<td><a href="{$CONTROLLER}prescriptiondutch&edit&id={$prescription->id}" onclick="top.restoreSession()">{$prescription->drug}</a></td>
		<td><a href="{$CONTROLLER}prescriptiondutch&edit&id={$prescription->id}" onclick="top.restoreSession()">{$prescription->date_added}</a><br /><a href="{$CONTROLLER}prescription&edit&id={$prescription->id}" onclick="top.restoreSession()">{$prescription->date_modified}</a></td>
		<td>{$prescription->get_dosage_display()}</td>
		<td>{$prescription->get_unit_display()}</td>
		<td>{$prescription->quantity}</td>
		<td>{$prescription->provider->get_name_display()}</td>
                <td><input type=checkbox value="{$prescription->id}" onclick="changeLinkHref('multiprint',this.checked, this
.value)"></td>
	</tr>
	{foreachelse}
	<tr>
		<td colspan="6">{xl t='No Prescriptions Found'}</td>
	</tr>
	{/foreach}
</table>
</body>
</html>
