/*=============================================================
 * Patient Past Encounters and Documents
 * seen in the patient encounter screen
 *============================================================*/
#encounters {
  width: 100%;
}

#encounters .billing_note {
  width: 25%;
}

#encounters .billing_note_text {
  background-color: #d3d3d3;
  border: 2px outset var(--black);
  padding: 5px;
}

#encounters .billing_note_text_highlight {
  background-color: #f7f5d1;
}

#encounters table {
  border-collapse: collapse;
  width: 100%;
}

#encounters tr {
  cursor: pointer;
}

#encounters th {
  text-align: left;
}

#encounters #tooltipdiv {
  background-color: #ffa;
  border: 1px solid var(--black);
  font-size: 0.75rem;
  padding: 2px;
  position: absolute;
  visibility: hidden;
  width: 500px;
  z-index: 1000;
}

#encounters .highlight {
  background-color: var(--white);
}

#encounters .tooltip {
  background: #f7f5d1;
  border: 1px solid #333;
  color: #333;
  display: none;
  padding: 2px 5px;
  position: absolute;
}

#encounters>table>*>tr>td {
  border-top: 1px solid var(--black);
  vertical-align: top;
}

@media print {
  div.encreport td {
    font-size: 8pt !important;
  }
}

div.encreport td {
  font-size: 0.6875rem;
  vertical-align: top;
}
