<tr>
    <td class="detail text-left">
        {% include 'reports/cqm/_row-provider-group-display-name.html.twig' with {row: row} %}
    </td>
    <td colspan="{{ columns-1|attr }}">&nbsp;</td>
</tr>