[-*Smarty*-]
[-* set MULTIDAY otherwise day header is not shown. This is what makes week view different from day view *-]
[-assign var=MULTIDAY value=true-]
[-*(CHEMED) if user prefers a fancy calendar switch to a different template*-]
[-php-]
 $this->assign('cal_ui', $_SESSION['cal_ui']);
[-/php-]
[-if $cal_ui eq 3-]
  [-if $this->_tpl_vars['PRINT_VIEW'] == 1-]
    [-include file="$TPL_NAME/views/month_print/outlook_ajax_template.html"-]
  [-else-]
    [-include file="$TPL_NAME/views/month/ajax_template.html"-]
  [-/if-]
[-else-] [-*Use default template*-]
  [-include file="$TPL_NAME/views/month/orig_default.html"-]
[-/if-]
