<html>

<head>
{php}html_header_show();{/php}

{literal}

 <style type="text/css" title="mystyles" media="all">

<!--

td {

	font-size:12pt;

	font-family:helvetica;

}

li{

	font-size:11pt;

	font-family:helvetica;

	margin-left: 15px;

}

a {

	font-size:11pt;

	font-family:helvetica;

}

.title {

	font-family: sans-serif;

	font-size: 12pt;

	font-weight: bold;

	text-decoration: none;

	color: #000000;

}



.form_text{

	font-family: sans-serif;

	font-size: 9pt;

	text-decoration: none;

	color: #000000;

}



-->

</style>

{/literal}

</head>

<body bgcolor="{$STYLE.BGCOLOR2}">



<p><span class="title">Adult Progress Note</span></p>

<form name="adult_progress_note" method="post" action="{$FORM_ACTION}/interface/forms/adult_progress_note/save.php"

 onsubmit="return top.restoreSession()">

<table>

<tr>

	<td>

		<span class=text>Med. Allergies: </span><input size=35 type=entry name="med_allergies" value="{$adult_progress_note->get_med_allergies()}" ></input>

		<span class=text>WT: </span><input size=3 type=entry name="wt" value="{$adult_progress_note->get_wt()}" ></input>

		<span class=text>HT: </span><input size=3 type=entry name="ht" value="{$adult_progress_note->get_ht()}" ></input>

		<span class=text>T: </span><input size=3 type=entry name="t" value="{$adult_progress_note->get_t()}" ></input>

	</td>

</tr>

<tr>

	<td>

		<span class=text>Current Meds: </span><input size=35 type=entry name="med_allergies" size="35" value="{$adult_progress_note->get_med_allergies()}" ></input>

		<span class=text>BP: </span><input size=3 type=entry name="bp" value="{$adult_progress_note->get_bp()}" ></input>

		<span class=text>HR: </span><input size=3 type=entry name="hr" value="{$adult_progress_note->get_hr()}" ></input>

		<span class=text>RR: </span><input size=3 type=entry name="rr" value="{$adult_progress_note->get_rr()}" ></input>

	</td>

</tr>

<tr>

	<td><br><br></td>

</tr>

<tr>

	<td>

		<span class=text>CC: 1.</span><input size=100 type=entry name="cc1" size="35" value="{$adult_progress_note->get_cc1()}" ></input>

	</td>

</tr>

<tr>

	<td>

		<span class=text>CC: 2.</span><input size=100 type=entry name="cc2" size="35" value="{$adult_progress_note->get_cc2()}" ></input>

	</td>

</tr>

<tr>

	<td><br><br></td>

</tr>

<tr>

	<td>HPI:</td>

</tr>

<tr>

	<td><textarea name="hpi" wrap="virtual" cols="75" rows="3">{$adult_progress_note->get_hpi()}</textarea></td>

</tr>

</table>

<table>



{foreach name=loops item=headings key=title from=$checks}

<tr>

	<td>

		{if $smarty.foreach.loops.first ne 1}<br>{/if}

		{$title}

	</td>

</tr>

<tr>

	<td>

	  {foreach item=row key=row_title from=$headings}

			<tr>

				{if !is_numeric($row_title)}

					<td>{$row_title}</td>

					<td class="form_text">{html_checkboxes name="checks" options=$row selected=$adult_progress_note->checks separator="&nbsp;</td><td class=\"form_text\">"}</td>

				{else}

					<td width="20"></td>

					<td colspan="6"><table><tr><td class="form_text">

					

					{html_checkboxes name="checks" options=$row selected=$adult_progress_note->checks separator="&nbsp;&nbsp;&nbsp;</td><td class=\"form_text\">"}

					

					</td></tr></table></td>

				{/if}

				

			</tr>

	  {/foreach}

	  

	</td>

</tr>

{/foreach}

</table>

<br><br>

<table>

	<td>Assesment/Plan</td>

</tr>

<tr>

	<td><textarea name="assesment" wrap="virtual" cols="75" rows="8">{$adult_progress_note->get_assesment()}</textarea></td>

</tr>

</table>

<br><br>

<table>

<tr>

	<td>

	{foreach name=loops item=headings key=title from=$checks2}

	<tr>

		<td>

			{if $smarty.foreach.loops.first ne 1}<br>{/if}

			{$title}

		</td>

	</tr>

	<tr>

		<td>

		  {foreach item=row key=row_title from=$headings}

				<tr>

					{if !is_numeric($row_title)}

						<td>{$row_title}</td>

						<td class="form_text">{html_checkboxes name="checks2" options=$row selected=$adult_progress_note->checks2 separator="&nbsp;</td><td class=\"form_text\">"}</td>

					{else}

						<td class="form_text">

						

						{html_checkboxes name="checks2" options=$row selected=$adult_progress_note->checks2 separator="&nbsp;&nbsp;&nbsp;</td><td class=\"form_text\">"}

						

						</td>

					{/if}

					

				</tr>

		  {/foreach}

		  

		</td>

	</tr>

	{/foreach}

	<td>

</tr>

<tr>

	<td><br><br></td>

</tr>

<tr>

	<td><input type="submit" name="Submit" value="Save Form">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{$DONT_SAVE_LINK}" class="link">[Don't Save]</a></td>

</tr>

</table>

<input type="hidden" name="id" value="{$adult_progress_note->get_id()}" />

<input type="hidden" name="activity" value="{$adult_progress_note->get_activity()}">

<input type="hidden" name="pid" value="{$adult_progress_note->get_pid()}">

<input type="hidden" name="process" value="true">

</form>

</body>

</html>

