$colorname: "Dune";

$darkest: #69513A;
$darker: #8C6C4D;
$dark: #B08761;
$mid: #B79370;
$midpale: #C7AB90;
$pale: #CFB7A0;
$midpalepale: #E7DBCF;
$palepale: #EFE7DF;
$palepurple: #E7E6F9;
$paler: #F7F4F0;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
