{% extends 'error/general_http_error.html.twig' %}
{% set statusCode = 404 %}
{% block title %}{{ "OpenEMR 404 Error"|xlt }}{% endblock %}
{% block errorDetails %}
<p>{{ "The page or data you requested could not be found in the system"|xlt }}</p>
{% endblock %}