<html>
<head>
<!-- Get the style sheet for the theme defined in globals.php -->
<link rel="stylesheet" href="[-php-]echo $GLOBALS['css_header'][-/php-]" type="text/css">
<!--[if IE]>
        <link rel="stylesheet" href="/openemr/interface/themes/ajax_calendar_ie.css" type="text/css"/>
<![endif]-->


[-if $cal_ui eq 3-]
<!-- this style sheet is used for the ajax_* style calendars -->
<link rel="stylesheet" href="[-php-]echo $GLOBALS['webroot'].'/interface/themes/ajax_calendar.css';[-/php-]" type="text/css">
<!-- the javascript used for the ajax_* style calendars -->
<script type="text/javascript" src="[-php-] echo $GLOBALS['webroot'] [-/php-]/library/dialog.js"></script>
<script type="text/javascript" src="[-php-] echo $GLOBALS['webroot'] [-/php-]/library/textformat.js"></script>
<script type="text/javascript" src="[-php-] echo $GLOBALS['webroot'] [-/php-]/library/js/jquery-1.6.4.min.js"></script>
[-/if-]

</head>
[-php-]
/* in an attempt to not 'rock the boat' too much the concurrent_layout
 * color scheme remains unchanged
 */
if ($GLOBALS['concurrent_layout']) {
    echo "<body style='background-color:".$GLOBALS['style']['BGCOLOR2']."'>";
}
else {
    echo "<body class='body_top'>";
}
[-/php-]
