<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insurance Payments</title>
    {{ header_setup(['common', 'report-helper']) }}

</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
