{% extends 'layout.html.twig' %}

{% block body %}

{{ name }}
    <div class="container center">
        <h3>Insurance Payments</h3>
        <form class="form-inline">
            <div class="form-group">
                <label>From Date :</label>
                <input type="text" size="10" value="" class="datepicker input-sm" name="fromDate"
                       title="event date or starting date">
            </div>
            <div class="form-group">
                <label>To Date:</label>
                <input type="text" size="10" value="" class="datepicker input-sm" name="toDate"
                       title="event date or starting date">
            </div>
        </form>
    </div>{# --end of container div--  #}

{% endblock %}
