{% extends "patient/card/card_base.html.twig" %}

{% block content %}
<div class="text ml-2">
    <div class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">{{ "Loading"|xlt }}...</span>
    </div>
</div>
{% endblock %}
