{% extends "patient/card/card_base.html.twig" %}

{% block content %}
<div class="text ms-2">
    <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">{{ "Loading"|xlt }}...</span>
    </div>
</div>
{% endblock %}
