{% extends "patient/card/card_base.html.twig" %}

{% block content %}
<ul class="tabNav">
    {{ tabRow(tabID, result, result2) }}
</ul>
<div class="tabContainer">
    {{ tabData(tabID, result, result2) }}
</div>
{% endblock %}
