{#
The base login Twig template

This template sets up the HTML skeleton for the login page and defines several
blocks that can be overridden by a specific layout. This template cannot be
directly used, instead, it is extended by a layout that implements the styling
and semantic choices

@package OpenEMR
@subpackage Login
@author Robert Down <robertdown@live.com
@copyright Copyright (c) 2023 Robert Down <robertdown@live.com>
@copyright Copyright (c) 2023 Providence Healthtech
@license https://github.com/openemr/openemr/blob/master/LICENSE GNU General Public License 3
#}
{% set srOnly = (showLabels == true) ? "" : "sr-only" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% if displayGoogleSignin %}
        {% include "login/partials/html/google_signin.html.twig" %}
    {% endif %}

    <title>{% block title %}{{ title|text }} {{ "Login"|xlt }}{% endblock %}</title>
    {% block head %}{% endblock %}
    {{ setupHeader() }}

    {% include "login/partials/js/login_submit.js.twig" %}

    {% block css %}
    <style type="text/css">
        .band,
        .box,
        .vertical-band {
            background-color: var(--light);
        }
    </style>
    {% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const passInput = document.getElementById('clearPass');
            const toggle = document.getElementById('password-icon');
            if (toggle && passInput) {
                toggle.addEventListener('click', function () {
                    const isPassword = passInput.getAttribute('type') === 'password';
                    passInput.setAttribute('type', isPassword ? 'text' : 'password');
                    this.classList.toggle('fa-eye');
                    this.classList.toggle('fa-eye-slash');
                });
            }

            document.querySelectorAll('a[data-external-authentication-provider]').forEach(function (anchor) {
                anchor.addEventListener('click', function (event) {
                    const loginForm = document.getElementById('login_form');
                    if (!loginForm) {
                        return;
                    }

                    event.preventDefault();

                    const url = new URL(anchor.getAttribute('href'), window.location.href);
                    const siteId = anchor.getAttribute('data-site-id') || loginForm.dataset.siteId || '';
                    const languageSelect = loginForm.querySelector('select[name="languageChoice"]');
                    const languageInput = loginForm.querySelector('input[name="languageChoice"]');
                    const facilitySelect = loginForm.querySelector('select[name="facility"]');
                    const appChoiceInput = loginForm.querySelector('input[name="appChoice"], select[name="appChoice"]');

                    if (siteId) {
                        url.searchParams.set('site', siteId);
                    }
                    if (languageSelect && languageSelect.value) {
                        url.searchParams.set('languageChoice', languageSelect.value);
                    } else if (languageInput && languageInput.value) {
                        url.searchParams.set('languageChoice', languageInput.value);
                    }
                    if (facilitySelect && facilitySelect.value) {
                        url.searchParams.set('facility', facilitySelect.value);
                    }
                    if (appChoiceInput && appChoiceInput.value) {
                        url.searchParams.set('appChoice', appChoiceInput.value);
                    }
                    if (passInput) {
                        passInput.value = '';
                    }

                    window.top.location.href = url.toString();
                });
            });
        });
    </script>
</head>
<body>

{% block pre_content %}{% endblock %}

{% block content %}{% endblock %}

{% block post_content %}{% endblock %}

</body>

</html>
{% if displayGoogleSignin %}
    {# @todo Google signing should be its own module and injected in a better way #}
    {% include "login/partials/js/google_signin.js.twig" %}
{% endif %}
