body, td {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 9pt;
    background-color: #fff;
}
.borderdiv {
    width: 524pt;
    height: 668pt;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}
.paddingdiv {
    padding: 10pt;
}
.bigtable{
    padding: 0px;
    border-spacing: 0;
    border-collapse: collapse;
}
.bigtable, .linetable {
    width: 504pt;
}
.linetable {
    margin: 11pt 0 0 0;
    padding: 0px;
    border-spacing: 0;
    border-collapse: collapse;
}
.mainhead {
    font-weight: bold;
    font-size: 14pt;
    text-align: left;
}
.subhead {
    font-weight: bold;
    font-size: 8pt;
}
.under {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #999999;
}
.ftitletable {
    width: 100%;
    margin: 0 0 0 0;
}
.ftitlecell1 {
    vertical-align: top;
    text-align: left;
    font-size: 14pt;
    font-weight: bold;
}
.ftitlecell2 {
    vertical-align: top;
    text-align: right;
    font-size: 9pt;
    padding-right: 10pt;
}
hr {
    border: 0;
    height: 6pt;
    color: #999999;
    background-color: #999999;
    margin: 12pt 0 12pt 0;
}
.tdLabelContainer {
    text-align: right;
    width: 10%;
    vertical-align: top;
    white-space: nowrap;
}
.mainhead {
    vertical-align: top;
}