{% extends "portal/partial/_nav_icon.html.twig" %}
{% block navTextBlock %}
    {{ 'Secure Messaging' | xlt }}
    {% if newcnt > 0 %}<small><span class="rounded-pill text-bg-danger ms-1">{{ newcnt ~ "(New)" | text }}</span></small>{% endif %}
{% endblock %}
