<a href="controller.php?practice_settings&{$TOP_ACTION}pharmacy&action=edit" onclick="top.restoreSession()" class="btn btn-default btn-add" >
<span>{xl t='Add a Pharmacy'|escape:'html'}</span></a><br><br>

<table class="table table-responsive table-striped">
	<thead>
        <tr>
            <th>{xl t='Name'|escape:'html'}</th>
            <th>{xl t='Address'|escape:'html'}</th>
            <th>{xl t='Default Method'|escape:'html'}</th>
        </tr>
    </thead>
    <tbody>
	{foreach from=$pharmacies item=pharmacy}
	<tr>
		<td>
		    <a href="{$CURRENT_ACTION}action=edit&id={$pharmacy->id|escape:'html'}" onclick="top.restoreSession()">
		        {$pharmacy->name|escape:'html'}
		    </a>
		</td>
		<td>
		{if $pharmacy->address->line1 != ''}{$pharmacy->address->line1|escape:'html'}, {/if}
		{if $pharmacy->address->city != ''}{$pharmacy->address->city|escape:'html'}, {/if}
			{$pharmacy->address->state|upper} {$pharmacy->address->zip|escape:'html'}&nbsp;</td>
		<td>{$pharmacy->get_transmit_method_display()|escape:'html'}&nbsp;
	{foreachelse}</td>
	</tr>

	<tr>
		<td colspan="3"><b>{xl t='No Pharmacies Found'|escape:'html'}<b></td>
	</tr>
	{/foreach}
    </tbody>
</table>