/*-------------------openemr ACL-------------------*/

#adminacl .loading {
    text-decoration: blink;
    font-size: 10px;
    color: red;
    font-weight: bold;
}
#adminacl .alert {
    font-size: 10px;
    color: red;
    font-weight: bold;
}
.section {
    border: solid;
    border-width: 1px;
    margin: 10px 0 10px 0;
    padding: 5px;
}
#acl select[multiple], #acl select[size] {
    height: auto !important;
    width: 400px;
}
.section a, .section a:visited, .section a:hover {
    text-decoration: none;
    color: #000000 !important;
}

#membership_show, #acl_show {
    margin-#{$right}:4px;
}
/*-------------------openemr ACL-------------------*/