.oe-fill {
  height: 100% !important;
  min-height: 100% !important;
}

.oe-hidden {
  display: none !important;
}

/*expandable patient search button in main.php*/
.oe-expandable-search {
  float: left;
  margin: 0;
  position: relative;

  input {
    background: transparent;
    border-radius: 15px;
    height: 31px;
    outline: none;
    transition: all 0.8s ease-in-out !important;
    width: 30px;

    &:focus {
      height: 31px;
      outline: none;
      width: 275px;

      ~ button.btn-search1 {
        left: 245px;
        outline: none;
      }
    }
  }

  button {
    transition: all 0.8s ease-in-out;

    &.btn-search1 {
      border: 1px solid $black;
      border-radius: 50%;
      height: 31px;
      margin: 3px;
      outline: none !important;
      padding: 4px;
      padding-left: 8px;
      position: absolute;
      width: 30px;
    }

    &.btn-globals-legacy {
      right: 0;
    }

    &.btn-globals-modern {
      left: 0;
    }

    &.btn-globals-fixed {
      display: inline;
      position: inherit;
    }

    &.btn-globals-none {
      display: none;
    }
  }

  .any-search-legacy {
    width: 140px;
  }

  .any-search-modern {
    width: 30px;
  }

  .any-search-fixed {
    border-radius: 7px;
    width: 250px !important;
  }

  .any-search-none {
    display: none;
  }
}
