body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
	color: #000000;
  font-weight: normal;
  text-transform: none;
}

td {
  text-align: left;
	padding: 2px 4px 2px 4px;
}

td.tightFit {
	padding: 1px 2px 1px 2px;
}

input[type="text"] {
	padding: 0px;
	margin: 0px;
}

.DateCell {
	width: 110px;
}

.wmtDateCell {
	width: 110px;
}

.CalendarCell {
	width: 26px;
}

.wmtCalendarCell {
	width: 26px;
}

.wmtNoteLabelDiv {
	float: left;
	text-align: left;
  margin-left: 6px;
}

.wmtNoteInputDiv {
	box-sizing: border-box;
	float: left;
  padding: 6px;
	width: 100%;
}

.wmtBorderHighlight {
	border: solid 1px;
	border-color: #FFFBEB;
	white-space: pre-wrap;
}

.wmtHighlight {
	background-color: #FFFBEB;
}

.formBodyDark {
  background-color: #FFFFCC;
}

.wmtHighlight {
	background-color: #FFFBEB;
}

.wmtFormBodyDark {
  background-color: #FFFFCC;
}

.formBodyLight {
  background-color: #FEFDCF;
}

.wmtFormBodyLight {
  background-color: #FEFDCF;
}

.Input {
  border: none;
  padding: 0px;
  background-color: #FFFFCC;
}

.wmtInput {
  border: none;
  padding: 0px;
  background-color: #FFFFCC;
}

.FullInput {
  border: none;
  width: 100%;
  padding: 0px;
  background-color: #FFFFCC;
}

.wmtFullInput {
  border: none;
  width: 100%;
  padding: 0px;
  background-color: #FFFFCC;
}

.DateInput {
  border: none;
  width: 100px;
  padding: 0px;
  background-color: #FFFFCC;
}

.wmtDateInput {
  border: none;
  width: 100px;
  padding: 0px;
  background-color: #FFFFCC;
}

.wmtHeaderInput {
  border: solid 1px gray;
  padding: 0px;
  background-color: white;
}

.InputBorderB {
  border-bottom: solid 1px black;
  padding: 0px;
  background-color: white;
}

.wmtInputBorderB {
	border: none;
  border-bottom: solid 1px black;
  padding: 0px;
  background-color: white;
}

.BigInput {
  font-weight: bold;
  border: none;
  padding: 0px;
  background-color: #FFFFCC;
}

.wmtBigInput {
  font-weight: bold;
  border: none;
  padding: 0px;
  background-color: #FFFFCC;
}

.LabelUC {
  font-weight: bold;
  text-transform: uppercase;
}

.wmtLabelUC {
  font-weight: bold;
  text-transform: uppercase;
}

.Label {
  font-weight: bold;
}

.wmtLabel {
  font-weight: bold;
}

.LabelRed {
  font-weight: bold;
	color: red;
}

.wmtLabelRed {
  font-weight: bold;
	color: red;
}

.LabelR {
  font-weight: bold;
	text-align: right;
}

.wmtLabelR {
  font-weight: bold;
	text-align: right;
}

.LabelT {
  font-weight: bold;
	vertical-align: top;
}

.wmtLabelT {
  font-weight: bold;
	vertical-align: top;
}

.LabelTR {
  font-weight: bold;
	text-align: right;
	vertical-align: top;
}

.wmtLabelTR {
  font-weight: bold;
	text-align: right;
	vertical-align: top;
}

.Label2 {
  font-size: 10px;
  font-weight: bold;
}

.wmtLabel2 {
  font-size: 10px;
  font-weight: bold;
}

.Label2R {
  font-size: 10px;
  font-weight: bold;
	text-align: right;
}

.wmtLabel2R {
  font-size: 10px;
  font-weight: bold;
	text-align: right;
}

.Label2TR {
  font-size: 10px;
  font-weight: bold;
	text-align: right;
	vertical-align: top;
}

.wmtLabel2TR {
  font-size: 10px;
  font-weight: bold;
	text-align: right;
	vertical-align: top;
}

.Label2UC {
  font-size: 10px;
  font-weight: bold;
  text-transform:uppercase;
}

.wmtLabel2UC {
  font-size: 10px;
  font-weight: bold;
  text-transform:uppercase;
}

.LabelTiny {
  font-size: 7px;
  font-weight: bold;
  text-transform: uppercase;
}

.wmtLabelTiny {
  font-size: 7px;
  font-weight: bold;
  text-transform: uppercase;
}

.LabelBorderLB {
  font-weight: bold;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
}

.LabelCenterBorderLB {
  font-weight: bold;
  text-align: center;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
}

.LabelBorderLBR {
  font-weight: bold;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
}

.LabelBorderL {
  font-weight: bold;
  border-left: solid 1px black;
}

.LabelCenterBorderL {
  font-weight: bold;
  text-align: center;
  border-left: solid 1px black;
}

.LabelBorderB {
  font-weight: bold;
  border-bottom: solid 1px black;
}

.LabelCenterBorderB {
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px black;
}

.LabelUCBorderB {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: solid 1px black;
}

.LabelUCBorderL {
  font-weight: bold;
  text-transform:uppercase;
  border-left: solid 1px black;
}

.Label3C {
  font-size: 10px;
	font-weight: bold;
	text-align: center;
	padding: 1px 2px 1px 2px;
}

.wmtLabel3C {
  font-size: 10px;
	font-weight: bold;
	text-align: center;
	padding: 1px 2px 1px 2px;
}

.Label3CBordLB {
  font-size: 10px;
	text-align: center;
	font-weight: bold;
	border-bottom: solid 1px black;
	border-left: solid 1px black;
	padding: 1px 2px 1px 2px;
}

.Label3CBordB {
  font-size: 10px;
	font-weight: bold;
	text-align: center;
	border-bottom: solid 1px black;
	padding: 1px 2px 1px 2px;
}

.Label3CBordL {
  font-size: 10px;
	font-weight: bold;
	text-align: center;
	border-left: solid 1px black;
	padding: 1px 2px 1px 2px;
}

.wmtLabel {
	font-weight: bold;
}

.wmtBorder1All {
	border: solid 1px black;
}

.wmtBorder1L {
	border-left: solid 1px black;
}

.wmtBorder1B {
	border-bottom: solid 1px black;
}

.wmtBorder1T {
	border-top: solid 1px black;
}

.wmtBorder1R {
	border-right: solid 1px black;
}

.BodyBorderAll {
  border: solid 1px black;
}

.wmtBody {
}

.BodyBorderL {
  border-left: solid 1px black;
}

.BodyBorderLB {
  border-left: solid 1px black;
  border-bottom: solid 1px black;
}

.BodyBorderLR {
  border-left: solid 1px black;
  border-right: solid 1px black;
}

.BodyBorderLBR {
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
}

.BodyBorderB {
  border-bottom: solid 1px black;
}

.Giant {
  font-size: 2em;
  text-transform:uppercase;
}

.wmtGiant {
  font-size: 2em;
  text-transform:uppercase;
}

.Huge {
  font-size: 1.7em;
  text-transform:uppercase;
}

.wmtHuge {
  font-size: 1.7em;
  text-transform:uppercase;
}

.Large {
  font-size: 1.5em;
  font-weight: bold;
}

.wmtLarge {
  font-size: 1.5em;
  font-weight: bold;
}

.Chapter {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.wmtChapter {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.wmtChapterWhite {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
	color: white;	
}

.Input2 {
  font-size: 10px;
  border: none;
  padding: 0;
  background-color: #FFFFCC;
}

.wmtInput2 {
  font-size: 10px;
  border: none;
  padding: 0;
  background-color: #FFFFCC;
}

.FullInput2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 100%;
  border: none;
  padding: 0px;
  text-transform: none;
  color: #000000;
  background-color: #FFFFCC;
}

.wmtFullInput2 {
  font-size: 10px;
  width: 100%;
  border: none;
  padding: 0px;
  background-color: #FFFFCC;
}

.Input3 {
  font-size: 10px;
  border: none;
  padding: 0px;
  background-color: #FFFFCC;
}

.wmtInput3 {
  font-size: 10px;
  border: none;
  padding: 0px;
  background-color: #FFFFCC;
}

.FullInput3 {
  font-size: 10px;
  width: 100%;
  border: none;
  padding: 0px;
  background-color: #FFFFCC;
}

.wmtFullInput3 {
  font-size: 10px;
  width: 100%;
  border: none;
  padding: 0px;
  background-color: #FFFFCC;
}

.Input4 {
  font-size: 9px;
  border: none;
  padding: 0px;
  background-color: #FFFFCC;
}

.wmtInput4 {
  font-size: 9px;
  border: none;
  padding: 0px;
  background-color: #FFFFCC;
}

.FullInput4 {
  font-size: 9px;
  width: 100%;
  border: none;
  padding: 0px;
  background-color: #FFFFCC;
}

.wmtFullInput4 {
  font-size: 9px;
  width: 100%;
  border: none;
  padding: 0px;
  background-color: #FFFFCC;
}

.BodyUC {
  text-transform: uppercase;
}

.wmtBodyUC {
  text-transform: uppercase;
}

.Body {
}

.wmtBodyR {
	text-align: right;
}

.BodyR {
	text-align: right;
}

.wmtR {
	text-align: right;
}

.wmtL {
	text-align: left;
}

.wmtT {
	vertical-align: top;
}

.wmtC {
	text-align: center;
}

.Body2 {
  font-size: 10px;
}

.wmtBody2 {
  font-size: 10px;
}

.Body2BordLB {
  font-size: 10px;
	border-bottom: solid 1px black;
	border-left: solid 1px black;
	padding: 1px 2px 1px 2px;
}

.Body2BordB {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
	border-bottom: solid 1px black;
	padding: 1px 2px 1px 2px;
}

.Body2R {
  font-size: 10px;
  text-align: right;
}

.wmtBody2R {
  font-size: 10px;
  text-align: right;
}

.Body2UC {
  font-size: 10px;
  text-transform: uppercase;
}

.wmtBody2UC {
  font-size: 10px;
  text-transform: uppercase;
}

.Body3 {
  font-size: 10px;
  text-transform: uppercase;
}

.wmtBody3 {
  font-size: 10px;
  text-transform: uppercase;
}

.Body3BordLB {
  font-size: 10px;
	border-bottom: solid 1px black;
	border-left: solid 1px black;
}

.Body3BordB {
  font-size: 10px;
	border-bottom: solid 1px black;
}

.Body4 {
  font-size: 9px;
  text-transform: uppercase;
}

.wmtBody4 {
  font-size: 9px;
  text-transform: uppercase;
}

.Body4RT {
  font-size: 9px;
  text-transform: uppercase;
	text-align: right;
	vertical-align: top;
}

.wmtBody4RT {
  font-size: 9px;
  text-transform: uppercase;
	text-align: right;
	vertical-align: top;
}

.MainContainer {
	background-color: #F8F1B9;
  border: solid 2px black;
	overflow: auto;
  margin: 6px;
}

.wmtMainContainer {
	background-color: #F8F1B9;
  border: solid 2px black;
	overflow: auto;
  margin: 6px;
}

.MainContainerBottom1 {
	background-color: #F8F1B9;
  border-left: solid 2px black;
  border-top: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 1px black;
  margin: 6px;
	overflow: auto;
}

.wmtMainContainerBottom1 {
	background-color: #F8F1B9;
  border-left: solid 2px black;
  border-top: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 1px black;
  margin: 6px;
	overflow: auto;
}

.CollapseBar {
  text-align: center;
  overflow: hidden;
  background-color: #FFCC66;
  cursor: pointer;
}

.wmtCollapseBar {
  text-align: center;
  overflow: hidden;
  background-color: grey;
  background-color: #FFCC66;
  cursor: pointer;
}

.wmtCollapseBarBlack {
  text-align: center;
  overflow: hidden;
  background-color: black;
	color: white;
  cursor: pointer;
}

.CollapseBox {
  background-color: #FFCC66;
  text-align: center;
	overflow: auto;
}

.wmtCollapseBox {
  background-color: #FFCC66;
  text-align: center;
	overflow: auto;
}

.CollapseBoxWhite {
  background-color: #FFFFFF;
  text-align: center;
	overflow: auto;
}

.wmtCollapseBoxWhite {
  background-color: #FFFFFF;
  text-align: center;
	overflow: auto;
}

.DottedB {
  text-align: center;
  height: 3px;
  border-bottom-style: dotted;
  border-bottom-color: #FFCC66;
  border-bottom-width: 2px;
  margin: 2px 5px 2px 5px;
}

.wmtDottedB {
  text-align: center;
  height: 3px;
  border-bottom-style: dotted;
  border-bottom-color: #FFCC66;
  border-bottom-width: 2px;
  margin: 2px 5px 2px 5px;
}

.wmtDottedEdge {
  text-align: center;
  border-left-style: dotted;
  border-left-color: #FFCC66;
  border-left-width: 2px;
	margin-right: 2px;
	margin-left: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.wmtDottedH {
  text-align: center;
  height: 3px;
}

.wmtRedBorder {
	border: solid 1px #FF0000;
	margin: 6px;
	padding: 4px;
}

.mce {
}

div.floating-buttons {
	text-align: center;
	position: fixed;
	background: #16558C;
	border: solid 1px black;
	border-radius: 14px;
	width: 90px;
	z-index: 100;
	cursor: move;
	box-shadow: 10px 10px 5px #888888;
}

.wmtFloatLabel{
  font-weight: bold;
	color: white;
}

a:hover {
	color: #CC0000;
}

div.notification {
  font-size: 14px;
  font-weight: bold;
	text-align: center;
	position: fixed;
  background: #E2A76F;
	border: solid 1px black;
	border-radius: 10px;
	width: 180px;
	z-index: 3000;
	cursor: progress;
	box-shadow: 8px 8px 5px #888888;
}

.wmtBrownBorder {
	border: solid 1px #CC6633;
	margin: 6px;
	padding: 4px;
}

.wmtLabBox {
	border-color: #CC6633;
	background-color: #fff;
	width: 99%;
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
}

.wmtLabHeader {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background-color: #CC6633;
	color: #FFFFFF;
}

.wmtLabBody {
	background-color: white;
}

.wmtLabMenu {
	background-color: #F8F1B9;
	border-color: #F8F1B9;
}

.ui-tabs-vertical .ui-tabs-nav li {
	background-color: #FFCC66; 
	border-color: #CC6633;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
	background-color: #fff; 
	border-right-color: #fff;
	border-bottom-color: #CC6633;
	border-top-color: #CC6633;
}

.wmtListButton {
	float: left;
	padding-left: 0px;
}

.wmtClick:hover {
	cursor: pointer;
}

td.wmtClick:hover + select.wmtHoverAccent {
	border: solid 1px blue;
}
