{if $ERROR}
 {$ERROR}
{else}
<form name="provider" method="post" action="{$FORM_ACTION}">
<!-- it is important that the hidden form_id field be listed first, when it is called it populates any old information attached with the id, this allows for partial edits
                if it were called last, the settings from the form would be overwritten with the old information-->
<input type="hidden" name="form_id" value="{$ins->id}" />
<table CELLSPACING="0" CELLPADDING="3" border="0">
<tr>
        <td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE">{xl t='Provider'}</td>
        <td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE">
                {$provider->get_name_display()}
        </td>
        <td></td>
</tr>
{foreach name=inums item=num_set from=$provider->get_insurance_numbers()}
<tr>
        <td ALIGN="LEFT" VALIGN="MIDDLE"></td>
        <td ALIGN="LEFT" VALIGN="MIDDLE">
                        <a href="{$CURRENT_ACTION}action=edit&id={$num_set->get_id()}" class="small">{$num_set->get_insurance_company_name()}</a>
        </td>
        <td class="small">{xl t='Provider'} #</td>
        <td class="small">{$num_set->get_provider_number()}</td>
</tr>
<tr>
        <td></td>
        <td></td>
        <td class="small">{xl t='Rendering Provider'} #</td>
        <td class="small">{$num_set->get_rendering_provider_number()}</td>
</tr>
<tr>
        <td></td>
        <td></td>
        <td class="small">{xl t='Group'} #</td>
        <td class="small">{$num_set->get_group_number()}</td>
</tr>
        {if $smarty.foreach.inums.last}
        <tr>
                <td></td>
                <td><a class="small" href="{$CURRENT_ACTION}action=edit&id=&provider_id={$provider->get_id()}">{xl t='Add New'}...</a></td>
                <td></td>
                <td></td>
        </tr>
        {/if}
{foreachelse}
        <tr>
                <td></td>
                <td class="small">{xl t='No entries found, use the form below to add an entry.'}</td>
                <td></td>
                <td></td>
        </tr>
{/foreach}


<tr>
        <td colspan="4"><br /><br /><br /></td>
</tr>
<tr>
        <td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{xl t='Insurance Company'}</td>
        <td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
                {if $ins->get_id() eq ""}
                        {html_options name="insurance_company_id" options=$ic_array values=$ic_array selected=$ins->get_insurance_company_id()}
                {else}
                 {$ins->get_insurance_company_name()}
                {/if}
        </td>
</tr>
<tr>
        <td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{xl t='Provider Number'}</td>
        <td COLSPAN="3" ALIGN="LEFT" VALIGN="MIDDLE" >
                <input type="text" size="20" name="provider_number" value="{$ins->get_provider_number()}"/>
                &nbsp;Type:&nbsp;
                {html_options name="provider_number_type" options=$ic_type_options_array values=$ins->provider_number_type_array selected=$ins->get_provider_number_type()}
        </td>
</tr>
<tr>
        <td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{xl t='Rendering Provider Number'}</td>
        <td COLSPAN="3" ALIGN="LEFT" VALIGN="MIDDLE" >
                <input type="text" size="20" name="rendering_provider_number" value="{$ins->get_rendering_provider_number()}"/>
                &nbsp;Type:&nbsp;
                {html_options name="rendering_provider_number_type" options=$ic_rendering_type_options_array values=$ins->rendering_provider_number_type_array selected=$ins->get_rendering_provider_number_type()}
        </td>
</tr>
<tr>
        <td COLSPAN="1" ALIGN="LEFT" VALIGN="MIDDLE" >{xl t='Group Number'}</td>
        <td COLSPAN="2" ALIGN="LEFT" VALIGN="MIDDLE" >
                <input type="text" size="20" name="group_number" value="{$ins->get_group_number()}"/>
        </td>
</tr>
<tr>
        <td><br />

                {if $ins->get_id() eq ""}
                        <input type="submit" value="{xl t='Add'}" />
                {else}
                        <input type="submit" value="{xl t='Update'}" />
                {/if}

        </td>
</tr>
</table>
<input type="hidden" name="id" value="{$ins->id}" />
<input type="hidden" name="provider_id" value="{$ins->get_provider_id()}" />
<input type="hidden" name="process" value="{$PROCESS}" />
</form>
{/if}

