body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

/* Banner (top bar) classes */

.banner-menu {
  border-top: 2px solid #aaa;
  clear: both;
  padding: 0.5em;
  text-align: right;
}

.banner-title {
  font-size: 20pt;
  font-weight: bold;
  margin: 0.2em;
  text-align: right;
}

.package-selector {
  background-color: #ddd;
  border: 1px solid #aaa;
  color: #000090;
}
