<participant typeCode="LOC">
  <participantRole classCode="SDLOC">
    <templateId root="2.16.840.1.113883.10.20.24.3.151" extension="2017-08-01"/>
    <code {{> _code}}/>
  </participantRole>
</participant>