<author>
  <templateId root="2.16.840.1.113883.10.20.22.4.119"/>
  <!--  QDM Attribute: authorDatetime -->
  {{{author_time}}}
  <assignedAuthor>
    {{#provider}}
    {{#provider_npi}}
      <id extension="{{value}}" root="2.16.840.1.113883.4.6"/>
    {{/provider_npi}}
    {{/provider}}
    {{^provider}}
      <id extension="1982671962" root="2.16.840.1.113883.4.6"/>
    {{/provider}}
  </assignedAuthor>
</author>