<supply classCode="SPLY" moodCode="EVN">
    <!-- Days Supplied -->
    <templateId root="2.16.840.1.113883.10.20.24.3.157" extension="2018-10-01"/>
    <id root="{{random_id}}"/>
    <quantity value="{{daysSupplied}}" unit="d" />
</supply>