<entryRelationship typeCode="REFR">
  <act classCode="ACT" moodCode="EVN">
    <templateId root="2.16.840.1.113883.10.20.24.3.171" extension="2021-08-01" />
    <code {{> _code}}/>
  </act>
</entryRelationship>