<participantRole>
    <templateId root="2.16.840.1.113883.10.20.24.3.160" extension="2019-12-01" />
    {{#identifier}}
      <id root="{{{namingSystem}}}" extension="{{{value}}}"/>
    {{/identifier}}
    {{#relationship}}
      <playingEntity>
        <code {{> _code}}/>
      </playingEntity>
    {{/relationship}}
</participantRole>
