<participantRole>
    <templateId root="2.16.840.1.113883.10.20.24.3.172" extension="2021-08-01" />
    {{#identifier}}
      <id root="{{{namingSystem}}}" extension="{{{value}}}"/>
    {{/identifier}}
    {{#locationType}}
      <playingEntity>
        <code {{> _code}}/>
      </playingEntity>
    {{/locationType}}
</participantRole>
