{{#care_partner_entity}}
	{{> qrda_templates/template_partials/_entity_care_partner}}
{{/care_partner_entity}}
{{#patient_entity}}
	{{> qrda_templates/template_partials/_entity_patient}}
{{/patient_entity}}
{{#practitioner_entity}}
	{{> qrda_templates/template_partials/_entity_practitioner}}
{{/practitioner_entity}}
{{#organization_entity}}
	{{> qrda_templates/template_partials/_entity_organization}}
{{/organization_entity}}
