<entryRelationship typeCode="REFR">
  <observation classCode="OBS" moodCode="EVN">
    <templateId root="2.16.840.1.113883.10.20.24.3.166" extension="2019-12-01"/>
    <code code="263486008" displayName="Rank" codeSystem="2.16.840.1.113883.6.96"/>
    <value xsi:type="INT" value="{{{.}}}"/>
  </observation>
</entryRelationship>