  <entryRelationship typeCode="MFST" inversionInd="true">
    <observation classCode="OBS" moodCode="EVN">
      <templateId root="2.16.840.1.113883.10.20.22.4.9" extension="2014-06-09" />
      <id root="4adc1020-7b14-11db-9fe1-0800200c9a64" />
      <code code="ASSERTION" codeSystem="2.16.840.1.113883.5.4" />
      <statusCode code="completed" />
      <value xsi:type="CD" {{> _code}}/>
    </observation>
  </entryRelationship>