<sdtc:inFulfillmentOf1 typeCode="FLFS">
  <sdtc:templateId root="2.16.840.1.113883.10.20.24.3.150" extension="2017-08-01"/>
  <sdtc:actReference classCode="ACT" moodCode="EVN">
    <sdtc:id root="1.3.6.1.4.1.115" extension="{{{.}}}"/>
  </sdtc:actReference>
</sdtc:inFulfillmentOf1>