<entryRelationship typeCode="REFR">
  <observation classCode="OBS" moodCode="EVN">
    <templateId root="2.16.840.1.113883.10.20.22.4.8" extension="2014-06-09" />
    <code code="SEV" codeSystem="2.16.840.1.113883.5.4" />
    <statusCode code="completed" />
    <value xsi:type="CD" {{> _code}}/>
  </observation>
</entryRelationship>