<entryRelationship typeCode="REFR">
  <observation classCode="OBS" moodCode="EVN">
    <templateId root="2.16.840.1.113883.10.20.24.3.93" extension="2019-12-01"/>
    <id root="1.3.6.1.4.1.115" extension="{{random_id}}"/>
    <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status"/>
    <value xsi:type="CD" {{> _code}}/>
  </observation>
</entryRelationship>