<div class='row'>
    <div class='col-sm-12'>
        <input type='hidden' name='form_download' id='form_download'>
        <button onclick="return validate_file()" type='button'>{{ "Download Offsite Portal Connection Files"|translate }}</button>
        <div id='file_error_message' class='alert alert-error'></div>
    </div>
</div>
