##
## ACCESS RULES FOR API
RewriteEngine On
#RewriteBase /stripe/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule (.*)$ stripe/server/ [QSA,L]
