$colorname: "Burgundy";

$darkest: #3F0B15;
$darker: #5F111F;
$dark: #B0475B;
$mid: #CF8E9A;
$midpale: #E2BBC2;
$pale: #EBD1D6;
$midpalepale: #F1DEE2;
$palepale: #F5E8EA;
$palepurple: #E7E6F9;
$paler: #FAF3F4;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
