
* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}

@import "Header";

.dashboard {
    padding: 0 40px;
}

.status {
    color: red;
}

.btn-primary ~ label {
    cursor: pointer;
}
.card {
    margin-bottom: 10px;
}
.medical_issues {
    float: right;
    margin: 10px;
}
.padding-right{
    margin-left:10px;
}