
* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}

@import "Header";

.dashboard {
    padding: 0 40px;
}

.status {
    color: red;
}

.btn-primary ~ label {
    cursor: pointer;
}
.card {
    margin-bottom: 10px;
}
.medical_issues {
    float: right;
    margin: 10px;
}
.padding-right{
    margin-left:10px;
}
.cell-1 {
    padding: 5px;
    width: auto;
    display: table-cell;
    border-radius: 5px 0px 0px 5px;
    width: 30%;
}

.cell-2 {
    display: table-cell;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    width: 70%;
}
.cell-row {
    display: table-row;
    width: 100%;

}
.evenClass{
    background: #f4f4f4;
}
.tab-content .table {
    display: table;
}