
// Scroller adds the class `DTS` to the DataTabes wrapper div
div.DTS {
	display: block !important;

	tbody th,
	tbody td {
		white-space: nowrap;
	}

	// Show the loading message behind the table
	div.DTS_Loading {
		z-index: 1;
	}

	div.dataTables_scrollBody {
		background: repeating-linear-gradient(
			45deg,
			#edeeff,
			#edeeff 10px,
			white 10px,
			white 20px
		);

		table {
			z-index: 2;
		}
	}

	// Hide the paging control as it shouldn't be used with Scroller, but
	// paging must be enabled
	div.dataTables_paginate,
	div.dataTables_length {
		display: none;
	}
}
