<author>
  <time value="{{current_time}}"/>
  <assignedAuthor>
    <!-- id extension="Cypress" root="2.16.840.1.113883.19.5"/ -->
    <!-- NPI -->
    <id extension="1982671962" root="2.16.840.1.113883.4.6"/>
    <addr>
      <streetAddressLine>202 Burlington Rd.</streetAddressLine>
      <city>Bedford</city>
      <state>MA</state>
      <postalCode>01730</postalCode>
      <country>US</country>
    </addr>
    <telecom use="WP" value="tel:(781)271-3000"/>
    <assignedAuthoringDevice>
      <manufacturerModelName>Cypress</manufacturerModelName>
      <softwareName>Cypress</softwareName>
    </assignedAuthoringDevice>
    <representedOrganization>
      <!-- The organization id is optional, but the name is required -->
      <id root="2.16.840.1.113883.19.5" extension="98765"/>
      <name>Good Health Hospital</name>
    </representedOrganization>
  </assignedAuthor>
</author>