<custodian>
  <assignedCustodian>
    <representedCustodianOrganization>
      <!-- HQR Only -->
      <id extension="800890" root="2.16.840.1.113883.4.336"/>
      <name>Cypress Test Deck</name>
      <telecom use="WP" value="tel:(781)271-3000"/>
      <addr>
        <streetAddressLine>202 Burlington Rd.</streetAddressLine>
        <city>Bedford</city>
        <state>MA</state>
        <postalCode>01730</postalCode>
        <country>US</country>
      </addr>
    </representedCustodianOrganization>
  </assignedCustodian>
</custodian>