{{#submission_program}}
<informationRecipient>
  <intendedRecipient>
    <id extension="{{submission_program}}" root="2.16.840.1.113883.3.249.7"/>
  </intendedRecipient>
</informationRecipient>
{{/submission_program}}