##
## PHREEZE ACCESS RULES FOR APACHE
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule (.*) index.php?_REWRITE_COMMAND=$1 [QSA,L]