body {
    background-color: white;
}
.outer-container {
    margin: 10px;
}
#container {
    position: relative;
    border:2px solid black;
    box-sizing:border-box;
    min-width:1px;
    min-height:1px;
    display:inline-block;
    overflow: hidden;
}
.symcursor{ cursor: url("redblock.png") 8 8, auto;}
.txtcursor{ cursor: url("xhair.cur") 16 16, auto;}
.marker {
    position: absolute;
    //border: 1px solid black; 
    background-color: #FF8282;
    min-width:14px; 
    min-height: 14px;
    text-align:center;
}   
.count {
    font-size: 14px;
    //font-weight: bold;
    color: white;
    margin:2px;
}
.xmark {
    position: absolute;
    text-align:center;
}
.xcnt {
    font-size: 14px;
    font-weight: bold;
    color: red;
    margin:2px;
}

.dytxt {
	
    display:none;
    opacity: 0.8;
    background-color:rgb(211, 211, 211);
    position:absolute;
    width: 40px;
    font-size: 14px;
    color: red;
/*     margin:1px; */
    
}
/* #mode {
    display: none;
    padding:4px;
    background-color: white;
    border:1px solid black;
} */
#mode {
  visibility: hidden;
  z-index:99;
  opacity: 0;
  position: fixed;
  background: #fff;
  color: #555;
  //font-family: sans-serif;
  font-size: 14px;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
  -moz-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
  box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
  padding: 0px;
  border: 1px solid #C6C6C6;
}
span.mode-inline {
	font-size: 1.0em;
	//font-style: italic;
	padding: 5px 5px;
	color: red;
}

/* fixes spacing glitch some el followed by an empty inline help */
span.help-inline:empty {
	display: none;
}

.rblock {
    color:red;
    display: inline-block;
}

label, input { display:block; }
fieldset { padding:0; border:0; }
/* Here down contain reserved html classes that mess with encounter report view */
.navtop {
    margin:5px;
}
.nav {
    margin-top:20px;
    margin-left:15px;
}

.legend {
     margin:2px;
     padding-right:5px;
}

.legend header {
    font-weight: bold;
}
.legend, .container {
    float: left;
    //border:1px solid black;
}

p { width: 600px; }

.dialog-form .label {
    border:1px solid black;
    width: 60px;
}
.dialog-form .legendgrp {
    display: none;
}
.dialog-form .legendgrp .legendtext {
    width: 220px;
    border:1px solid red;
}
.dialog-form .optxtra {
    width: 220px;
    border:1px solid black;
}
.dialog-form .detail {
    border:1px solid black;
    width: 310px;
    height: 100px;
} 
