$colorname: "Mustard Green";

$darkest: #646C02;
$darker: #869003;
$dark: #A8B504;
$mid: #C2CB4F;
$midpale: #D3DA81;
$pale: #DBE19A;
$midpalepale: #E2E7AE;
$palepale: #EFF2CA;
$palepurple: #E7E6F9;
$paler: #FCFDF5;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
