$colorname: "Chocolate";

$darkest: #1e1919;
$darker: #332827;
$dark: #756665;
$mid: #9c9291;
$midpale: #b5adac;
$pale: #c1bbba;
$midpalepale: #e0dddc;
$palepale: #ece8e5;
$palepurple: #e7e6f9;
$paler: #f8f7f7;
$midnightblue: #2f2f7d;
$white: #fff;

@import "../color_base";
