$colorname: "Olive";

$darkest: #353F29;
$darker: #405626;
$dark: #6A7F52;
$mid: #879874;
$midpale: #A5B297;
$pale: #D2D8CB;
$midpalepale: #DFE3DA;
$palepale: #E5E8E1;
$palepurple: #E7E6F9;
$paler: #EFF1EC;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
