$colorname: "Ash Blue";

$darkest: #404A6D;
$darker: #3A4B84;
$dark: #6B7CB6;
$mid: #8896C4;
$midpale: #A6B0D3;
$pale: #B5BDDA;
$midpalepale: #C3CAE1;
$palepale: #E1E4F0;
$palepurple: #E7E6F9;
$paler: #F8F8FD;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
