$colorname: "Emerald";

$darkest: #176638;
$darker: #24A35A;
$dark: #2ECC71;
$mid: #57D68D;
$midpale: #96E5B8;
$pale: #C0EFD4;
$midpalepale: #D2F3E0;
$palepale: #D6F9E5;
$palepurple: #E7E6F9;
$paler: #F1FBF5;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
