$colorname: "Mauve";

$darkest: #41255A;
$darker: #5D3580;
$dark: #8D63B2;
$mid: #A481C1;
$midpale: #BAA0D0;
$pale: #B99FD0;
$midpalepale: #D5C5E2;
$palepale: #EAE2F0;
$palepurple: #E7E6F9;
$paler: #F7F3FB;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
