$colorname: "Cadmium Yellow";

$darkest: #e69700;
$darker: #ff7e00;
$dark: #ffa800;
$mid: #ffce6f;
$midpale: #ffd78b;
$pale: #ffde9f;
$midpalepale: #ffe4b1;
$palepale: #fbeed6;
$palepurple: #e7e6f9;
$paler: #fbf8f3;
$midnightblue: #2f2f7d;
$white: #fff;

@import "../color_base";
