$colorname: "Mustard Green";

$darkest: #646c02;
$darker: #869003;
$dark: #a8b504;
$mid: #c2cb4f;
$midpale: #d3da81;
$pale: #dbe19a;
$midpalepale: #e2e7ae;
$palepale: #eff2ca;
$palepurple: #e7e6f9;
$paler: #fcfdf5;
$midnightblue: #2f2f7d;
$white: #fff;

@import "../color_base";
