$colorname: "Tangerine";

$darkest: #993F00;
$darker: #CC5400;
$dark: #FF6900;
$mid: #FFA566;
$midpale: #FFC093;
$pale: #FFD2B3;
$midpalepale: #FFE7D6;
$palepale: #F9EADE;
$palepurple: #E7E6F9;
$paler: #FFF8F4;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
