$colorname: "Cobalt Blue";

$darkest: #1c304d;
$darker: #38619b;
$dark: #467ac2;
$mid: #8cacd9;
$midpale: #bacde8;
$pale: #d1ddef;
$midpalepale: #dee7f3;
$palepale: #e3ecf9;
$palepurple: #e7e6f9;
$paler: #f3f7fb;
$midnightblue: #2f2f7d;
$white: #fff;

@import "../color_base";
