$colorname: "Tangerine";

$darkest: #993f00;
$darker: #cc5400;
$dark: #ff6900;
$mid: #ffa566;
$midpale: #ffc093;
$pale: #ffd2b3;
$midpalepale: #ffe7d6;
$palepale: #f9eade;
$palepurple: #e7e6f9;
$paler: #fff8f4;
$midnightblue: #2f2f7d;
$white: #fff;

@import "../color_base";
