$colorname: "Powder Blue";

$darkest: #2F4983;
$darker: #4468BB;
$dark: #728DCC;
$mid: #8EA3D6;
$midpale: #B4C2E4;
$pale: #B6CDFC;
$midpalepale: #CBDCFC;
$palepale: #E1E8F6; 
$palepurple: #E7E6F9;
$paler: #F2F6FE;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
