$colorname: "Emerald";

$darkest: #176638;
$darker: #24a35a;
$dark: #2ecc71;
$mid: #57d68d;
$midpale: #96e5b8;
$pale: #c0efd4;
$midpalepale: #d2f3e0;
$palepale: #d6f9e5;
$palepurple: #e7e6f9;
$paler: #f1fbf5;
$midnightblue: #2f2f7d;
$white: #fff;

@import "../color_base";
