$colorname: "Deep Purple";

$darkest: #470E4F;
$darker: #64136F;
$dark: #A446B0;
$mid: #BB76C5;
$midpale: #D2A4D8;
$pale: #D7AFDD;
$midpalepale: #DDBAE2;
$palepale: #EAD5ED;
$palepurple: #E7E6F9;
$paler: #F3E8F5;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
