$colorname: "Forest Green";

$darkest: #224301;
$darker: #2F5D01;
$dark: #448602;
$mid: #8EB667;
$midpale: #B4CE99;
$pale: #A1C280;
$midpalepale: #C6DAB3;
$palepale: #D9E6CC;
$palepurple: #E7E6F9;
$paler: #EFF5EA;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
