$colorname: "Cobalt Blue";

$darkest: #1C304D;
$darker: #38619B;
$dark: #467AC2;
$mid: #8CACD9;
$midpale: #BACDE8;
$pale: #D1DDEF;
$midpalepale: #DEE7F3;
$palepale: #E3ECF9;
$palepurple: #E7E6F9;
$paler: #F3F7FB;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
