$colorname: "Cadmium Yellow";

$darkest: #E69700;
$darker: #FF7E00;
$dark: #FFA800;
$mid: #FFCE6F;
$midpale: #FFD78B;
$pale: #FFDE9F;
$midpalepale: #FFE4B1;
$palepale: #FBEED6;
$palepurple: #E7E6F9;
$paler: #FBF8F3;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
