$colorname: "Pink";

$darkest: #c02e7e;
$darker: #cf398b;
$dark: #d962a3;
$mid: #dc71ac;
$midpale: #e8a0c7;
$pale: #fabbe1;
$midpalepale: #f3cfe3;
$palepale: #f7dfec;
$palepurple: #e7e6f9;
$paler: #fbeff5;
$midnightblue: #2f2f7d;
$white: #fff;

@import "../color_base";
