$colorname: "Red";

$darkest: #68171a;
$darker: #a7252a;
$dark: #d95459;
$mid: #e4878a;
$midpale: #ecacae;
$pale: #eca9ac;
$midpalepale: #f5d6d8;
$palepale: #fbe5e6;
$palepurple: #e7e6f9;
$paler: #f9f3f3;
$midnightblue: #2f2f7d;
$white: #fff;

@import "../color_base";
