$colorname: "Sienna";

$darkest: #753313;
$darker: #9C4419;
$dark: #C45520;
$mid: #CF764C;
$midpale: #DB9979;
$pale: #E7BBA5;
$midpalepale: #EDCCBC;
$palepale: #F3DDD2;
$palepurple: #E7E6F9;
$paler: #F9EEE8;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
