$colorname: "Coral";

$darkest: #A5564B;
$darker: #CE3E29;
$dark: #ED7C6C;
$mid: #F09689;
$midpale: #F4B0A6;
$pale: #F7CAC4;
$midpalepale: #FBE4E1;
$palepale: #FBE7E4;
$palepurple: #E7E6F9;
$paler: #FDF3F1;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
