<html>
<head>
<title>{xl t='SOAP'|escape:'html'}</title>
{headerTemplate}
</head>
<body class="body_top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h2>{xl t='SOAP'|escape:'html'}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form name="soap" method="post" action="{$FORM_ACTION}/interface/forms/soap/save.php" onsubmit="return top.restoreSession()">
                    <fieldset>
                            <legend>{xl t='Subjective'|escape:'html'}</legend>
                                <div class="form-group" >
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <textarea name="subjective" class="form-control" cols="60" rows="6">{$data->get_subjective()|escape:'html'}</textarea>
                                    </div>
                                </div>
                    </fieldset>
                    <fieldset>
                            <legend>{xl t='Objective'|escape:'html'}</legend>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <textarea name="objective" class="form-control" cols="60" rows="6">{$data->get_objective()|escape:'html'}</textarea>
                                    </div>
                                </div>
                    </fieldset>
                    <fieldset>
                            <legend>{xl t='Assessment'|escape:'html'}</legend>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <textarea name="assessment" class="form-control" cols="60" rows="6">{$data->get_assessment()|escape:'html'}</textarea>
                                    </div>
                                </div>
                    </fieldset>
                    <fieldset>
                            <legend>{xl t='Plan'|escape:'html'}</legend>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-1">
                                        <textarea name="plan" class="form-control" cols="60" rows="6">{$data->get_plan()|escape:'html'}</textarea>
                                    </div>
                                </div>
                    </fieldset>
                    <div class="form-group clearfix">
                        <div class="col-sm-10 col-sm-offset-1 position-override">
                            <div class="btn-group oe-opt-btn-group-pinch" role="group">
                                <button type="submit" class="btn btn-default btn-save" name="Submit">{xl t='Save'|escape:'html'}</button>
                                <button type="button" class="btn btn-link btn-cancel oe-opt-btn-separate-left" onclick="top.restoreSession(); location.href='{$DONT_SAVE_LINK}';">{xl t='Cancel'|escape:'html'}</button>
                            </div>
                            <input type="hidden" name="id" value="{$data->get_id()|escape:'html'}" />
                            <input type="hidden" name="activity" value="{$data->get_activity()|escape:'html'}">
                            <input type="hidden" name="pid" value="{$data->get_pid()|escape:'html'}">
                            <input type="hidden" name="process" value="true">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
