/* style taken out of the addressbook code and put here instead */

#addressbook_list {
    td {
        padding-left: 4px;
        padding-right: 4px;
    }

    a,
    a:visited,
    a:hover {
        color: $primary;
    }

    tr.search {
        font-weight: bold;
    }

    tr.head {
        background-color: $gray-400;
        font-weight: bold;
    }

    tr.evenrow {
        background-color: $light;
    }

    tr.oddrow {
        background-color: $white;
    }

    .inputtext {
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-color: $black;
        background-color: transparent;
    }

    .button {
        font-size: 0.8em;
        font-weight: bold;
    }
}
