/*
 * closeDlgIframe common styles
 */

div.closeDlgIframe {
    background: #ff5d5a;
    position: absolute;
    top: -12px;
    right: -12px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    z-index: 10010;
}
div.closeDlgIframe:before {
    color: #fff;
    content: "\f00d";
    font-family: "FontAwesome";
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
    line-height: 25px;
    height: 25px;
}
/* important for drag and resizing */
.drag-action, .resize-action, .drag-resize {
    touch-action: none;
    user-select: none;
}
