/* styles taken out of templates/documents/general_list.html */

#documents_list {
    width: 100%;
    height: 95%;
    overflow: auto;
    float: $left;
    border-right: dashed 1px;

    td {
        @include font-size("11px !important");
    }

    a {
        @include font-size("11px !important");
    }

    .treeMenuDefault {
        font-style: italic;
    }

    .treeMenuBold {
        font-style: italic;
        font-weight: bold;
    }
}

#documents_actions {
    padding-top: 0;
    width: 100%;
    height: 95%;
    float: $right;
    overflow: auto;

    iframe {
        display: inline;
        border: none;
        width: 100%;
        height: 600px;
        overflow: auto;
    }

    form {
        margin: 0;
        padding: 0;
    }

    table {
        width: 100%;
        height: 95%;
    }
}
