/*vertical menu styling for edit globals - common for all themes*/
/*All individual color options shifted to edit_globals_colors.scss, light.scss and manila.scss as appropriate*/
#oe-nav-ul a {
  text-decoration: none;
}

#oe-nav-ul.tabNav li {
  @include font-size("0.8rem !important");
  float: left;
  padding: 0;
  vertical-align: bottom;
}

#oe-nav-ul.tabNav li .current {
  font-weight: 700;
  margin-top: -4px;
  padding-top: 0;
  text-align: left;
  vertical-align: bottom;
}

#oe-nav-ul.tabNav a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: $gray-800;
  padding: 4px 4px 5px;
  text-decoration: none;
}

#oe-nav-ul.tabNav {
  margin: 0;
  padding: 4px 0 0;
}

#oe-nav-ul.tabNav .current a {
  border: solid;
  border-width: 3px 0 0 2px;
}

#globals-div .tabContainer {
  border: solid;
  border-width: 3px 0 0;
  clear: none;
  display: flex !important;
  float: none;
  width: auto;
}

.oe-global-tab-heading {
  display: flex;
  font-weight: 600;
  margin-top: -10px;
  padding-bottom: 10px;
}

.mark,
mark {
  background-color: $yellow;
}
