.logout {
    color: $body-color;
    text-decoration: none;
    text-align: $left;
}

.more {
    text-decoration: none;
}

.back {
    text-decoration: none;
}

.link_selected {
    text-decoration: none;
    color: $primary;
}

.link_selected:visited {
    text-decoration: none;
    color: $primary;
}

.link_submit {
    text-decoration: none;
    color: darken($primary, 20%);

    a:visited {
        color: darken($primary, 20%);
    }

    a:hover {
        color: lighten($danger, 10%);
    }
}
