/**
* List-table formatting
**/

.showborder {
    width: 650px;
}
.showborder td {
    border-bottom: 1px dashed #000000;
    text-align: $left;
}
.showborder_head th {
    border-bottom: 1px solid #000000;
    text-align: $left;
}
.shownoborder td {
    text-align: $left;
}
.showborder_long {
    width: 100%;
}
.showborder_long tr td {
    border-bottom: 1px dashed #000000;
    text-align: $left;
}