.menu {
  color: $primary;
  text-align: $left;
  text-decoration: none;
}

.menu_selected {
  color: $body-color;
  text-align: $left;
  text-decoration: none;
}

/* see .titlebar below */

.title_bar {
  @include font-size("1.0rem !important");
  color: $body-color;
  font-weight: bold;
  text-decoration: none;
}

.title_bar_top {
  color: $body-color;
  font-weight: bold;
  text-decoration: none;
}

.sidebar {
  background: darken($light, 10%);
  font-size: 95%;
  padding-left: 0 !important;
  padding-right: 0 !important;

  .submenu {
    padding-#{$left}: 15px;
  }

  ul.mainmenu {
    padding-bottom: 55px;
  }
}

/*=============================================================
 * Here we have taken variables from globals.php and turned them into CSS classes
 * these should be used in place of the GLOBAL variables -- JRM March 2008
 *=============================================================*/

body {
  direction: $dir;
}

.body_top {
  margin: 8px;
}

/* $top_bg_line */

.bgcolor2 {
  background-color: darken($light, 10%);
}

/* $GLOBALS['style']['BGCOLOR2'] */

.body_bottom {
  background: url('../../interface/pic/aquabg.gif') repeat;
  margin: 8px;
}

/* $bottom_bg_line */

.body_title {
  background-color: lighten($yellow, 50%);
}

/* $title_bg_line */

.body_nav {
  background-color: lighten($yellow, 60%);
}

/* $nav_bg_line */

.body_filler {
  background-color: lighten($yellow, 70%);
}

/* $login_filler_line */

.body_login {
  background: url('../../interface/pic/aquabg.gif') repeat;
}

/* $login_body_line */
/* $table_bg */

.table_bg,
.bgcolor1 {
  background-color: $gray-400;
}

/* $GLOBALS['style']['BGCOLOR1'] */

.textcolor11 {
  background-color: $dark;
}

/* $GLOBALS['style']['TEXTCOLOR11'] */

.highlightcolor {
  background-color: $gray-300;
}

/* $GLOBALS['style']['HIGHLIGHTCOLOR'] */

.bottom_line {
  background: url('../../interface/pic/aquabg.gif') repeat;
}

/* $GLOBALS['style']['BOTTOM_BG_LINE'] */

.logobar {
  background-color: $dark;
  height: 110px;
}

/* $GLOBALS['logoBarHeight']
removed as doesn't make sense and ruins responsive sjp
.navbar {
    height: 22px;
}
*/
/* $GLOBALS['navBarHeight'] */

.titlebar {
  height: 20px;
}

/* $GLOBALS['titleBarHeight'] */

/* The top navigation icon styling*/

.top-nav-icons {
  margin-#{$right}: 15px;
  margin-top: 5px;
}

.text-area {
  background-color: $white;
  border: 1px solid $black;
  height: 100px;
  overflow: auto;
  text-align: $left;
  width: 100%;
}

.example_menu {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 136px;
}

.expand_all,
.collapse_all {
  cursor: pointer;
}

.example_menu ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu1 li,
#menu2 li,
#menu3 li,
#menu4 li,
#menu5 li,
.example_menu li {
  background-image: none;
  border-bottom: 1px solid $white;
  margin: 0;
  padding: 0;
}

.example_menu ul ul {
  display: block;
}

.example_menu a {
  color: $black;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin-#{$left}: 0;
  padding: 2px 2px 2px 17px;
  width: 160px;
}

.example_menu a.expanded {
  background: $gray-300 url('collapse.gif') no-repeat 3px 50%;
}

.example_menu a.collapsed {
  background: $gray-300 url('expand.gif') no-repeat 3px 50%;
}

.example_menu a:hover {
  text-decoration: none;
}

.example_menu ul li span {
  background: lighten($yellow, 60%);
  color: $body-color;
  display: block;
  font-weight: normal;
  width: 100%;
}

.example_menu ul a:Subjective {
  font-weight: normal;
}

.example_menu ul a:hover {
  background: lighten($light, 20%);
  text-decoration: underline;
}

.example_menu li.active a {
  background: $white;
}

.example_menu li.active li a {
  background: $gray-200;
}

#menu1 li.footer,
#menu2 li.footer,
#menu3 li.footer,
#menu4 li.footer,
#menu5 li.footer,
.example_menu .footer {
  background: transparent url('footer.jpg') no-repeat 0 0;
  border-top: 2px solid $white;
  height: 9px;
  line-height: 15px;
  margin: 0 0 10px;
  width: 131px;
}

.example_menu .footer span {
  display: none;
}

.cke_contents {
  height: 300px !important;
}
