.menu {
    color: #0000cc;
    text-decoration: none;
    text-align: $left;
}
.menu_selected {
    color: #000000;
    text-decoration: none;
    text-align: $left;
}
/* see .titlebar below */

.title_bar {
    font-size: 1.0em;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}
.title_bar_top {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}
.sidebar {
    background: #fffbeb;
    font-size: 95%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    .submenu {
        padding-left: 15px;
    }
    ul.mainmenu {
        padding-bottom: 55px;
    }
}
/*=============================================================
 * Here we have taken variables from globals.php and turned them into CSS classes
 * these should be used in place of the GLOBAL variables -- JRM March 2008
 *=============================================================*/

body {
    direction: $dir;
}

.body_top {
    background-color: #fffbeb;
    margin: 8px
}
/* $top_bg_line */

.bgcolor2 {
    background-color: #fffbeb;
}
/* $GLOBALS['style']['BGCOLOR2'] */

.body_bottom {
    background: url('../pic/aquabg.gif') repeat;
    margin: 8px
}
/* $bottom_bg_line */

.body_title {
    background-color: #fedf98;
}
/* $title_bg_line */

.body_nav {
    background-color: #fefdcf;
}
/* $nav_bg_line */

.body_filler {
    background-color: #f7f0d5;
}
/* $login_filler_line */

.body_login {
    background: url('../pic/aquabg.gif') repeat;
}
/* $login_body_line */

.table_bg {
    background-color: #ccc;
}
/* $table_bg */

.bgcolor1 {
    background-color: #ccc;
}
/* $GLOBALS['style']['BGCOLOR1'] */

.textcolor11 {
    background-color: #222;
}
/* $GLOBALS['style']['TEXTCOLOR11'] */

.highlightcolor {
    background-color: #ddd;
}
/* $GLOBALS['style']['HIGHLIGHTCOLOR'] */

.bottom_line {
    background: url('../pic/aquabg.gif') repeat;
}
/* $GLOBALS['style']['BOTTOM_BG_LINE'] */

.logobar {
    background-color: #24262c;
    height: 110px;
}
/* $GLOBALS['logoBarHeight'] */

.navbar {
    height: 22px;
}
/* $GLOBALS['navBarHeight'] */

.titlebar {
    height: 20px;
}
/* $GLOBALS['titleBarHeight'] */

/* The top navigation icon styling*/

.top-nav-icons {
    margin-right: 15px;
    margin-top: 5px
}
.text-area {
    background-color: #FFFFFF;
    border: 1px solid black;
    width: 100%;
    height: 100px;
    overflow: auto;
    text-align: $left;
}
.example_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 136px;
}
.expand_all, .collapse_all {
    cursor: pointer;
}
.example_menu ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu1 li, #menu2 li, #menu3 li, #menu4 li, #menu5 li, .example_menu li {
    background-image: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
}
.example_menu ul ul {
    display: block;
}
.example_menu a {
    color: #000;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-left: 0;
    padding: 2px 2px 2px 17px;
    width: 160px;
}
.example_menu a.expanded {
    background: #bbb url('collapse.gif') no-repeat 3px 50%;
}
.example_menu a.collapsed {
    background: #bbb url('expand.gif') no-repeat 3px 50%;
}
.example_menu a:hover {
    text-decoration: none;
}
.example_menu ul li span {
    background: #d9d1a4;
    color: #000;
    display: block;
    font-weight: normal;
    width: 100%;
}
.example_menu ul a:Subjective {
    font-weight: normal;
}
.example_menu ul a:hover {
    background: #f5f5f5;
    text-decoration: underline;
}
.example_menu li.active a {
    background: #fff;
}
.example_menu li.active li a {
    background: #e8e8e8;
}
#menu1 li.footer, #menu2 li.footer, #menu3 li.footer, #menu4 li.footer, #menu5 li.footer, .example_menu .footer {
    background: transparent url('footer.jpg') no-repeat 0 0;
    border-top: 2px solid #fff;
    height: 9px;
    line-height: 15px;
    margin: 0 0 10px 0;
    width: 131px;
}
.example_menu .footer span {
    display: none;
}
.cke_contents {
    height: 300px !important;
}