/* styles taken out of templates/report/general_default.html */

#reports_list td,
#reports_list a {
    @include font-size("0.8rem !important");
}

/*
* REPORTS
*/

#report_parameters {
    margin-top: 10px;
}

#report_parameters table {
    width: 100%;
    border-collapse: collapse;
}

#report_parameters table td {
    padding: 5px;
}

#report_parameters table table {
    border: 0;
    border-collapse: collapse;
    @include font-size("0.8rem !important");
}

#report_parameters table table td.label_custom {
    text-align: $right;
}

#report_results table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1px;
}

#report_results table thead {
    text-align: $left;
    font-weight: bold;
}

#report_results table th {
    padding: 5px;
}

#report_results table td {
    padding: 5px;
}

.report_totals td {
    background-color: lighten($green, 30%);
    font-weight: bold;
}
