#sddm li {
    margin: 0;
    list-style: none;
    float: $left;
    background: lighten($gray-100, 10%);
}

#sddm li a {
    display: block;
    margin: 0 1px 0 0;
    text-align: $left;
    text-decoration: none;
}

#sddm li a:hover {
    background: $gray-300;
}

#sddm div {
    position: absolute;
    visibility: hidden;
}

#sddm div a {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: 170px;
    white-space: normal;
    text-align: $left;
    text-decoration: none;
    @include font-size("0.8rem !important");
    font-weight: normal;
}

#sddm div a:hover {
    color: $white;
}
