.text {
    color: #000000;
    text-decoration: none;
    font-size: 0.9em;
}
.required {
    text-decoration: none;
    font-size: 0.9em;
    color: #880000;
    font-weight: bold;
}
.bold {
    text-decoration: none;
    font-size: 0.9em;
    color: #000000;
    font-weight: bold;
}
.small {
    text-decoration: none;
    color: #000000;
    font-size: 0.8em;
}
.sellistclass {
    float: $left;
}
.disabled_button {
    color: grey;
}
a.disabled_button:hover {
    color: grey;
}
/* Password alert styles */

.pwdalert {
    display: block;
    width: 390pt;
    margin-left: 100px;
    padding: 10px 10px 10px 15px;
    color: black;
}
.alertmsg1 {
    border: 3px solid #fe7b7a;
    background-color: #ffd6d6;
}
.alertmsg2 {
    border: 3px solid #f56fff;
    background-color: #fabfff;
}
.alertmsg3 {
    border: 3px solid #9acc2e;
    background-color: #eef7dd;
}
/* Password alert styles */

/* Style for red font */

.redtext {
    text-decoration: none;
    color: #FF0000;
}
/* Style for red font */

.de_identification_status_message {
    width: 50%;
    border: 1px solid #0000FF;
}
.de_identification_input_controls_box {
    width: 100%;
    border: 1px solid #0000FF;
}
.de_id_upgrade_login {
    width: 40%;
    border: 1px solid Black;
    background-color: #ffffff;
}
body.admin-layout input[type="button"] {
    display: inline-block;
    float: none;
}
/* error message = new validation */

.error-message {
    color: red;
    display: block;
    white-space: nowrap;
    font-weight: normal;
}
.error-border {
    border: 1px solid red !important;
}
.tinylogocontainer {
    display: inline-block;
    border: none;
}
.tinylogopng {
    display: inline-block;
    width: 44px;
    height: 22px;
}
.oe-text-to-right{
    text-align: $right;
}
.oe-text-to-left{
    text-align: $left;
}