.text {
    color: $black;
    text-decoration: none;
    font-size: 0.9em;
}

.required {
    text-decoration: none;
    font-size: 0.9em;
    color: darken($danger, 20%);
    font-weight: bold;
}

.bold {
    text-decoration: none;
    font-size: 0.9em;
    color: $black;
    font-weight: bold;
}

.small {
    text-decoration: none;
    color: $black;
    font-size: 0.8em;
}

.sellistclass {
    float: $left;
}

.disabled_button,
a.disabled_button:hover {
    color: $gray;
}

/* Password alert styles */

.pwdalert {
    display: block;
    width: 390pt;
    margin-left: 100px;
    padding: 10px 10px 10px 15px;
    color: $black;
}

.alertmsg1 {
    border: 3px solid $danger;
    background-color: lighten($orange, 60%);
}

.alertmsg2 {
    border: 3px solid lighten($pink, 20%);
    background-color: lighten($pink, 30%);
}

.alertmsg3 {
    border: 3px solid $yellow;
    background-color: lighten($yellow, 60%);
}

/* Password alert styles */

/* Style for red font */

.redtext {
    text-decoration: none;
    color: $danger;
}

/* Style for red font */

.de_identification_status_message {
    width: 50%;
    border: 1px solid $primary;
}

.de_identification_input_controls_box {
    width: 100%;
    border: 1px solid $primary;
}

.de_id_upgrade_login {
    width: 40%;
    border: 1px solid $black;
    background-color: $white;
}

body.admin-layout input[type="button"] {
    display: inline-block;
    float: none;
}

/* error message = new validation */

.error-message {
    color: red;
    display: block;
    white-space: nowrap;
    font-weight: normal;
}

.error-border {
    border: 1px solid $danger !important;
}

.tinylogocontainer {
    display: inline-block;
    border: none;
}

.tinylogopng {
    display: inline-block;
    width: 44px;
    height: 22px;
}

.oe-text-to-right {
    text-align: $right;
}

.oe-text-to-left {
    text-align: $left;
}
