<author>
  <time value="{{{current_time}}}"/>
  <assignedAuthor>
    <!-- NPI -->
    {{#provider}}
    {{#provider_npi}}
      <id extension="{{value}}" root="2.16.840.1.113883.4.6"/>
    {{/provider_npi}}
    {{/provider}}
    {{^provider}}
      <id extension="1982671962" root="2.16.840.1.113883.4.6"/>
    {{/provider}}
    <addr>
      <streetAddressLine>202 Burlington Rd.</streetAddressLine>
      <city>Bedford</city>
      <state>MA</state>
      <postalCode>01730</postalCode>
      <country>US</country>
    </addr>
    <telecom use="WP" value="tel:(781)271-3000"/>
    <assignedAuthoringDevice>
      <manufacturerModelName>Cypress</manufacturerModelName>
      <softwareName>Cypress</softwareName>
    </assignedAuthoringDevice>
  </assignedAuthor>
</author>