<legalAuthenticator>
  <time value="{{{current_time}}}"/>
  <signatureCode code="S"/>
  <assignedEntity>
    <id root="bc01a5d1-3a34-4286-82cc-43eb04c972a7"/>
    <addr>
      <streetAddressLine>202 Burlington Rd.</streetAddressLine>
      <city>Bedford</city>
      <state>MA</state>
      <postalCode>01730</postalCode>
      <country>US</country>
    </addr>
    <telecom use="WP" value="tel:(781)271-3000"/>
    <assignedPerson>
      <name>
        <given>Henry</given>
        <family>Seven</family>
      </name>
    </assignedPerson>
    <representedOrganization>
      <id root="2.16.840.1.113883.19.5"/>
      <name>Cypress</name>
    </representedOrganization>
  </assignedEntity>
</legalAuthenticator>