<participant typeCode="DEV">
  <associatedEntity classCode="RGPR">
    <!-- CMS EHR Certification Number (formerly known as Office of the 
        National Coordinator Certification Number) -->
    <id extension="123456789" root="2.16.840.1.113883.3.2074.1"/>
  </associatedEntity>
</participant>