{% block content %}
<section class="card bg-danger text-white">
    <div class="card-body p-1">
        <div class="card-title mb-0 d-flex p-1 justify-content-between">
            <strong>{{ deceasedDays|text }}</strong>
        </div>
    </div>
</section>
{% endblock %}
