{#
The Patient Portal card for the Medical Record Dashboard

@author       Robert Down <robertdown@live.com>
@copyright    Copyright (c) 2022-2023 Robert Down <robertdown@live.com>
@package      OpenEMR
#}

{% block erx %}
    <a href="{{ webroot|attr }}/interface/eRx.php?page=medentry" class="btn btn-secondary btn-sm btn-add erx" onclick="top.restoreSession();">{{ "NewCrop MedEntry"|xlt }}</a>
    <a href="{{ webroot|attr }}/interface/soap_functions/soap_accountStatusDetails.php" onclick="top.restoreSession()" class="btn btn-secondary btn-sm btn save iframe1">{{ "NewCrop Account Status"|xlt }}</a>
    <div id="accountstatus"></div>
{% endblock %}
