<html>
<head>


 <style>
<!--
td {
	font-size:12pt;
	font-family:helvetica;
}
li{
	font-size:11pt;
	font-family:helvetica;
	margin-left: 15px;
}
a {
	font-size:11pt;
	font-family:helvetica;
}
.title {
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.form_text{
	font-family: sans-serif;
	font-size: 9pt;
	text-decoration: none;
	color: #000000;
}

-->
</style>

</head>
<body bgcolor="{$STYLE.BGCOLOR2|attr}">
<p><span class="title">Circumferential and leg length measurements.</span></p>
<form name="soap" method="post" action="{$FORM_ACTION}/interface/forms/leg_length/save.php"
 onsubmit="return top.restoreSession()">

<table width="194" border="1" bordercolor="#000000" cellpadding="7" cellspacing="0">
		<col width="40">
		<col width="54">
		<col width="56">
		<tbody><tr valign="top">
			<td width="40" height="1">
				<p class="western" align="justify">&nbsp;</p>

			</td>
			<td width="54">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><b>RIGHT</b></font></font></p>
			</td>
			<td width="56">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><b>LEFT</b></font></font></p>
			</td>
		</tr>

		<tr valign="top">
			<td width="40" height="2">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><b>AE</b></font></font></p>
			</td>
			<td width="54">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><input type="text" name="AE_left" value="{$data->get_AE_left()|attr}"></font></font></p>
			</td>
			<td width="56">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><input type="text" name="AE_right" value="{$data->get_AE_right()|attr}"></font></font></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="40" height="2">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><b>BE</b></font></font></p>
			</td>
			<td width="54">

				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><input type="text" name="BE_left" value="{$data->get_BE_left()|attr}"></font></font></p>
			</td>
			<td width="56">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><input type="text" name="BE_right" value="{$data->get_BE_right()|attr}"></font></font></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="40" height="3">

				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><b>AK</b></font></font></p>
			</td>
			<td width="54">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><input type="text" name="AK_left" value="{$data->get_AK_left()|attr}"></font></font></p>
			</td>
			<td width="56">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><input type="text" name="AK_right" value="{$data->get_AK_right()|attr}"></font></font></p>

			</td>
		</tr>
		<tr valign="top">
			<td width="40" height="2">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><b>K</b></font></font></p>
			</td>
			<td width="54">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><input type="text" name="K_left" value="{$data->get_K_left()|attr}"></font></font></p>

			</td>
			<td width="56">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><input type="text" name="K_right" value="{$data->get_K_right()|attr}"></font></font></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="40" height="2">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><b>BK</b></font></font></p>

			</td>
			<td width="54">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><input type="text" name="BK_left" value="{$data->get_BK_left()|attr}"></font></font></p>
			</td>
			<td width="56">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><input type="text" name="BK_right" value="{$data->get_BK_right()|attr}"></font></font></p>
			</td>
		</tr>

		<tr valign="top">
			<td width="40" height="2">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><b>ASIS</b></font></font></p>
			</td>
			<td width="54">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><input type="text" name="ASIS_left" value="{$data->get_ASIS_left()|attr}"></font></font></p>
			</td>
			<td width="56">

				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><input type="text" name="ASIS_right" value="{$data->get_ASIS_right()|attr}"></font></font></p>
			</td>
		</tr>
		<tr valign="top">
			<td width="40">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><b>UMB</b></font></font></p>
			</td>
			<td width="54">

				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><input type="text" name="UMB_left" value="{$data->get_UMB_left()|attr}"></font></font></p>
			</td>
			<td width="56">
				<p class="western" align="justify"><font face="Verdana, sans-serif"><font style="font-size: 11pt;" size="2"><input type="text" name="UMB_right" value="{$data->get_UMB_right()|attr}"></font></font></p>
			</td>
		</tr>
	</tbody>
</table>

</p>
<table border='0' cellpadding='0' cellspacing='0' class='text'>
	<tr class='text'>
		<td><b>NOTES</b></td>
	</tr>
	<tr class='text'>
		<td><textarea cols='80' rows='5' name='notes'>{$data->get_notes()|text}</textarea></td>
	</tr>
</table>

<table>
	<tr>
		<td>
		</td>
	</tr>

	<tr>
		<td>
			<input type="submit" name="Submit" value="Save Form">
		</td>
		<td>
			<a href="{$DONT_SAVE_LINK}" class="link">[Don't Save]</a>
		</td>
	</tr>
</table>
<input type="hidden" name="id" value="{$data->get_id()|attr}" />
<input type="hidden" name="pid" value="{$data->get_pid()|attr}">
<input type="hidden" name="process" value="true">
</form>
</body>
</html>
