<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ "Welcome"|xlt }} {% endblock %}</title>
    {{ setupHeader(['jquery-ui', 'jquery-ui-sunny']) }}
</head>
<body>
{% block body %}{% endblock %}
</body>
{% block javascripts %}{% endblock %}
</html>
