Package: openemr
Version: 4.0.0-1
Maintainer: Brady Miller <brady@sparmy.com>
Installed-Size: 47664
Priority: optional
Section: web
Architecture: all
Source: openemr
Homepage: http://www.oemr.org/
Depends: mysql-server, apache2-mpm-prefork, makepasswd, libapache2-mod-php5, libdate-calc-perl, libdbd-mysql-perl, libdbi-perl, libhtml-parser-perl, libtiff-tools, libwww-mechanize-perl, libxml-parser-perl, php5, php5-mysql, php5-cli, php5-gd, php5-xsl, php5-curl, php5-mcrypt, imagemagick
Description: Comprehensive Medical Practice Management Application
 OpenEMR provides office scheduling, electronic medical records,
 prescriptions, insurance billing, accounting and access controls.
 . 
 To use OpenEMR after installation, go to http://localhost/openemr ,
 the user is 'admin' and password is 'pass' (recommend changing password
 after login).
 .
 The OpenEMR project home page and wiki (documentation)
 can be found at http://www.oemr.org and the OpenEMR forums can be
 found at http://sourceforge.net/projects/openemr
