[Desktop Entry]
Terminal=false
Exec=firefox -url http://localhost/openemr
Type=Application
Categories=Application;Office;
StartupNotify=true
Name=Electronic Medical Records - OpenEMR
Comment=Medical Practice Management Application
