[Desktop Entry]
Terminal=false
Exec=sensible-browser http://localhost/git-openemr
Type=Application
Categories=Application;Office;
StartupNotify=true
Name=Electronic Medical Records - OpenEMR
Comment=Medical Practice Management Application
