<html>
<head>
{php}html_header_show();{/php}
{literal}

 <style type="text/css" title="mystyles" media="all">
<!--
td {
	font-size:12pt;
	font-family:helvetica;
}
li{
	font-size:11pt;
	font-family:helvetica;
	margin-left: 15px;
}
a {
	font-size:11pt;
	font-family:helvetica;
}
.title {
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.form_text{
	font-family: sans-serif;
	font-size: 9pt;
	text-decoration: none;
	color: #000000;
}

-->
</style>
{/literal}
</head>
<body bgcolor="{$STYLE.BGCOLOR2}">
<p><span class="title">Approved Physical</span></p>
<form name="approved_physical" method="post" action="{$FORM_ACTION}/interface/forms/approved_physical/save.php"
 onsubmit="return top.restoreSession()">

<TABLE WIDTH=591 BORDER=1 BORDERCOLOR='#000000' CELLPADDING=7 CELLSPACING=0 STYLE='page-break-before: always'>

	<TR>
		<TD WIDTH=100px>
			<span class='bold'>WNL/ABN</span>
		</TD>
		<TD WIDTH=162px>
			<span class='bold'>SYSTEM</b>
		</TD>
		<TD WIDTH=161px>
			<span class='bold'>SPECIFIC</b>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<span class='bold'>Text Box<b>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_1' VALUE='WNL' '{$data->get_col_1_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_1' VALUE='ABN'  '{$data->get_col_1_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_1' VALUE='N/A' '{$data->get_col_1_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Constitutional</span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>General Appearance (eg, development, nutrition, body habitus, deformities, attention to grooming)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_1_textbox' cols='30' rows='2'>{$data->get_col_1_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_2' VALUE='WNL' '{$data->get_col_2_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_2' VALUE='ABN'  '{$data->get_col_2_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_2' VALUE='N/A' '{$data->get_col_2_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Eyes</span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Inspection of conjunctiva and lids</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_2_textbox' cols='30' rows='2'>{$data->get_col_2_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_3' VALUE='WNL' '{$data->get_col_3_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_3' VALUE='ABN'  '{$data->get_col_3_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_3' VALUE='N/A' '{$data->get_col_3_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of pupils and irises (eg. Reaction to light and accommodation, size and symmetry)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_3_textbox' cols='30' rows='2'>{$data->get_col_3_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_4' VALUE='WNL' '{$data->get_col_4_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_4' VALUE='ABN'  '{$data->get_col_4_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_4' VALUE='N/A' '{$data->get_col_4_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Othalmoscopic examination of optic discs (eg size, C/D ratio, appearance) and posterior segments (eg, vessel changes, exudates, hemorrhages)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_4_textbox' cols='30' rows='2'>{$data->get_col_4_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_5' VALUE='WNL' '{$data->get_col_5_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_5' VALUE='ABN'  '{$data->get_col_5_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_5' VALUE='N/A' '{$data->get_col_5_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Ears, Nose, Mouth and Throat</span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>External inspection of ears and nose (overall appearance, scars, lesions, masses)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_5_textbox' cols='30' rows='2'>{$data->get_col_5_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_6' VALUE='WNL' '{$data->get_col_6_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_6' VALUE='ABN'  '{$data->get_col_6_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_6' VALUE='N/A' '{$data->get_col_6_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Otoscopic examination of external auditory canals and tympanic membranes</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_6_textbox' cols='30' rows='2'>{$data->get_col_6_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_7' VALUE='WNL' '{$data->get_col_7_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_7' VALUE='ABN'  '{$data->get_col_7_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_7' VALUE='N/A' '{$data->get_col_7_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Assessment of hearing (eg, whispered voice, finger rub, tuning fork)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_7_textbox' cols='30' rows='2'>{$data->get_col_7_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_8' VALUE='WNL' '{$data->get_col_8_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_8' VALUE='ABN'  '{$data->get_col_8_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_8' VALUE='N/A' '{$data->get_col_8_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Inspection of nasal mucosa, septum and turbinates</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_8_textbox' cols='30' rows='2'>{$data->get_col_8_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_9' VALUE='WNL' '{$data->get_col_9_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_9' VALUE='ABN'  '{$data->get_col_9_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_9' VALUE='N/A' '{$data->get_col_9_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Inspection of lips, teeth and gums</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_9_textbox' cols='30' rows='2'>{$data->get_col_9_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_10' VALUE='WNL' '{$data->get_col_10_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_10' VALUE='ABN'  '{$data->get_col_10_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_10' VALUE='N/A' '{$data->get_col_10_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of oropharynx: oral mucosa, salivary glands, hard and soft palates, tongue, tonsils and posterior pharynx</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_10_textbox' cols='30' rows='2'>{$data->get_col_10_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_11' VALUE='WNL' '{$data->get_col_11_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_11' VALUE='ABN'  '{$data->get_col_11_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_11' VALUE='N/A' '{$data->get_col_11_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Neck</span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of neck (eg, masses, overall appearance, symmetry, tracheal position, crepitus)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_11_textbox' cols='30' rows='2'>{$data->get_col_11_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_12' VALUE='WNL' '{$data->get_col_12_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_12' VALUE='ABN'  '{$data->get_col_12_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_12' VALUE='N/A' '{$data->get_col_12_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of thyroid (eg, enlargement, tenderness, mass)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_12_textbox' cols='30' rows='2'>{$data->get_col_12_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_13' VALUE='WNL' '{$data->get_col_13_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_13' VALUE='ABN'  '{$data->get_col_13_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_13' VALUE='N/A' '{$data->get_col_13_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Respiratory</span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Assessment of respiratory effort (eg, intercostal retractions, use of accessory muscles, diaphragmatic movement)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_13_textbox' cols='30' rows='2'>{$data->get_col_13_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_14' VALUE='WNL' '{$data->get_col_14_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_14' VALUE='ABN'  '{$data->get_col_14_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_14' VALUE='N/A' '{$data->get_col_14_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Percussion of chest (eg, dullness, flatness, hyperresonance)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_14_textbox' cols='30' rows='2'>{$data->get_col_14_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_15' VALUE='WNL' '{$data->get_col_15_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_15' VALUE='ABN'  '{$data->get_col_15_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_15' VALUE='N/A' '{$data->get_col_15_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Palpation of chest (eg, tactile fremitus)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_15_textbox' cols='30' rows='2'>{$data->get_col_15_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_16' VALUE='WNL' '{$data->get_col_16_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_16' VALUE='ABN'  '{$data->get_col_16_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_16' VALUE='N/A' '{$data->get_col_16_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Auscultation of lungs (eg, breath sounds, adventitious sounds, rubs)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_16_textbox' cols='30' rows='2'>{$data->get_col_16_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_17' VALUE='WNL' '{$data->get_col_17_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_17' VALUE='ABN'  '{$data->get_col_17_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_17' VALUE='N/A' '{$data->get_col_17_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Cardiovascular</span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Palpation of heart (eg, location, size, thrills)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_17_textbox' cols='30' rows='2'>{$data->get_col_17_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_18' VALUE='WNL' '{$data->get_col_18_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_18' VALUE='ABN'  '{$data->get_col_18_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_18' VALUE='N/A' '{$data->get_col_18_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Auscultation of heart with notation of abnormal sounds and murmurs</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_18_textbox' cols='30' rows='2'>{$data->get_col_18_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_19' VALUE='WNL' '{$data->get_col_19_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_19' VALUE='ABN'  '{$data->get_col_19_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_19' VALUE='N/A' '{$data->get_col_19_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of: carotid arteries (eg, pulse amplitude, bruits)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_19_textbox' cols='30' rows='2'>{$data->get_col_19_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_20' VALUE='WNL' '{$data->get_col_20_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_20' VALUE='ABN'  '{$data->get_col_20_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_20' VALUE='N/A' '{$data->get_col_20_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>abdominal aorta (eg, size, bruits)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_20_textbox' cols='30' rows='2'>{$data->get_col_20_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_21' VALUE='WNL' '{$data->get_col_21_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_21' VALUE='ABN'  '{$data->get_col_21_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_21' VALUE='N/A' '{$data->get_col_21_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>femoral arteries (eg, pulse amplitude, bruits)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_21_textbox' cols='30' rows='2'>{$data->get_col_21_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_22' VALUE='WNL' '{$data->get_col_22_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_22' VALUE='ABN'  '{$data->get_col_22_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_22' VALUE='N/A' '{$data->get_col_22_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>pedal pulses (eg, pulse amplitude)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_22_textbox' cols='30' rows='2'>{$data->get_col_22_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_23' VALUE='WNL' '{$data->get_col_23_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_23' VALUE='ABN'  '{$data->get_col_23_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_23' VALUE='N/A' '{$data->get_col_23_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>extremities for edema and/or varicosities</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_23_textbox' cols='30' rows='2'>{$data->get_col_23_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_24' VALUE='WNL' '{$data->get_col_24_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_24' VALUE='ABN'  '{$data->get_col_24_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_24' VALUE='N/A' '{$data->get_col_24_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Chest (Breasts)</span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Inspection of breasts (eg, symmetry, nipple discharge)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_24_textbox' cols='30' rows='2'>{$data->get_col_24_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_25' VALUE='WNL' '{$data->get_col_25_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_25' VALUE='ABN'  '{$data->get_col_25_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_25' VALUE='N/A' '{$data->get_col_25_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Palpation of breasts and axillae (eg, masses or lumps, tenderness)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_25_textbox' cols='30' rows='2'>{$data->get_col_25_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_26' VALUE='WNL' '{$data->get_col_26_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_26' VALUE='ABN'  '{$data->get_col_26_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_26' VALUE='N/A' '{$data->get_col_26_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Gastrointestinal (Abdomen)</span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of abdomen with notation of presence of masses or tenderness</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_26_textbox' cols='30' rows='2'>{$data->get_col_26_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_27' VALUE='WNL' '{$data->get_col_27_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_27' VALUE='ABN'  '{$data->get_col_27_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_27' VALUE='N/A' '{$data->get_col_27_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of liver and spleen</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_27_textbox' cols='30' rows='2'>{$data->get_col_27_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_28' VALUE='WNL' '{$data->get_col_28_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_28' VALUE='ABN'  '{$data->get_col_28_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_28' VALUE='N/A' '{$data->get_col_28_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination for presence or absence of hernia</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_28_textbox' cols='30' rows='2'>{$data->get_col_28_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_29' VALUE='WNL' '{$data->get_col_29_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_29' VALUE='ABN'  '{$data->get_col_29_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_29' VALUE='N/A' '{$data->get_col_29_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination (when indicated) of anus, perineum and rectum, including sphincter tone, presence of hemorrhoids, rectal masses</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_29_textbox' cols='30' rows='2'>{$data->get_col_29_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_30' VALUE='WNL' '{$data->get_col_30_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_30' VALUE='ABN'  '{$data->get_col_30_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_30' VALUE='N/A' '{$data->get_col_30_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Obtain stool sample for occult blood test when indicated</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_30_textbox' cols='30' rows='2'>{$data->get_col_30_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_31' VALUE='WNL' '{$data->get_col_31_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_31' VALUE='ABN'  '{$data->get_col_31_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_31' VALUE='N/A' '{$data->get_col_31_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Male Genitourinary </span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of the scrotal contents (eg, hydrocele, spermatocele, tenderness of cord, testicular mass)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_31_textbox' cols='30' rows='2'>{$data->get_col_31_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_32' VALUE='WNL' '{$data->get_col_32_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_32' VALUE='ABN'  '{$data->get_col_32_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_32' VALUE='N/A' '{$data->get_col_32_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of the penis</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_32_textbox' cols='30' rows='2'>{$data->get_col_32_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_33' VALUE='WNL' '{$data->get_col_33_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_33' VALUE='ABN'  '{$data->get_col_33_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_33' VALUE='N/A' '{$data->get_col_33_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Digital rectal examination of prostate gland (eg, size, symmetry, nodularity, tenderness)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_33_textbox' cols='30' rows='2'>{$data->get_col_33_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_34' VALUE='WNL' '{$data->get_col_34_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_34' VALUE='ABN'  '{$data->get_col_34_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_34' VALUE='N/A' '{$data->get_col_34_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Female Genitourinary </span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Pelvic examination (with or without specimen collection for smears and cultures), including</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_34_textbox' cols='30' rows='2'>{$data->get_col_34_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_35' VALUE='WNL' '{$data->get_col_35_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_35' VALUE='ABN'  '{$data->get_col_35_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_35' VALUE='N/A' '{$data->get_col_35_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of external genitalia (eg, general appearance, hair distribution, lesions) and vagina (eg, general appearance, estrogen effect, discharge, lesions, pelvic support, cystocele, rectocele)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_35_textbox' cols='30' rows='2'>{$data->get_col_35_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_36' VALUE='WNL' '{$data->get_col_36_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_36' VALUE='ABN'  '{$data->get_col_36_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_36' VALUE='N/A' '{$data->get_col_36_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of urethra (eg, masses, tenderness, scarring)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_36_textbox' cols='30' rows='2'>{$data->get_col_36_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_37' VALUE='WNL' '{$data->get_col_37_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_37' VALUE='ABN'  '{$data->get_col_37_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_37' VALUE='N/A' '{$data->get_col_37_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of bladder (eg, fullness, masses, tenderness)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_37_textbox' cols='30' rows='2'>{$data->get_col_37_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_38' VALUE='WNL' '{$data->get_col_38_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_38' VALUE='ABN'  '{$data->get_col_38_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_38' VALUE='N/A' '{$data->get_col_38_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Cervix (eg, general appearance, lesions, discharge)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_38_textbox' cols='30' rows='2'>{$data->get_col_38_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_39' VALUE='WNL' '{$data->get_col_39_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_39' VALUE='ABN'  '{$data->get_col_39_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_39' VALUE='N/A' '{$data->get_col_39_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Uterus (eg, size, contour, position, mobility, tenderness, consistency, descent or support)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_39_textbox' cols='30' rows='2'>{$data->get_col_39_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_40' VALUE='WNL' '{$data->get_col_40_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_40' VALUE='ABN'  '{$data->get_col_40_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_40' VALUE='N/A' '{$data->get_col_40_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Adnexa/parametria (eg, masses, tenderness, organomegaly, nodularity)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_40_textbox' cols='30' rows='2'>{$data->get_col_40_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_41' VALUE='WNL' '{$data->get_col_41_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_41' VALUE='ABN'  '{$data->get_col_41_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_41' VALUE='N/A' '{$data->get_col_41_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Lymphatic</span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Palpation of lymph nodes in or more areas:</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_41_textbox' cols='30' rows='2'>{$data->get_col_41_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_42' VALUE='WNL' '{$data->get_col_42_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_42' VALUE='ABN'  '{$data->get_col_42_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_42' VALUE='N/A' '{$data->get_col_42_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Neck</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_42_textbox' cols='30' rows='2'>{$data->get_col_42_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_43' VALUE='WNL' '{$data->get_col_43_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_43' VALUE='ABN'  '{$data->get_col_43_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_43' VALUE='N/A' '{$data->get_col_43_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Axillae</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_43_textbox' cols='30' rows='2'>{$data->get_col_43_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_44' VALUE='WNL' '{$data->get_col_44_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_44' VALUE='ABN'  '{$data->get_col_44_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_44' VALUE='N/A' '{$data->get_col_44_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Groin</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_44_textbox' cols='30' rows='2'>{$data->get_col_44_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_45' VALUE='WNL' '{$data->get_col_45_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_45' VALUE='ABN'  '{$data->get_col_45_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_45' VALUE='N/A' '{$data->get_col_45_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Other</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_45_textbox' cols='30' rows='2'>{$data->get_col_45_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_46' VALUE='WNL' '{$data->get_col_46_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_46' VALUE='ABN'  '{$data->get_col_46_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_46' VALUE='N/A' '{$data->get_col_46_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Musculoskeletal</span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of gait and station</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_46_textbox' cols='30' rows='2'>{$data->get_col_46_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_47' VALUE='WNL' '{$data->get_col_47_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_47' VALUE='ABN'  '{$data->get_col_47_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_47' VALUE='N/A' '{$data->get_col_47_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Inspection and/or palpation of digits and nails (eg, clubbing, cyanosis, inflammatory conditions, petechiae, ischemia, infections, nodes)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_47_textbox' cols='30' rows='2'>{$data->get_col_47_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_48' VALUE='WNL' '{$data->get_col_48_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_48' VALUE='ABN'  '{$data->get_col_48_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_48' VALUE='N/A' '{$data->get_col_48_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of joints, bones and muscles of or more of the following six areas: 1) head and neck; 2) spine, ribs and pelvis; 3) right upper extremity; 4) left upper extremity; 5) right lower extremity; and 6) left lower extremity. The examination of a given area includes:</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_48_textbox' cols='30' rows='2'>{$data->get_col_48_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_49' VALUE='WNL' '{$data->get_col_49_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_49' VALUE='ABN'  '{$data->get_col_49_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_49' VALUE='N/A' '{$data->get_col_49_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Inspection and/or palpation with notation of presence of any misalignment, asymmetry, crepitation, defects, tenderness, masses, effusions</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_49_textbox' cols='30' rows='2'>{$data->get_col_49_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_50' VALUE='WNL' '{$data->get_col_50_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_50' VALUE='ABN'  '{$data->get_col_50_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_50' VALUE='N/A' '{$data->get_col_50_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Assessment of range of motion with notation of any pain, crepitation or contracture</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_50_textbox' cols='30' rows='2'>{$data->get_col_50_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_51' VALUE='WNL' '{$data->get_col_51_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_51' VALUE='ABN'  '{$data->get_col_51_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_51' VALUE='N/A' '{$data->get_col_51_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Assessment of stability with notation of any dislocation (luxation), subluxation or laxity</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_51_textbox' cols='30' rows='2'>{$data->get_col_51_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_52' VALUE='WNL' '{$data->get_col_52_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_52' VALUE='ABN'  '{$data->get_col_52_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_52' VALUE='N/A' '{$data->get_col_52_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Assessment of muscle strength and tone (eg, flaccid, cog wheel, spastic) with notation of any atrophy or abnormal movements</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_52_textbox' cols='30' rows='2'>{$data->get_col_52_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_53' VALUE='WNL' '{$data->get_col_53_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_53' VALUE='ABN'  '{$data->get_col_53_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_53' VALUE='N/A' '{$data->get_col_53_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Skin</span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Inspection of skin and subcutaneous tissue (eg, rashes, lesions, ulcers)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_53_textbox' cols='30' rows='2'>{$data->get_col_53_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_54' VALUE='WNL' '{$data->get_col_54_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_54' VALUE='ABN'  '{$data->get_col_54_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_54' VALUE='N/A' '{$data->get_col_54_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Palpation of skin and subcutaneous tissue (eg, induration, subcutaneous nodules, tightening)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_54_textbox' cols='30' rows='2'>{$data->get_col_54_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_55' VALUE='WNL' '{$data->get_col_55_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_55' VALUE='ABN'  '{$data->get_col_55_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_55' VALUE='N/A' '{$data->get_col_55_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Neurologic</span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Test cranial nerves with notation of any deficits</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_55_textbox' cols='30' rows='2'>{$data->get_col_55_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_56' VALUE='WNL' '{$data->get_col_56_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_56' VALUE='ABN'  '{$data->get_col_56_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_56' VALUE='N/A' '{$data->get_col_56_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of deep tendon reflexes with notation of pathological reflexes (eg, Babinski)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_56_textbox' cols='30' rows='2'>{$data->get_col_56_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_57' VALUE='WNL' '{$data->get_col_57_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_57' VALUE='ABN'  '{$data->get_col_57_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_57' VALUE='N/A' '{$data->get_col_57_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Examination of sensation (eg, by touch, pin, vibration, proprioception)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_57_textbox' cols='30' rows='2'>{$data->get_col_57_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_58' VALUE='WNL' '{$data->get_col_58_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_58' VALUE='ABN'  '{$data->get_col_58_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_58' VALUE='N/A' '{$data->get_col_58_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'>Psychiatric</span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Description of patient’s judgment and insight</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_58_textbox' cols='30' rows='2'>{$data->get_col_58_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_59' VALUE='WNL' '{$data->get_col_59_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_59' VALUE='ABN'  '{$data->get_col_59_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_59' VALUE='N/A' '{$data->get_col_59_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>Brief assessment of mental status including:</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_59_textbox' cols='30' rows='2'>{$data->get_col_59_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_60' VALUE='WNL' '{$data->get_col_60_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_60' VALUE='ABN'  '{$data->get_col_60_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_60' VALUE='N/A' '{$data->get_col_60_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>orientation to time, place and person</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_60_textbox' cols='30' rows='2'>{$data->get_col_60_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_61' VALUE='WNL' '{$data->get_col_61_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_61' VALUE='ABN'  '{$data->get_col_61_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_61' VALUE='N/A' '{$data->get_col_61_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>recent and remote memory</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_61_textbox' cols='30' rows='2'>{$data->get_col_61_textbox()}</textarea>
			</P>
		</TD>
	</TR>

	<TR>
		<TD WIDTH=100px>
		<table border=0 cellpadding=0 cellspacing=0>
			<tr>
			<td><INPUT TYPE=radio NAME='col_62' VALUE='WNL' '{$data->get_col_62_wnl()}'></td><td><span class='text'>WNL</span></td>
			<td><INPUT TYPE=radio NAME='col_62' VALUE='ABN'  '{$data->get_col_62_abn()}'></td><td><span class='text'>ABN</span></td>
			<td><INPUT TYPE=radio NAME='col_62' VALUE='N/A' '{$data->get_col_62_na()}'></td><td><span class='text'>N/A</span></td>
			</tr>
		</table>
		</TD>
		<TD WIDTH=162px>
			<P ALIGN=CENTER><span class='text'><BR/></span>
			</P>
		</TD>
		<TD WIDTH=161px>
			<P><span class='text'>mood and affect (eg, depression, anxiety, agitation)</span></P>
		</TD>
		<TD WIDTH=162px VALIGN=TOP>
			<P><textarea name='col_62_textbox' cols='30' rows='2'>{$data->get_col_62_textbox()}</textarea>
			</P>
		</TD>
	</TR>
</table>

<table border=0 cellpadding=0 cellspacing=20px>
	<tr>
		<td><input type="submit" name="Submit" value="Save Form"></td>
		<td><a href="{$DONT_SAVE_LINK}" class="link">[Don't Save]</a></td>
	</tr>
</table>

<input type="hidden" name="id" value="{$data->get_id()}" />
<input type="hidden" name="activity" value="{$data->get_activity()}">
<input type="hidden" name="pid" value="{$data->get_pid()}">
<input type="hidden" name="process" value="true">
</form>
</body>
</html>
