<html>
<head>
{php}html_header_show();{/php}
{literal}

 <style type="text/css" title="mystyles" media="all">
<!--
td {
	font-size:12pt;
	font-family:helvetica;
}
li{
	font-size:11pt;
	font-family:helvetica;
	margin-left: 15px;
}
a {
	font-size:11pt;
	font-family:helvetica;
}
.title {
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.form_text{
	font-family: sans-serif;
	font-size: 10pt;
	text-decoration: none;
	color: #000000;
}

-->
</style>
{/literal}
</head>
<body bgcolor="{$STYLE.BGCOLOR2}">
<p><span class="title">{xl t="Snellen Eye Exam"}</span></p>
<form name="snellen_peripheral" method="post" action="{$FORM_ACTION}/interface/forms/snellen_peripheral/save.php"
 onsubmit="return top.restoreSession()">
<table border='1px' cellspacing='2px'; cellpadding='2px'>

	<tr>
		<td><b>{xl t="Eye Vision}</b></td>
		<td><b>{xl t="Without Correction}</b></td>
		<td><b>{xl t="With Correction}</b></td>
	</tr>
	<tr>
		<td><b>{xl t="Left Eye"}</b></td>
		<td>20/<input type='text' size='2px' maxlength="2" name='left_1' value='{$data->get_left_1()}'></td>
		<td>20/<input type='text' size='2px' maxlength="2" name='left_2' value='{$data->get_left_2()}'></td>
	</tr>	
	<tr>
		<td><b>{xl t="Right Eye"}</b></td>
		<td>20/<input type='text' size='2px' maxlength="2" name='right_1' value='{$data->get_right_1()}'></td>
		<td>20/<input type='text' size='2px' maxlength="2" name='right_2' value='{$data->get_right_2()}'></td>
	</tr>
	<tr>
		<td><b>{xl t="Both Eyes"}</b></td>
		<td>20/<input type='text' size='2px' maxlength="2" name='both_1' value='{$data->get_both_1()}'></td>
		<td>20/<input type='text' size='2px' maxlength="2" name='both_2' value='{$data->get_both_2()}'></td>
	</tr>	
	<tr>
		<td><b>{xl t="Peripheral(L)"}</b></td>
		<td><input type='text' size='2px' maxlength="2" name='Peripheral_l1' value='{$data->get_Peripheral_l1()}'>{xl t="degrees"}</td>
		<td><input type='text' size='2px' maxlength="2" name='Peripheral_l2' value='{$data->get_Peripheral_l2()}'>{xl t="degrees"}</td>
	</tr>	
	<tr>
		<td><b>{xl t="Peripheral(R)"}</b></td>
		<td><input type='text' size='2px' maxlength="2" name='Peripheral_r1' value='{$data->get_Peripheral_r1()}'>{xl t="degrees"}</td>
		<td><input type='text' size='2px' maxlength="2" name='Peripheral_r2' value='{$data->get_Peripheral_r2()}'>{xl t="degrees"}</td>
	</tr>	

</table>
<table border='0' cellpadding='0' cellspacing='0' class='text'>
	<tr>
		<br><td><b>{xl t="Able to distinguish between: Red, Green, Amber colors"}:</b></td>
		<td>{html_radios name="colors" options=$data->get_options() selected=$data->get_colors() separator=""}</td>
	</tr>
</table>
<table border='0' cellpadding='0' cellspacing='0' class='text'>
	<tr>
		<td><b>{xl t="Monocular vision"}:</b></td>
		<td>{html_radios name="monocular" options=$data->get_options() selected=$data->get_monocular() separator=""}</td>
	</tr>
</table>
</p>
<table border='0' cellpadding='0' cellspacing='0' class='text'>
	<tr class='text'>
		<td><b>{xl t="NOTES"}</b></td>
	</tr>
	<tr class='text'>
		<td><textarea cols='80' rows='5' name='notes'>{$data->get_notes()}</textarea></td>
	</tr>
</table>

<table>
	<tr>
		<td>
			<input type="submit" name="Submit" value="{xl t="Save Form"}">
		</td>
		<td>
			<a href="{$DONT_SAVE_LINK}" class="link">{xl t="[Don't Save]"}</a>
		</td>
	</tr>
</table>
<input type="hidden" name="id" value="{$data->get_id()}" />
<input type="hidden" name="pid" value="{$data->get_pid()}">
<input type="hidden" name="process" value="true">
</form>
</body>
</html>
