<div class="f-controls">
	<div class="f-control f-global-control" data-f-toggle-control="labels" title="Toggle Labels">
		<svg>
			<use xlink:href="#f-icon-labels" />
		</svg>
	</div>
	<div class="f-control f-global-control" data-f-toggle-control="notes" title="Toggle Notes">
		<svg>
			<use xlink:href="#f-icon-notes" />
		</svg>
	</div>
	<div class="f-control f-global-control" data-f-toggle-control="code" title="Toggle Code">
		<svg>
			<use xlink:href="#f-icon-code" />
		</svg>
	</div>
</div>
