<!doctype html>
<html lang="en">
<head>
    {% include "@admin/partials/head.html.twig" %}
</head>
<body class="body_top">
{% include "@admin/partials/contextbar.html.twig" %}

<div class="container-fluid">
    <div class="row">
        {% include "@admin/partials/sidebar.html.twig" %}
        <div class="col-xs-12 col-sm-9 col-sm-offset-2 main-area">
            <form method='post' name='theform' id='theform' class='form-horizontal' action="{{ form_action }}">
                <div class="tab-content">
                    <input type="hidden" name="csrf_token_form" value="{{ csrf|e('html_attr') }}" />
                    {% for section in sections %}
                        {% include "@admin/partials/tab_pane.html.twig" %}
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>

{% include "@admin/partials/footer.html.twig" %}

</body>
</html>
