{% for result in results %}
    <td class='historicalvalues {% if is_edit %}d-none d-md-table-cell{% endif %}'>
        {% if useMetric %}
            {# we use the original value since everything is converted from metric and we want to check for the value #}
            {% if attribute(result, vitalsValue) != 0 %}
                {% if precision is defined %}
                    {{ attribute(result, vitalsValueMetric)|number_format(precision)|text }}
                {% else %}
                    {# Apply |xl if vitalsValueMetric might be a translatable string #}
                    {{ attribute(result, vitalsValueMetric)|xl|text }}
                {% endif %}
            {% endif %}
        {% else %} {# Not useMetric - this branch is taken for your BMI status historical values #}
            {% if attribute(result, vitalsValue) != 0 %}
                {% if precision is defined %}
                    {# This path assumes vitalsValue is numeric if precision is defined. #}
                    {# If vitalsValue could be textual here, this logic might need more refinement, #}
                    {# but typically BMI status ("Overweight") wouldn't have 'precision' defined. #}
                    {{ attribute(result, vitalsValue)|number_format(precision)|text }}
                {% else %}
                    {# Apply |xl as vitalsValue is likely a translatable string (e.g., BMI status) #}
                    {{ attribute(result, vitalsValue)|xl|text }}
                {% endif %}
            {% endif %}
        {% endif %}
    </td>
{% endfor %}
