{% for result in results %}
    <td class='historicalvalues {% if is_edit %}d-none d-md-table-cell{% endif %}'>
        {% if useMetric %}
            {# we use the original value since everything is converted from metric and we want to check for the value #}
            {% if attribute(result, vitalsValue) != 0 %}
                {% if precision is defined %}
                    {{ attribute(result, vitalsValueMetric)|number_format(precision)|text }}
                {% else %}
                    {{ attribute(result, vitalsValueMetric)|text }}
                {% endif %}
            {% endif %}
        {% else %}
            {% if attribute(result, vitalsValue) != 0 %}
                {% if precision is defined %}
                    {{ attribute(result, vitalsValue)|number_format(precision)|text }}
                {% else %}
                    {{ attribute(result, vitalsValue)|text }}
                {% endif %}
            {% endif %}
        {% endif %}
    </td>
{% endfor %}
