$colorname: "Pink";

$darkest: #C02E7E;
$darker: #CF398B;
$dark: #D962A3;
$mid: #DC71AC;
$midpale: #E8A0C7;
$pale: #FABBE1;
$midpalepale: #F3CFE3;
$palepale: #F7DFEC;
$palepurple: #E7E6F9;
$paler: #FBEFF5;
$midnightblue: #2F2F7D;
$white: #FFFFFF;

@import "../color_base";
