<p class="text-muted mb-3">{{ "No sub-observations have been added to this main observation"|xlt }}.</p>
<button type="button" class="btn btn-primary btn-add-sub-observation">
    <i class="fa fa-plus"></i> {{ "Add First Sub-observation"|xlt }}
</button>
