<html>
<head>
<title>{xlt t='DM2 Follow-up'}</title>
{headerTemplate}
</head>
<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h2>{xlt t='DM2 Follow-up'}</h2>
                <form name="dm2_fu_hpi_01" method="post"
                      action="{$FORM_ACTION}/interface/forms/dm2_fu_hpi_01/save.php"
                      onsubmit="return top.restoreSession()">
                    <input type="hidden" name="csrf_token_form" value="{$CSRF_TOKEN_FORM|attr}" />
                    <fieldset>
                        <legend>{xlt t='Date of Original DM2 Diagnosis'}</legend>
                        <div class="container">
                            <div class="form-group" >
                                <textarea name="date_of_original_dm2_diagnosis"
                                          class="form-control" cols="60" rows="1"
                                          onkeyup="top.isDM2FUEdit = true;">{$data->get_date_of_original_dm2_diagnosis()|text}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='Date of Last DM2 Visit'}</legend>
                        <div class="container">
                            <div class="form-group" >
                                <textarea name="date_last_dm2_visit" class="form-control" cols="60" rows="1"
                                          onkeyup="top.isDM2FUEdit = true;">{$data->get_date_last_dm2_visit()|text}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='DM2 Management Actions at Last Visit'}</legend>
                        <div class="container">
                            <div class="form-group">
                                <textarea name="dm2_mgmt_last_visit" class="form-control" cols="60" rows="4"
                                          onkeyup="top.isDM2FUEdit = true;">{$data->get_dm2_mgmt_last_visit()|text}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='Interval History & Timing (Symptoms, Blood Sugars, ER visits, Hospitalizations)'}</legend>
                        <div class="container">
                            <div class="form-group">
                                <textarea name="intv_hx_chngs_bs_er_hosp" class="form-control" cols="60" rows="6"
                                          onkeyup="top.isDM2FUEdit = true;">{$data->get_intv_hx_chngs_bs_er_hosp()|text}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='Severity and Significance of Symptoms, History, Observations'}</legend>
                        <div class="container">
                            <div class="form-group">
                                <textarea name="severity_significance" class="form-control" cols="60" rows="2"
                                          onkeyup="top.isDM2FUEdit = true;">{$data->get_severity_significance()|text}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>{xlt t='Diet and Exercise'}</legend>
                        <div class="container">
                            <div class="form-group">
                                <textarea name="pt_diet_exercise" class="form-control" cols="60" rows="2"
                                          onkeyup="top.isDM2FUEdit = true;">{$data->get_pt_diet_exercise()|text}</textarea>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary btn-save" name="Submit">{xlt t='Save'}</button>
                            <button type="button" class="btn btn-secondary btn-cancel" id="btnClose">{xlt t='Cancel'}</button>
                        </div>
                        <input type="hidden" name="id" value="{$data->get_id()|attr}" />
                        <input type="hidden" name="activity" value="{$data->get_activity()|attr}" />
                        <input type="hidden" name="pid" value="{$data->get_pid()|attr}" />
                        <input type="hidden" name="process" value="true" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    {literal}
    <script>
        const close = function() {
            if (top.isDM2FUEdit === true) {
                dlgopen('', '', 450, 125, '', '<div class="text-danger">{/literal}{xla t='Warning'}{literal}</div>', {
                    type: 'Alert',
                    html: '<p>{/literal}{xla t='Do you want to close the tabs?'}{literal}</p>',
                    buttons: [
                        {text: '{/literal}{xla t='Cancel'}{literal}', close: true, style: 'default btn-sm'},
                        {text: '{/literal}{xla t='Close'}{literal}', close: true, style: 'danger btn-sm', click: closeSoap},
                    ],
                    allowDrag: false,
                    allowResize: false,
                });
            } else {
                top.restoreSession();
                location.href = 'javascript:parent.closeTab(window.name, false)';
            }
        }

        const closeSoap = function() {
            top.isDM2FUEdit = false;
            top.restoreSession();
            location.href = 'javascript:parent.closeTab(window.name, false)';
        }
        $('#btnClose').click(close);
    </script>
    {/literal}
</body>
</html>
