name: Composer Require Checker

on:
  push:
    branches:
    - master
    - rel-*
    paths:
    - '**.php'
    - .composer-require-checker.json
    - .github/workflows/composer-require-checker.yml
    - composer.json
    - composer.lock
  pull_request:
    branches:
    - master
    - rel-*
    paths:
    - '**.php'
    - .composer-require-checker.json
    - .github/workflows/composer-require-checker.yml
    - composer.json
    - composer.lock
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'pull_request' && github.event.number || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  composer-require-checker:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Code
      uses: actions/checkout@v6

    - name: Setup PHP
      uses: ./.github/actions/setup-php-composer
      with:
        php-version: '8.2'
        extensions: bcmath, calendar, ctype, curl, dom, fileinfo, filter, gd, iconv, imagick, intl, json, ldap, libxml, mbstring, mysqli, openssl, pdo, pdo_mysql, phar, session, simplexml, soap, sockets, sodium, tokenizer, xml, xmlreader, xmlwriter, xsl, zip, zlib

    - name: Run Composer Require Checker
      run: composer require-checker
