name: Conventional Commits

on:
  pull_request:
    branches:
    - master
    - rel-*
    types:
    - opened
    - edited
    - synchronize

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'pull_request' && github.event.number || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:

  validate_pr_title:
    runs-on: ubuntu-24.04
    name: PR Title
    strategy:
      matrix:
        php-version: ['8.4']
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Setup PHP and Composer
      uses: ./.github/actions/setup-php-composer
      with:
        php-version: ${{ matrix.php-version }}
    - name: Validate PR title
      env:
        PR_TITLE: ${{ github.event.pull_request.title }}
      run: composer conventional-commits:check -- "$PR_TITLE"
