name: JS Unit Test

on:
  push:
    branches:
    - master
    - rel-*
  pull_request:
    branches:
    - master
    - rel-*

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:

  js_unit_test:
    runs-on: ubuntu-24.04
    name: JS Unit Test
    strategy:
      matrix:
        # Single-element matrix provides named variable and job title
        node-version: ['22']
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Install npm package
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - name: Get NPM Cache Directory
      id: npm-cache-dir
      run: |
        {
          printf 'dir='
          npm config get cache
        } >> "$GITHUB_OUTPUT"
    - name: Cache node modules
      uses: actions/cache@v4
      with:
        path: ${{ steps.npm-cache-dir.outputs.dir }}
        key: ${{ runner.os }}-node-${{ matrix.node-version }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-${{ matrix.node-version }}-
          ${{ runner.os }}-node-
    - name: NPM CI
      run: npm ci
    - name: Run Unit Tests
      run: npm run test:js
