name: Pre-commit

on:
  push:
    branches:
    - master
    - rel-*
    paths:
    - '.github/workflows/*.yml'
  pull_request:
    branches:
    - master
    - rel-*
    paths:
    - '.github/workflows/*.yml'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'pull_request' && github.event.number || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - uses: j178/prek-action@v1
      with:
        extra_args: "--all-files actionlint-docker"
