name: Styling

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:

  php_styling:
    runs-on: ubuntu-24.04
    name: PHP
    steps:
      - uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Report PHP Version
        run: php -v

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install php_codesniffer
        run: composer global require "squizlabs/php_codesniffer=3.*"

      - name: Check PHP Styling
        run: $HOME/.composer/vendor/bin/phpcs -p -n --extensions=php,inc --report-width=120 --standard=ci/phpcs.xml --report=full .

  css_styling:
    runs-on: ubuntu-24.04
    name: CSS
    steps:
      - uses: actions/checkout@v4

      - name: Install npm package
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: npm install
        run: npm ci

      - name: Check CSS Styling
        run: npm run stylelint

  js_linting:
    runs-on: ubuntu-24.04
    name: JS
    steps:
      - uses: actions/checkout@v4

      - name: Install npm package
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: npm install
        run: npm ci

      - name: Check JS Linting
        run: npm run lint:js
