name: Syntax

on:
  push:
    branches:
    - master
    - rel-*
  pull_request:
    branches:
    - master
    - rel-*

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        php: ['8.2', '8.3', '8.4', '8.5', '8.6']
    name: PHP ${{ matrix.php }}
    steps:
      - uses: actions/checkout@v5

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Report PHP Version
        run: php -v

      - name: Check PHP Syntax
        shell: bash
        run: git ls-files -z '*.inc' '*.php' | xargs -0 php -l >/dev/null
