td {
  text-align: left;
}

.eeReportHeader {
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight: bold;
  text-transform:uppercase;
}

.eeReportLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bold;
}

.eeReportLabelCS {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  text-transform: none;
  font-weight: bold;
}

.eeReportBody {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7px;
  text-transform: uppercase;
}

.eeReportBodyCS {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7px;
  text-transform: none;
  white-space: pre-wrap;  
}

.eeInput {
  font-family: Arial, Helvetica, sans-serif;
  font-size:10px;
  border: none;
  padding: 0;
  text-transform: none;
  color: #000000;
  background-color: #EAEAEA;
}

.eeInputFull {
  font-family: Arial, Helvetica, sans-serif;
  font-size:10px;
  border: none;
  width: 100%;
  padding: 0;
  text-transform: none;
  color: #000000;
  background-color: #EAEAEA;
}

.eeBigInput {
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight: bold;
  border: none;
  padding: 0;
  text-transform: none;
  color: #000000;
  background-color: #EAEAEA;
}

.eeLabel {
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight: bold;
  text-transform:uppercase;
}

.eeLabelCS {
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight: bold;
  text-transform:none;
}

.eeLabel2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:11px;
  font-weight: bold;
  text-transform:uppercase;
}

.eeLabelBorderB {
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight: bold;
  text-transform:uppercase;
  border-bottom: solid 1px #000055;
}

.eeLabelBorderLB {
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight: bold;
  text-transform:uppercase;
  border-left: solid 1px #000055;
  border-bottom: solid 1px #000055;
}

.eeReportBorderB {
  font-family: Arial, Helvetica, sans-serif;
  font-size:9px;
  font-weight: bold;
  text-transform:uppercase;
  border-bottom: solid 1px #000055;
}

.eeReportBorderLB {
  font-family: Arial, Helvetica, sans-serif;
  font-size:9px;
  font-weight: bold;
  text-transform:uppercase;
  border-left: solid 1px #000055;
  border-bottom: solid 1px #000055;
}

.eeLabelCSBorderLBR {
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight: bold;
  text-transform:none;
  border-left: solid 1px #000055;
  border-bottom: solid 1px #000055;
  border-right: solid 1px #000055;
}

.eeLabelCSBorderB {
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight: bold;
  text-transform:none;
  border-bottom: solid 1px #000055;
}

.eeLabelCSBorderLB {
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight: bold;
  text-transform:none;
  border-left: solid 1px #000055;
  border-bottom: solid 1px #000055;
}

.eeReportCSBorderB {
  font-family: Arial, Helvetica, sans-serif;
  font-size:9px;
  font-weight: bold;
  text-transform:none;
  border-bottom: solid 1px #000055;
}

.eeReportCSBorderLB {
  font-family: Arial, Helvetica, sans-serif;
  font-size:9px;
  font-weight: bold;
  text-transform:none;
  border-left: solid 1px #000055;
  border-bottom: solid 1px #000055;
}

.eeLabelBorderL {
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight: bold;
  text-transform:uppercase;
  border-left: solid 1px #000055;
}

.eeLabelCSBorderL {
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight: bold;
  text-transform:none;
  border-left: solid 1px #000055;
}

.eeLargeCS {
  font-family: Arial, Helvetica, sans-serif;
  font-size:10px;
  font-weight: bold;
  text-transform: none;
}

.eeGiant {
  font-family: Arial, Helvetica, sans-serif;
  font-size:28px;
  font-weight: normal;
  text-transform:uppercase;
}

.eeHuge {
  font-family: Arial, Helvetica, sans-serif;
  font-size:22px;
  font-weight: normal;
  text-transform:uppercase;
}

.eeHeader {
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight: bold;
  text-transform: none;
}

.eeInput2, input.eeInput2, textarea.eeInput2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:9px;
  width: 100%;
  border: none;
  padding: 0;
  text-transform: none;
  color: #000000;
  background-color: #EAEAEA;
}

.eeInput3, input.eeInput3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:8px;
  width: 100%;
  border: none;
  padding: 0;
  text-transform: none;
  color: #000000;
  background-color: #EAEAEA;
}

.eeInput4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:7px;
  border: none;
  padding: 0;
  text-transform: none;
  color: #000000;
  background-color: #EAEAEA;
}

.eeFullInput4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:7px;
  width: 100%;
  border: none;
  padding: 0;
  text-transform: none;
  color: #000000;
  background-color: #EAEAEA;
}

.eeBody {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

.eeBodyBorderAll {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  border: solid 1px black;
}

.eeBodyCS {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.eeBody2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  text-transform: uppercase;
}

.eeBody3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7px;
  text-transform: uppercase;
}

.eelink_submit {
  font-size: 9pt ! important;
  padding : 4px;
  border: 1px solid black;
  background-color: #cccccc;
}

.eeMainContainer {
  background-color: #CCEECC;
  overflow: hidden;
  border: solid 2px black;
  margin: 4px;
}

.eeMainContainerSpecial {
  background-color: #CCEECC;
  overflow: hidden;
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 2px black;
  border-bottom: none;
  margin: 4px;
}

.eePrintContainer {
  text-align: left;
  background-color: transparent;
  border: solid 2px black;
  margin: 4px;
  padding: 4px;
}

.eePrintContainerNoBorder {
  text-align: left;
  background-color: transparent;
  border: none;
  margin: 4px;
}

.eePrintContainerNoBottom {
  text-align: left;
  background-color: transparent;
  border-left: solid 2px black;
  border-top: solid 2px black;
  border-right: solid 2px black;
  margin: 4px;
}

.eeCollapseBar {
  text-align: center;
  overflow: hidden;
  background-color: #8CACBB;
  cursor: pointer;
}

.eePrintBar {
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.eeCollapseBox {
  background-color: #D9DEE0;
  text-align: center;
  overflow: hidden;
}

.eeCollapseBoxWhite {
  background-color: #FFFFFF;
  text-align: center;
  overflow: hidden;
}

.eeTextDiv {
  background-color: #FFFFFF;
  text-align: left;
  overflow: hidden;
  border: solid 1px #000055;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.eeInnerTable {
  border: solid 1px #000055;
  background-color: #FFFFFF;
}
